<!--<div class="container">
	<div class="main-wrap-team">
		<div class="signup-main">
			<div class="" style="font-size: 17px; text-align: justify; text-justify: inter-word; color: white; font-family: Ubuntu;" >
				<div style="padding:10px;">
					Popunjavanjem ove prijave ekipa se slaže sa pravilnikom lige, uslovima prijave I uslovima takmičenja.
					Depozit služi kao osiguranje da će ekipa dolaziti na termine I poštovati kalendar takmičenja. U suprotnom deo depozita u visini termina se oduzima za svako otkazivanje koje nije ispoštovano Pravilnikom. Depozit se plaća najkasnije nedelju dana pre početka liga. Ako ekipa iz bilo kog razloga odustane od takmičenja, a da isto nije završila, ili bude izbačena iz lige depozit se ne vraća.
					Prijave ekipe za BALF ligu se sastoji iz četiri koraka:<br><br>
					<div align="center">Korak 1</div><br>
					<div align="center">Pozvati jedan od brojeva za prijavu ekipa i zakazati termin za donošenje depozita</div><br><br>
					<div align="center">Korak 2</div><br>
					Prikupiti sve potrebne podatke od svojih igrača iz ekipe (ime i prezime, JMBG, e-mail i šifru koju žele da imaju). Ukoliko neko nema e-mail mora da ga napravi. E-mail je prilično jednostavno napraviti i ne zahteva puno vremena, ima više provajdera e-mail adresa a neki od najpopularnijih je gmail, yahoo mail, hotmail. Potrebno je otići smo na sajt nekih od njih i pratiti korake za pravljenje e-maila.<br><br>
					<div align="center">Korak 3</div><br>
					Predati depozit u dogovorenom terminu. Kada predate depozit dobijate token, to je broj od nekih 10 cifara, koji ćete uneti na kraju popunjene prijave na sajtu<br><br>
					<div align="center">Korak 4</div><br>
					Pošto je token vremenski ograničen imate nekoliko sati da popunite prijavu pre nego što on istekne, zato odmah po donošenju depozita unesite sve potrebne podatke i prijavite ekipu na našem sajtu www.balf.rs
					Ispunjavanjem ova četiri koraka  registrovali ste svoju ekipu za BALF ligu i postali ste učesnici takmičenja.<br>
					Uslovi za prijavu ekipe za BALF ligu su sledeci:<br>
					<span style="color: orange">Plaćanje depozita 7500din<br>
					Prijava najmanje 8 igrača<br>
					Potpisivanje Izjave<br>
					Donošenje fotokopija ličnih karti ili pasoša članova ekipe</span>
				</div>
			</div>
		</div>
	</div>
</div>-->