<head>
  <title><%= @language_2.sve_ekipe %>|<%= @organisation_info.organisation_name %></title>
</head>

<h1 align="center" class="name_surname_player"> <%= @language_2.sve_ekipe %></h1>

<div class="center">
	 <div class="player-stats-padding">
		<table class="player-stats">
			<%= render 'teams/team', obj: @teams %>
		</table>
	</div>
</div>