<head>
  	<title><%= @language.meni_registruj_ekipu %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<!-- <div class="name_surname_player">
		<h1 align="center">Registruj ekipu</h1>
	</div> -->
	<div id='wrapper'>
		<h1><%= @language.meni_registruj_ekipu %></h1>
	</div>

	<div class="container">
		<div class="main-wrap-team">
			<div class="signup-main">
				<h1><%= link_to @language_2.registracija_tima_sa_8_igraca, registruj_ekipu_path, class:"btn btn-primary btn-lg", style:"width:100%;" %></h1>
				<h1><%= link_to @language_2.registracija_tima_sa_10_igraca, new_ten_players_path, class:"btn btn-primary btn-lg", style:"width:100%;"  %></h1>
				<h1><%= link_to @language_2.registracija_tima_sa_12_igraca, new_twelve_players_path, class:"btn btn-primary btn-lg", style:"width:100%;"  %></h1>
				<h1><%= link_to @language_2.registracija_tima_sa_16_igraca, new_sixteen_players_path, class:"btn btn-primary btn-lg", style:"width:100%;"  %></h1>
			</div>	
		</div>
	</div>

	<div class="container">
		<%= render 'form' %>
	</div>
</body>