<head>
	<!-- Sa current_user.username stampamo username ulogovanog igraca -->
	<title>|<%= @organisation_info.organisation_name %></title> 
</head>
<body>
<div class="bg-match2">
	<div class="balf-gradient-background-transparent">
	<div class="player-profile">
		<div class="player-profile-kolone">
			<div class="box-row">
				<div class="box-cell prva">
					<div class="box-content">
						<div class="player-profile-image-div"><%= image_tag @team.avatar.url(:medium), :class => "player-profile-image" %>
						</div>
						<table class="player-profile-left-table">
							<tr>
								<td><%= @language_2.ime_ekipe %>:</td>
								<td><%= @ime_tima %></td>
							</tr>
							<!--<tr>
								<td>Odigranih mečeva:</td>
								<td><%= @broj_odigranih_meceva %></td>
							</tr>-->
							<tr>
								<td><%= @language.pobeda %>:</td>
								<td><%= @broj_pobeda_tima %></td>
							</tr>
							<tr>
								<td><%= @language.neresenih %>:</td>
								<td><%= @broj_neresenih_tima %></td>
							</tr>
							<tr>
								<td><%= @language.izgubljenih %>:</td>
								<td><%= @broj_izgubljenih_tima %></td>
							</tr>
							
							<tr>
								<td><%= @language_2.procenat_pobeda %>:</td>
								<% if @team_season.matches_played != 0 %>
								<td><%= @procenat_pobeda.round(2) %> %</td>
								<% else %>
								<td> 0 </td>
								<% end %>
							</tr>
							<tr>
								<td><%= @language_2.procenat_neresenih %>:</td>
								<% if @team_season.matches_played != 0 %>
								<td><%= @procenat_neresenih.round(2) %> %</td>
								<% else %>
								<td> 0 </td>
								<% end %>
							</tr>
							<tr>
								<td><%= @language_2.procenat_izgubljenih %>:</td>
								<% if @team_season.matches_played != 0 %>
								<td><%= @procenat_izgubljenih.round(2) %> %</td>
								<% else %>
								<td> 0 </td>
								<% end %>
							</tr>
							<!--<tr>
								<td>Postignutih golova:</td>
									<td><%= @team_season[:goals_scored] %></td>
							</tr>-->
							<tr>
								<td><%= @language.primljeno_golova %>:</td>
									<td><%= @team_season[:goals_received] %></td>
							</tr>
							<tr>
								<td><%= @language_2.suteva %>:</td>
									<td><%= @team_season[:shoots] %></td>
							</tr>
							<tr>
								<td><%= @language.bodova %>:</td>
									<td><%= @team_season[:points] %></td>
							</tr>
							<tr>
								<td>Facebook:</td>
									<td><a href=<%= @team.fb_url %>><%= image_tag("icons/facebook.png", :alt => "facebook", :width => "20px") %></a></td>
							</tr>
							<tr>
								<td>Experience:</td>
								<td><%= @team_season.expirience %></td>
							</tr>
						</table><br>
						<table class="player-profile-left-table">
							<tr>
								<th class="text-align: center"><%= link_to @language_2.team_stats, team_path(@team) %></th>
								<th class="text-align: center"><%= link_to @language_2.team_badges, team_badge_path(@team) %></th>
								<th class="text-align: center"><%= link_to @language_2.igraci, team_player_path(@team) %></th>
							</tr>
						</table>
					</div>
				</div>
				<!-- ********************************** -->
				<!-- Prva od tri kolone sa statistikama -->
				<!-- ********************************** -->
				<div class="box-cell druga">
					<!-- I -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<p><%= @language_2.odigrani_mecevi %></p>
						<a href="#" class="button button-circle button-royal"><%= @team_season[:matches_played] %></a>
					</div>
					<!-- II -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<p><%= @language.golova %></p>
						<a href="#" class="button button-circle button-primary"><%= @team_season[:goals_scored] %></a>
					</div>
					<!-- III -->
					<!--<div class="box-content graphs player-experience-container player-profile-centered biggie">
					</div>-->
				</div>

				<!-- *********************************** -->
				<!-- Druga od tri kolone sa statistikama -->
				<!-- *********************************** -->
				<div class="box-cell treca">
					<!-- I -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<p><%= @language.zutih_kartona %></p>
						<a href="#" class="button button-circle button-highlight"><%= @team_season[:total_yellow_cards] %></a>
					</div>
					<!-- II -->
					<div class="box-content">
						<ul class="graphs player-experience-container player-profile-centered biggie">			
					        <!-- 1. Boja unutrasnjeg kruga -->
					        <!-- 2. Boja unutrasnjeg prstena -->
					        <!-- 3. Boja spoljasnjeg prstena odredjena je u JavaScript-u circle-progress.js -->
					        <!-- 4. Sa data-fill-color u ovom html fajlu je odredjena boja progress kruga -->
							<p>EXPERIENCE</p>
				        	<li class="animated" data-provide="circular" data-fill-color="#60ff03" data-percent="true" data-initial-value="<%= @procenata_za_iduci_level %>" data-max-value="100" data-label=<%= "#{@level}" %> data-title="Level" data-dates="" style="width: 222px; height: 222px;">
							<!-- width: 272px; height: 272px -->
					        </li> 
						</ul>
					</div>
					<!-- III -->
					<!--<div class="box-content graphs player-experience-container player-profile-centered biggie">
					</div> -->
				</div>

				<!-- *********************************** -->
				<!-- Treca od tri kolone sa statistikama -->
				<!-- *********************************** -->
					<!-- I -->
				<div class="box-cell cetvrta">
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<p><%= @language.crvenih_kartona %></p> 
						<a href="#" class="button button-circle button-caution"><%= @team_season[:total_red_cards] %></a>
					</div>
					<!-- II -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<p><%= @language.asistencija %></p>
						<a href="#" class="button button-circle button-action"><%= @team_season[:assists] %></a>
					</div>
					<!-- III -->
					<!--<div class="box-content graphs player-experience-container player-profile-centered biggie">
					</div>-->
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</body>