<body>
	<%= render 'shared/errors', obj: @season %>
	<div class="main-wrap-team">
		<div class="signup-main">
			<%= form_for(@season, :html => {role: "form"}) do |f| %>

				<div class="signup-padding">
			    	<%= f.text_field :name, class: "polje border1", placeholder: "#{@language_2.unesi_naziv_sezone}", autofocus: true %>
			    </div>

		 		<div class>
					<div class>
	    				<%= f.submit class: "btn btn-primary btn-lg" %>
	  				</div>
	  			</div>
			<% end %>
		</div>
	</div>
</body>
