<head>
  <title><%= @language_2.sve_sezone %>|<%= @organisation_info.organisation_name %></title>
</head>

<h1 align="center" class="name_surname_player"> <%= @language_2.sve_sezone %></h1>

<div class="center">
	 <div class="player-stats-padding">
		<table class="player-stats">
			<%= render 'seasons/season', obj: @seasons %>
		</table>
	</div>
</div>