<% obj.each do |match| %>
			<tr class="OnlyforWeb" onclick='location.href="<%= match_path(match) %>"' >
				<td><%= match.match_date.strftime("%d. %m. %y") %></td>
				<td><%= match.match_date.strftime("%H:%M") %></td>
				<td><%= image_tag match.home_team.team.avatar.url(:logo), :width => "40px" %></td>
				<td><%= link_to match.home_team.team.name, team_path(match.home_team.team) %></td>
				<td><h2><%= "#{match.home_goals} - #{match.away_goals}" %></h2></td>
				<td><%= link_to match.away_team.team.name, team_path(match.away_team.team) %></td>
				<td><%= image_tag match.away_team.team.avatar.url(:logo), :width => "40px" %></td>
			</tr>
			<tr class="OnlyforHandheld" onclick='location.href="<%= match_path(match) %>"' >
				<td style="min-width: 80px">
					<%= match.match_date.strftime("%d. %m. %y") %><br>
					<%= match.match_date.strftime("%H:%M") %>
				</td>
				<td style="max-width: 80px; overflow: hidden;">
					<%= image_tag match.home_team.team.avatar.url(:logo), :width => "40px" %><br>
					<%= link_to match.home_team.team.name, team_path(match.home_team.team) %>
				</td>
				<td><h2 style="font-size: 15px; min-width: 65px;"><%= "#{match.home_goals} - #{match.away_goals}" %></h2></td>
				<td style="max-width: 80px; overflow: hidden;">
					<%= image_tag match.away_team.team.avatar.url(:logo), :width => "40px" %><br>
					<%= link_to match.away_team.team.name, team_path(match.away_team.team) %>
				</td>
			</tr>
<% end %>
