<head>
  	<title><%= @language_2.delegate_update %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<div class="h-padding">
		<h1 align="center"><%= @language_2.delegate_edit %></h1>
	</div>
	<div class="container">
		<%= render 'shared/errors', obj: @delegate %>
		<div class="main-wrap-team">
			<div class="signup-main">
				<%= form_for(@delegate, :html => {role: "form"}) do |f| %>
					
					<!-- Admin -->
					<div class="signup-padding">
				    	<%= f.text_field :name, class: "polje border1", placeholder: "#{@language_2.unesi_ime_delegata}", autofocus: true %>
				    </div>
				    <div class="signup-padding">
						<%= f.text_field :surname, class: "polje border1", placeholder: "#{@language_2.unesi_prezime_delegata}", autofocus: true %>
					</div>

			 		<div>
		    				<%= f.submit(@delegate.new_record? ? "#{@language_2.potvrdi}" : "#{@language_2.azuriraj_nalog}", class: "btn btn-primary btn-lg") %>
		  			</div>
				<% end %>
			</div>
		</div>
	</div>
</body>
