<head>
  <title><%= @language_info.all_delegates %>|<%= @organisation_info.organisation_name %></title>
</head>

<h1 align="center" class="name_surname_player"> <%= @language_info.all_delegates %></h1>

<div class="center">
	 <div class="player-stats-padding">
		<table class="player-stats">
			<%= render 'delegates/delegate', obj: @delegates %>
		</table>
	</div>
</div>