<!--Ovo je HTML za sistem za razmenu poruka-->
<div id='wrapper'>
    <h1><%= @language_2.poruke %></h1>
</div>

<div id="razmena_poruka">
<%= form_tag messages_path, method: :post do %>
  <div class="form-group">
    <%= label_tag 'message[subject]', '#{@language_2.naslov}' %>
    <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', '#{@language_2.poruka}' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'recipients', '#{@language_2.izaberi}' %>
    <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: false, class: 'form-control chosen-it' %>
  </div>
   <div class="submitdugme">
  <%= submit_tag '#{@language_2.posalji}', class: 'button-blue' %>
<% end %>
</div>
</div>
