<head>
	<!-- Sa current_user.username stampamo username ulogovanog igraca -->
	<title>|<%= @organisation_info.organisation_name %></title> 
</head>
<body>
<div class="bg-match2">
	<div class="balf-gradient-background-transparent">
	<div class="player-profile">
		<div class="player-profile-kolone">
			<div class="box-row">
				<div class="badges-box-cell prva">
					<div class="box-content">
						<div class="player-profile-image-div"><%= image_tag @team.avatar.url(:medium), :class => "player-profile-image" %>
						</div>
						<table class="player-profile-left-table">
							<tr>
								<td><%= @language_2.ime_ekipe %>:</td>
								<td><%= @ime_tima %></td>
							</tr>
							<tr>
								<td><%= @teambadges_language.prva_pobeda %>:</td>
								<% if @team_badge.prva_pobeda == true %>
									<td>1</td>
								<% else %>
									<td>0</td>
								<% end %>
							</tr>
							<tr>
								<td><%= @playerbadges_language.deset_golova_na_utakmici %>:</td>
								<td><%= @team_badge.dato_vise_od_10_golova %></td>
							</tr>
							<tr>
								<td><%= @teambadges_language.tri_uzastopne_pobede %>:</td>
								<td><%= @team_badge.tri_uzastopne_pobede %></td>
							</tr>
							<tr>
								<td><%= @teambadges_language.sedam_uzastopnih_pobeda %>:</td>
								<td><%= @team_badge.sedam_uzastopnih_pobeda %></td>
							</tr>
							<tr>
								<td><%= @teambadges_language.primljeno_0_golova %>:</td>
								<td><%= @team_badge.primljeno_0_golova %></td>
							</tr>
							<tr>
								<td><%= @teambadges_language.osvojena_liga %>:</td>
								<td><%= @osvojenaliga %></td>
							</tr>
							<tr>
								<td><%= @teambadges_language.sve_pobede_u_ligi %>:</td>
								<td><%= @team_badge.sve_pobede_u_ligi %></td>
							</tr>
							<tr>
								<td><%= @teambadges_language.pobeda_sa_10_golova_razlike %>:</td>
								<td><%= @team_badge.pobeda_sa_10_golova_razlike %></td>
							</tr>
							<tr>
								<td><%= @teambadges_language.sutevi_golovi_sto_posto %>:</td>
								<td><%= @team_badge.sutevi_golovi_sto_posto %></td>
							</tr>
							<tr>
								<td><%= @teambadges_language.osvojen_kup %>:</td>
								<td><%= @osvojenkup %></td>
							</tr>
						</table><br>
						<table class="player-profile-left-table">
							<tr>
								<th class="text-align: center"><%= link_to @language_2.team_stats, team_path(@team) %></th>
								<th class="text-align: center"><%= link_to @language_2.team_badges, team_badge_path(@team) %></th>
								<th class="text-align: center"><%= link_to @language_2.igraci, team_player_path(@team) %></th>
							</tr>
						</table>
					</div>
				</div>
				<!-- ********************************** -->
				<!-- Prva od cetiri kolone sa bedzevima    -->
				<!-- ********************************** -->
				<div class="badges-box-cell druga">
					<!-- 1) bedz za prvu pobedu -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @team_badge[:prva_pobeda] == true %>
							<%= image_tag("team_badges/ekipa_01.png", :size => "180x180", alt: "prva_pobeda") %>
						<% elsif @team_badge[:prva_pobeda] == false%>
							<%= image_tag("team_badges/ekipa_01.png", :size => "180x180", alt: "prva_pobeda", class: "grayscale_badge") %>
						<% end %>
					</div>

					<!-- 5) bedz za primljeno 0 golova -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @team_badge[:primljeno_0_golova] >= 1 %>
							<%= image_tag("team_badges/ekipa_09.png", :size => "180x180", alt: "primljeno_0_golova") %>
						<% elsif @team_badge[:primljeno_0_golova] == 0 || @team_badge[:primljeno_0_golova] == nil %>
							<%= image_tag("team_badges/ekipa_09.png", :size => "180x180", alt: "primljeno_0_golova", class: "grayscale_badge") %>
						<% end %>
					</div>

				</div>

				<!-- *********************************** -->
				<!-- Druga od cetiri kolone sa bedzevima    --> 
				<!-- *********************************** -->
				<div class="badges-box-cell treca">
					<!-- 2) bedz za dato vise od 10 golova -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @team_badge[:dato_vise_od_10_golova] >= 1 %>
							<%= image_tag("team_badges/ekipa_08.png", :size => "180x180", alt: "dato_vise_od_10_golova") %>
						<% elsif @team_badge[:dato_vise_od_10_golova] == 0 || @team_badge[:dato_vise_od_10_golova] == nil %>
							<%= image_tag("team_badges/ekipa_08.png", :size => "180x180", alt: "dato_vise_od_10_golova", class: "grayscale_badge") %>
						<% end %>
					</div>

					<!-- 6) bedz za osvojenu ligu -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @team_badge[:osvojena_liga] >= 1 %>
							<%= image_tag("team_badges/ekipa_05.png", :size => "300x160", alt: "osvojena_liga") %>
						<% elsif @team_badge[:osvojena_liga] == 0 || @team_badge[:osvojena_liga] == nil %>
							<%= image_tag("team_badges/ekipa_05.png", :size => "300x160", alt: "osvojena_liga", class: "grayscale_badge") %>
						<% end %>
					</div>

					<!-- 9) Efikasnost -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @team_badge[:sutevi_golovi_sto_posto] >= 1 %>
							<%= image_tag("team_badges/ekipa_10.png", :size => "180x180", alt: "sutevi_golovi_sto_posto") %>
						<% elsif @team_badge[:sutevi_golovi_sto_posto] == 0 || @team_badge[:sutevi_golovi_sto_posto] == nil %>
							<%= image_tag("team_badges/ekipa_10.png", :size => "180x180", alt: "sutevi_golovi_sto_posto", class: "grayscale_badge") %>
						<% end %>
					</div>


				</div>

				<!-- *********************************** -->
				<!-- Treca od cetiri kolone sa bedzevima    -->
				<!-- *********************************** -->
				<div class="badges-box-cell cetvrta">
					<!-- 3) bedz za 3 uzastopne pobede-->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @team_badge[:tri_uzastopne_pobede] >= 1 %>
							<%= image_tag("team_badges/ekipa_02.png", :size => "180x180", alt: "tri_uzastopne_pobede") %>
						<% elsif @team_badge[:tri_uzastopne_pobede] == 0 || @team_badge[:tri_uzastopne_pobede] == nil %>
							<%= image_tag("team_badges/ekipa_02.png", :size => "180x180", alt: "tri_uzastopne_pobede", class: "grayscale_badge") %>
						<% end %>
					</div>

					<!-- 7) bedz za sve pobede u ligi-->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @team_badge[:sve_pobede_u_ligi] >= 1 %>
							<%= image_tag("team_badges/ekipa_04.png", :size => "180x180", alt: "sve_pobede_u_ligi") %>
						<% elsif @team_badge[:sve_pobede_u_ligi] == 0 || @team_badge[:sve_pobede_u_ligi] == nil %>
							<%= image_tag("team_badges/ekipa_04.png", :size => "180x180", alt: "sve_pobede_u_ligi", class: "grayscale_badge") %>
						<% end %>
					</div>

					<!-- 10) bedz za osvojen kup -->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @team_badge[:osvojen_kup] >= 1 %>
							<%= image_tag("team_badges/ekipa_06.png", :size => "180x180", alt: "osvojen_kup") %>
						<% elsif @team_badge[:osvojen_kup] == 0 || @team_badge[:osvojen_kup] == nil %>
							<%= image_tag("team_badges/ekipa_06.png", :size => "180x180", alt: "osvojen_kup", class: "grayscale_badge") %>
						<% end %>
					</div>
				</div>

				<!-- *********************************** -->
				<!-- Cetvrta od cetiri kolone sa bedzevima    -->
				<!-- *********************************** -->
					<!-- 4) bedz za sedam uzastopnih pobeda -->
				<div class="badges-box-cell peta">
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @team_badge[:sedam_uzastopnih_pobeda] >= 1 %>
							<%= image_tag("team_badges/ekipa_03.png", :size => "180x180", alt: "sedam_uzastopnih_pobeda") %>
						<% elsif @team_badge[:sedam_uzastopnih_pobeda] == 0 || @team_badge[:sedam_uzastopnih_pobeda] == nil %>
							<%= image_tag("team_badges/ekipa_03.png", :size => "180x180", alt: "sedam_uzastopnih_pobeda", class: "grayscale_badge") %>
						<% end %>
					</div>

					<!-- 8) bedz za pobedu sa 10 golova razlike-->
					<div class="box-content graphs player-experience-container player-profile-centered biggie">
						<% if @team_badge[:pobeda_sa_10_golova_razlike] >= 1 %>
							<%= image_tag("team_badges/ekipa_07.png", :size => "180x180", alt: "pobeda_sa_10_golova_razlike") %>
						<% elsif @team_badge[:pobeda_sa_10_golova_razlike] == 0 || @team_badge[:pobeda_sa_10_golova_razlike] == nil %>
							<%= image_tag("team_badges/ekipa_07.png", :size => "180x180", alt: "pobeda_sa_10_golova_razlike", class: "grayscale_badge") %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</body>