<%= form_for(:user, :html => {role: "form"}, path: login_path) do |f| %>
	<div class="main-wrap">
		<div class="login-main">
			<%= f.email_field :email, class: "login-polje border1", placeholder: "#{@language.unesite_email}", autofocus: true %>
			<%= f.password_field :password, class: "login-polje border2", placeholder: "#{@language.unesite_sifru}", autocomplete: "off" %>
			<%= f.submit "", class: "send" %>
		</div>
	</div>
<% end %>