<%= render 'shared/errors', obj: @league %>
<div class="main-wrap-team">
	<div class="signup-main">
		<%= form_for(@league, :html => {role: "form"}) do |f| %>

			<div class="signup-padding">
		    	<%= f.text_field :name, class: "polje border1", placeholder: "Unesi naziv lige", autofocus: true %>
		    </div>

	 		<div class>
				<div class>
    				<%= f.submit class: "btn btn-primary btn-lg" %>
  				</div>
  			</div>
		<% end %>
	</div>
</div>
