<head>
  <title>4+1 leagues|BALF</title>
</head>

<!-- <h1 align="center" class="name_surname_player">4+1 leagues</h1> -->

<div id='wrapper'>
  <h1>4+1 leagues</h1>
</div>

<div class="center">
	 <div class="player-stats-padding">
		<table class="player-stats">
			<%= render 'leagues/league', obj: @four_plus_one_leagues %>
		</table>
	</div>
</div>