<head>
  <title><%= @league.name %>|BALF</title>
</head>
<body>
	<h1 align="center" class="name_surname_player"> <%= @league.name %></h1>

	<!-- <h3 align="center" style="color:whitesmoke"> Informacije i Statistika</h3> -->
	<div class="center">

		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<th>Position</th>
				<th>Team name</th>
				<th>Pts</th>
			</tr>
			<%= render 'leagues/team', obj: @matches %>
			</table>
		</div>
	</div>
</body>