/*  MICROTHEMER STYLES  */


/*= Header ==================== */

/** Header » karaburma **/
h1.post-title a {
	background-image: none !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-clip: padding-box !important;
	width: 100% !important;
	min-width: 100% !important;
	max-width: 100% !important;
}

/*= Pages ===================== */

/** Pages » logo pravi **/
figure.clearfix img {
	max-width: 300px !important;
}

/** Pages » ime kluba novo **/
h1 {
	font-family: Impact !important;
	text-align: center !important;
	letter-spacing: 3px !important;
}

/** Pages » grb svii **/
article.type-sp_team figure.post-image {
	text-align: center !important;
}

/** Pages » naslov h4 **/
h4.sp-table-caption {
	text-align: center !important;
}

/** Pages » rezultat **/
div.sp-event-logos {
	font-family: Impact !important;
	color: rgb(255, 255, 255) !important;
	font-size: 70px !important;
	font-weight: 900 !important;
	background-color: rgba(9, 9, 9, 0.9) !important;
	height: 200px !important;
	padding-top: 60px !important;
	border-top-color: rgb(0, 0, 0) !important;
	border-right-color: rgb(0, 0, 0) !important;
	border-bottom-color: rgb(0, 0, 0) !important;
	border-left-color: rgb(0, 0, 0) !important;
	border-top-width: 2px !important;
	border-right-width: 2px !important;
	border-bottom-width: 2px !important;
	border-left-width: 2px !important;
	border-top-style: solid !important;
	border-right-style: solid !important;
	border-bottom-style: solid !important;
	border-left-style: solid !important;
	-webkit-border-radius: 10px 10px 10px 10px !important;
	-moz-border-radius: 10px 10px 10px 10px !important;
	border-radius: 10px 10px 10px 10px !important;
		background: -webkit-gradient(linear, center top, center bottom, from(rgb(7, 7, 7)), color-stop(50%, rgb(24, 22, 22)), to(rgb(46, 43, 43))), rgba(9, 9, 9, 0.9) !important;
	background: -webkit-linear-gradient(-90deg, rgb(7, 7, 7), rgb(24, 22, 22) 50%, rgb(46, 43, 43)), rgba(9, 9, 9, 0.9) !important;
	background: -moz-linear-gradient(-90deg, rgb(7, 7, 7), rgb(24, 22, 22) 50%, rgb(46, 43, 43)), rgba(9, 9, 9, 0.9) !important;
	background: -ms-linear-gradient(-90deg, rgb(7, 7, 7), rgb(24, 22, 22) 50%, rgb(46, 43, 43)), rgba(9, 9, 9, 0.9) !important;
	background: -o-linear-gradient(-90deg, rgb(7, 7, 7), rgb(24, 22, 22) 50%, rgb(46, 43, 43)), rgba(9, 9, 9, 0.9) !important;
	background: linear-gradient(180deg, rgb(7, 7, 7), rgb(24, 22, 22) 50%, rgb(46, 43, 43)), rgba(9, 9, 9, 0.9) !important;
	-pie-background: linear-gradient(-90deg, rgb(7, 7, 7), rgb(24, 22, 22) 50%, rgb(46, 43, 43)), rgba(9, 9, 9, 0.9) !important;
}

/** Pages » tabela **/
tbody {
	font-size: 20px !important;
	line-height: 2.5 !important;
}

/** Pages » naslov tabele **/
table.sp-league-table th {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(33, 33, 33) !important;
	height: 40px !important;
}

/** Pages » naziv kluba samo **/
table.sp-league-table th.data-name {
	padding-left: 40px !important;
}

/** Pages » luka u statistici **/
table#DataTables_Table_0 img.wp-post-image {
	display: block !important;
	overflow: visible !important;
	cursor: auto !important;
}


/*[ Phone ]*/
@media (max-width: 480px) {

	/*= Pages ===================== */

	/** Pages » rezultat **/
	div.sp-event-logos {
		font-size: 50px !important;
		background-color: rgba(9, 9, 9, 0.9) !important;
		height: 450px !important;
			background: -webkit-gradient(linear, center top, center bottom, from(rgb(7, 7, 7)), color-stop(50%, rgb(15, 14, 14)), to(rgb(32, 31, 31))), rgba(9, 9, 9, 0.9) !important;
		background: -webkit-linear-gradient(-90deg, rgb(7, 7, 7), rgb(15, 14, 14) 50%, rgb(32, 31, 31)), rgba(9, 9, 9, 0.9) !important;
		background: -moz-linear-gradient(-90deg, rgb(7, 7, 7), rgb(15, 14, 14) 50%, rgb(32, 31, 31)), rgba(9, 9, 9, 0.9) !important;
		background: -ms-linear-gradient(-90deg, rgb(7, 7, 7), rgb(15, 14, 14) 50%, rgb(32, 31, 31)), rgba(9, 9, 9, 0.9) !important;
		background: -o-linear-gradient(-90deg, rgb(7, 7, 7), rgb(15, 14, 14) 50%, rgb(32, 31, 31)), rgba(9, 9, 9, 0.9) !important;
		background: linear-gradient(180deg, rgb(7, 7, 7), rgb(15, 14, 14) 50%, rgb(32, 31, 31)), rgba(9, 9, 9, 0.9) !important;
		-pie-background: linear-gradient(-90deg, rgb(7, 7, 7), rgb(15, 14, 14) 50%, rgb(32, 31, 31)), rgba(9, 9, 9, 0.9) !important;
	}

	/** Pages » tabela **/
	tbody {
		font-size: 15px !important;
	}
}