@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
.so-widget-sow-headline-default-97ca54c16c62 .sow-headline-container h2.sow-headline {
  font-family: Open Sans;
  font-weight: 700;
  text-align: center;
  color: #000000;
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-97ca54c16c62 .sow-headline-container h3.sow-sub-headline {
  text-align: center;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-97ca54c16c62 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.so-widget-sow-headline-default-97ca54c16c62 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px none #EEEEEE;
  width: 100%;
  max-width: 840px;
}
.so-widget-sow-headline-default-97ca54c16c62 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-97ca54c16c62 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}