.themify_builder .text-67-0-1-1.module-text { font-size: 12px; text-align: center;  } 
.themify_builder .text-67-0-1-2.module-text { font-size: 25px;  } 
/* .module_row_4 .module_column_0.tb_67_column Style */
.module_row_4 .module_column_0.tb_67_column.module_column {
	background-color: #000000
}

.themify_builder .text-67-4-0-1.module-text { background-color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 20px; line-height: 5px; text-align: center;  } 
/* .module_row_4 .module_column_1.tb_67_column Style */
.module_row_4 .module_column_1.tb_67_column.module_column {
	background-color: #0a0a0a
}

.themify_builder .text-67-4-1-1.module-text { font-size: 20px; line-height: 5px;  } 
.themify_builder .text-67-4-2-1.module-text { background-color: #000000; font-size: 20px; line-height: 5px;  } 
.themify_builder .text-67-4-3-1.module-text { background-color: #0a0a0a; font-size: 20px; line-height: 5px;  } 
/* .themify_builder_67_row.module_row_5 Style */
.themify_builder_67_row.module_row_5.module_row {
	text-align: center
}

.themify_builder .text-67-6-1-1.module-text { font-size: 20px;  } 
.themify_builder .text-67-6-1-2.module-text { font-family: Gentium Book Basic; font-size: 32px; line-height: 10px;  } 
.themify_builder .text-67-6-1-3.module-text { font-family: \\\'Lucida Sans Unicode\\\', \\\'Lucida Grande\\\', sans-serif; font-size: 12px;  } 
.themify_builder .map-67-6-1-4.module-map { margin-top: -15px;  } 
