/* Themify Customize Styling */
#headerwrap {	
	background-color: transparent; 
}
#site-logo, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo img {		width: 50px; 
}
#site-logo, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {		width: 50px; 
}
#site-description {	display: none; 
}
#main-nav a {	
	background-color: #000000;
	background-color: rgba(0,0,0,1.00); 
}
#main-nav a, #main-nav > li > a {	
	color: #ffffff;
	color: rgba(255,255,255,1.00); 
}
#main-nav a:hover, #main-nav > li > a:hover {	
	color: #e09a04;
	color: rgba(224,154,4,1.00); 
}
#main-nav .current_page_item a, #main-nav .current-menu-item a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #ffffff;
	color: rgba(255,255,255,1.00); 
}
#main-nav ul {	
	background-color: #000000;
	background-color: rgba(0,0,0,1.00); 
}
#main-nav ul a, #main-nav .current_page_item ul a, #main-nav ul .current_page_item a, #main-nav .current-menu-item ul a, #main-nav ul .current-menu-item a {	
	color: #ffffff;
	color: rgba(255,255,255,1.00); 
}
#main-nav ul a:hover, #main-nav .current_page_item ul a:hover, #main-nav ul .current_page_item a:hover, #main-nav .current-menu-item ul a:hover, #main-nav ul .current-menu-item a:hover {	
	color: #e09a04;
	color: rgba(224,154,4,1.00); 
}
#footerwrap {	
	background-color: #474644;
	background-color: rgba(71,70,68,1.00);
	padding: 5px; 
}
#footer {	
	color: #000000;
	color: rgba(0,0,0,1.00); 
}
#footer a {	
	color: #ffffff;
	color: rgba(255,255,255,1.00); 
}
