<%= month_calendar events: @matches do |date, matches| %>
  <h2><%= date.strftime("%d") %></h2>

	<% matches.each do |match| %>
		<%= link_to match_path(match) do %>
			<div>
				<p><%= image_tag match.home_team.team.avatar.url(:thumb), width:"30px" %> <%= "#{match.home_team.team.name}" %></p>
				<p>vs</p>
				<p><%= image_tag match.away_team.team.avatar.url(:thumb), width:"30px" %> <%= "#{match.away_team.team.name}" %></p>
			</div>
		<% end %>
	<% end %>
<% end %>