<head>
  	<title><%= @language_2.dodaj_faul %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<div class="h-padding">
		<h1 align="center"><%= @language_2.dodaj_faul %></h1>
	</div>
	<div class="container">
		<%= render 'form' %>
	</div>
</body>
