<% obj.each do |article| %>
	<div class="grid">
	  <div class="card">
	    <div class="card__image">
	      <%=  image_tag(article.avatar.url, width:"373px")%>

	      <div class="card__overlay card__overlay--indigo">
	        <div class="card__overlay-content">
	          <ul class="card__meta">
	            <li><a href="#0"><i class="fa fa-tag"></i></a></li>
	            <li></li>
	          </ul>

	          <a href="#0" ><%= link_to article.title, article_path(article), class: "card__title"%></a>

	          <ul class="card__meta card__meta--last">
	            <li class="fa fa-user"><%= article.user.username if article.user %></li>
	            <li><a href="#0"><i class="fa fa-facebook-square"></i> <%= @language_2.share %></a> <a href="#0"><i class="fa fa-clock-o"></i>Created: <%= time_ago_in_words(article.created_at) %> ago</a></li>
				<% if logged_in? && current_user == article.user %>
					<li><%= link_to @language_2.edit_this_article, edit_article_path(article), class: "btn btn-xs btn-primary" %></li>
					<li><%= link_to @language_2.delete_this_article, article_path(article), method: :delete,
					 									data:{ confirm:"#{@language_2.delete_article_confirmation}" },
					 									class: "btn btn-xs btn-danger" %></li>
				<% end %>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>

