<%= render 'shared/errors', obj: @article %>
<div class="OnlyforWeb">
	<div style="margin: 0 auto; width: 60%">
		<%= form_for(@article, :html => {class:"form-horizontal", role: "form"}) do |f| %>
		  <div class="form-group" style="width: 100%; margin: 0 auto;">
		    <label><%= @language_2.my_articles %></label>
		    <%= f.text_field :title, class: "form-control", placeholder:  "#{@language_2.naslov}", autofocus: true %>
		  </div>
		  <div class="form-group" style="width: 100%; margin: 0 auto;">
		    <label><%= @language_2.sadrzaj %></label>
		    <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "#{@language_2.sadrzaj}" %>
		  </div>
		  <div class="form-group" style="width: 100%; margin: 0 auto;">
		    <label><%= @language_2.dodaj_sliku %></label>
		    <%= f.file_field :avatar%>
		  </div>
		  <%= f.submit class: "btn btn-primary btn-lg" %>
		<% end %>
		<div class="form-group">
			 <%= link_to "#{@language_2.delete_this_article and @language_2.view_all_articles}", articles_path %> <br>
			<%= link_to @language_2.show, @article %> | <%= link_to @language_2.back, articles_path %>
		</div>
	</div>
</div>

<div class="OnlyforHandheld">
	<div style="margin: 0 auto; padding-left: 5px; padding-right: 5px; padding-top: 10px; max-width: 100%">
		<%= form_for(@article, :html => {class:"form-horizontal", role: "form"}) do |f| %>
		  <div class="form-group" style="width: 100%; margin: 0 auto;">
		    <label><%= @language_2.my_articles %></label>
		    <%= f.text_field :title, class: "form-control", placeholder: "#{@language_2.naslov}", autofocus: true %>
		  </div>
		  <div class="form-group" style="width: 100%; margin: 0 auto;">
		    <label><%= @language_2.sadrzaj %></label>
		    <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "#{@language_2.sadrzaj}" %>
		  </div>
		  <div class="form-group" style="width: 100%; margin: 0 auto;">
		    <label><%= @language_2.dodaj_sliku %></label>
		    <%= f.file_field :avatar %>
		  </div>
		  <%= f.submit class: "btn btn-primary btn-lg" %>
		<% end %>
		<div class="form-group">
			[ <%= link_to "#{@language_2.delete_this_article and @language_2.view_all_articles}", articles_path %> ]<br>
			<%= link_to @language_2.show, @article %> | <%= link_to @language_2.back, articles_path %>
		</div>
	</div>
</div>

<!--<div class="row">
	<div class="col-xs-12">
		<%= form_for(@article, :html => {class:"form-horizontal", role: "form"}) do |f| %>
  	 		<div class="form-group-edit">
  	 			<div class="control-label col-sm-2">
    				<%= f.label :title %><br>
    			</div>
    			<div class="col-sm-8">
    				<%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
  				</div>
  			</div>	
			<div class="form-group-edit">
				<div class="control-label col-sm-2">
					<%= f.label :description %><br>
				</div>
				<div class="col-sm-8">
					<%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article" %>
  				</div>
  			</div>
  			<div>
  				<%= f.file_field :avatar %>
  			</div>
  			<div class="form-group-edit">
				<div class="col-sm-8">
		    		<%= f.submit class: "btn btn-primary btn-lg" %>
		  		</div>
		  	</div>
		<% end %>

	</div>
</div>-->