<% obj.each do |article| %>
	<figure class="snip1206">
		<div class="homenewsimage">
			<%=  image_tag(article.avatar.url)%>
		</div>
		<figcaption>
			<h2><%= article.title %></h2>
			<p><%= truncate(article.description, length:50) %></p>
		</figcaption>
			<%= link_to '', article_path(article)%>
	</figure>
<% end %>