<head>
  <title><%= @language_2.izmeni_clanak %>|<%= @organisation_info.organisation_name %></title>
</head>

<div id='wrapper'>
	<h1><%= @language_2.izmeni_clanak %></h1>
</div>
<%= render 'form' %>

