<head>
	<title><%= @language_2.create_article %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<h1 align="center"><%= @language_2.create_article %></h1>
	<%= render 'form' %>
</body>

