<% @stadions.each do |stadion| %>
	<div class="grid">
	  <div class="card">
	    <div class="card__image">
	    	<%=  image_tag(stadion.avatar.url, width:"373px")%>
		      <div class="card__overlay">
		        <div class="card__overlay-content">
		          <a href="#0" class="card__title" style="background: rgba(27, 27, 27, 0.22); border-radius:10px; padding: 5px;"><%= stadion.name %></a>
					<ul class="card__meta card__meta--last">
	            		<li style="font-size: 18px; background: rgba(27, 27, 27, 0.22); border-radius:10px; padding: 5px;"><%= stadion.address %></li>
	            	</ul>
	            </div>
	          </div>
		</div>
	  </div>
	</div>
<% end %>