<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="OnlyforWeb">
	<div class="CSSgal">
		<!-- Don't wrap targets in parent -->
		<s id="s1"></s> 
		<s id="s2"></s>
		<s id="s3"></s>
		<s id="s4"></s>
		<s id="s5"></s> 
		<s id="s6"></s>
		<s id="s7"></s>
		<s id="s8"></s>
		<s id="s9"></s>

		<div class="slider">
			<%= render 'welcome/stadion'%>
		</div>

		<div class="prevNext">
			<div><a href="#s9" style="font-size: 2em"><</a><a href="#s2" style="font-size: 2em">></a></div>
			<div><a href="#s1" style="font-size: 2em"><</a><a href="#s3" style="font-size: 2em">></a></div>
			<div><a href="#s2" style="font-size: 2em"><</a><a href="#s4" style="font-size: 2em">></a></div>
			<div><a href="#s3" style="font-size: 2em"><</a><a href="#s5" style="font-size: 2em">></a></div>
			<div><a href="#s4" style="font-size: 2em"><</a><a href="#s6" style="font-size: 2em">></a></div>
			<div><a href="#s5" style="font-size: 2em"><</a><a href="#s7" style="font-size: 2em">></a></div>
			<div><a href="#s6" style="font-size: 2em"><</a><a href="#s8" style="font-size: 2em">></a></div>
			<div><a href="#s7" style="font-size: 2em"><</a><a href="#s9" style="font-size: 2em">></a></div>
			<div><a href="#s8" style="font-size: 2em"><</a><a href="#s1" style="font-size: 2em">></a></div>
		</div>

		<div class="bullets">
			<a href="#s1"></a>
			<a href="#s2"></a>
			<a href="#s3"></a>
			<a href="#s4"></a>
			<a href="#s5"></a>
			<a href="#s6"></a>
			<a href="#s7"></a>
			<a href="#s8"></a>
			<a href="#s9"></a>
		</div>
	</div>
</div>

<div class="OnlyforHandheld">
	<div class="container articles-content">
		<%= render 'stadion'%>
	</div>
</div>
</body>

