<!--Ovo je HTML za sistem za razmenu poruka-->



   <tr> 
      <td > <%= render 'conversations/participants', conversation:   conversation %></td>
      
      <td >
         <%= link_to conversation.subject[0..20], conversation_path(conversation)%></td>
      
      <td><%= conversation.last_message.body %></td>
      <td> <small><span class="text-muted"><%= conversation.last_message.created_at.strftime"( %-d %B %Y, %H:%M:%S )" %></span></small></td>
      
      <td><div class="btn-group-vertical pull-right">
            <% if conversation.is_trashed?(current_user) %>
                <%= link_to @language_2.restore, restore_conversation_path(conversation), class: 'btn btn-xs btn-info', method: :post %>
            <% else %>
                <%= link_to @language_2.kanta, conversation_path(conversation), class: 'btn btn-xs btn-danger', method: :delete,
                    data: {confirm: '#{@language_2.are_you_sure}'} %>
         
                <% if conversation.is_unread?(current_user) %>
                      <%= link_to 'Mark as read', mark_as_read_conversation_path(conversation),
                      class: 'btn btn-xs btn-info', method: :post %>
                <% end %>
            <% end %>
                  
          </div>
              
      </td>
      
    </tr>
