<!--Ovo je HTML za sistem za razmenu poruka-->

<% conversation.participants.each do |participant| %>
  	<% unless participant == current_user %>
   		<% if participant.player %>
    		<%= "#{participant.player[:name]} #{participant.player[:surname]}"  %>
		<% elsif participant.delegate %>
			<%= "#{participant.delegate[:name]} #{participant.delegate[:surname]}" %>
		<% elsif participant.admin %>
			<%= "#{participant.admin[:name]} #{participant.admin[:surname]}" %>
		<% end %>
  	<% end %>
<% end %>