<head>
  <title><%= @league.name %>|BALF</title>
</head>
<body>
	<div id='wrapper'>
		<h1><%= @league.name %></h1>
	</div>
	<div class="container articles-content">
		<% if @articles != nil %>
			<%= render 'articles/article', obj: @articles %>
			<%= will_paginate @articles %>
		<% end %>
	</div>

	<div class="center"> 
		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<th class="OnlyforWeb"><%= @language.pozicija_skraceno %></th><th class="OnlyforHandheld">P</th> <!-- Pozicija -->
				<th class="OnlyforWeb">	</th>
				<th>Naziv ekipe</th>
				<th><%= @language.nastupa_skraceno %></th>   <!-- Odigranih -->
				<th><%= @language.nastupa_skraceno %></th>   <!-- Pobeda -->
				<th><%= @language.pobeda_skraceno %></th>   <!-- Neresenih -->
				<th><%= @language.izgubljenih_skraceno %></th>   <!-- Izgubljenih -->
				<th><%= @language.dato_golova_skraceno %></th>  <!-- Dato Golova -->
				<th class="OnlyforWeb"><%= @language.gol_razlika_skraceno %></th>  <!-- Gol razlika -->
				<th><%= @language.primljeno_golova_skraceno %></th>  <!-- Primljeno Golova -->
				<th><%= @language.bodova_skraceno %></th> <!-- Pts -->
			</tr>
			<% if @team_seasons != nil %>
				<%= render 'leagues/team', obj: @team_seasons.sort_by{|e| -e[:points]} %>
			<% end %>
			</table>
		</div>
	</div>

	<div class="center">
		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<th class="OnlyforWeb"><%= @language.pozicija_skraceno %></th><th class="OnlyforHandheld">P</th>
				<th class="OnlyforWeb"></th>
				<th><%= @language.igrac %></th>
				<th><%= @language.ekipa %></th>
				<th class="OnlyforWeb"><%= @language.golova %></th><th class="OnlyforHandheld"><%= @language.golova_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.asistencija %></th><th class="OnlyforHandheld"><%= @language.asistencija_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.zutih_kartona %></th><th class="OnlyforHandheld"><%= @language.zutih_kartona_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.crvenih_kartona %></th><th class="OnlyforHandheld"><%= @language.crvenih_kartona_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.nastupa %></th><th class="OnlyforHandheld"><%= @language.nastupa_skraceno %></th>
			</tr>
			<% if @player_seasons != nil %>
				<%= render 'stats/player', obj: @player_seasons.sort_by{|e| e[:position]}[0..4] %>
			<% end %>
			</table>
		</div>
	</div>
<div id="commontator-league-pages">
	<%= commontator_thread(@league) %>
	</div>
</body>