<%= render 'shared/errors', obj: @user %>
<div class="main-wrap-team">
	<div class="signup-main">
		<%= form_for(@user, :html => {class:"form-horizontal", role: "form"}) do |f| %>
			
			<!-- Player -->
			<div class="signup-padding">
				<%= f.text_field :username, class: "polje border1", placeholder: "#{@language_2.enter_new_username}", autofocus: true %>
		    </div>
			<div class="signup-padding">
				<%= f.text_field :email, class: "polje border1", placeholder: "#{@language_2.enter_new_email}", autofocus: true %>
		    </div>
		    <div class="signup-padding">
		    	<%= f.password_field :password, class: "polje border1", placeholder: "#{@language_2.enter_new_password}" %>
			</div>

	 		<div class>
				<div class>
    				<%= f.submit(@user.new_record? ? "Submit" : "Update account", class: "btn btn-primary btn-lg") %>
  				</div>
  			</div>
		<% end %>
	</div>
</div>
