<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>	
	<div class="main-wrap">
		<div class="login-main">
			<%= f.email_field :email, class: "login-polje border1", placeholder: @language.unesite_email, autofocus: true %>
			<%= f.password_field :password, class: "login-polje border2", placeholder: @language.unesite_sifru, autocomplete: "off" %>
			<%= f.submit "", class: "send" %>
		</div>
	</div>
<% end %>