<div id="wrapper">
	<h1><%= @language_2.svi_korisnici %></h1>
</div>

<div class="OnlyforWeb">
	<div class="users-table">
		<table class="users-container">
			<tr>
				<th><span style="padding-left: 10px"><%= @language_2.ime_i_prezime %></span></th>
				<th><span style="padding-left: 10px; text-align: center;"><%= @language.ekipa %></span></th>
				<th>	</th>
			</tr>
				<%= render 'users/user' %>
		</table>
		<div style="padding-left: 35%; padding-right: 35%;">
			<%= will_paginate @users %>
		</div>
	</div>
</div>
<div class="OnlyforHandheld">
	<div style="padding-bottom: 180px">
		<table class="player-stats">
			<tr>
				<th><span style="padding-left: 10px"><%= @language_2.ime_i_prezime %></span></th>
				<th><span style="padding-left: 10px; text-align: center;"><%= @language.ekipa %></span></th>
				<th>	</th>
			</tr>
				<%= render 'users/user' %>
		</table>
		<div style="width:100%">
			<%= will_paginate @users %>
		</div>
	</div>
</div>




