<head>
	<title><%= @language_2.moji_clanci %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<!-- <div class="name_surname_player">
		<h1 align="center">Vesti</h1>
	</div> -->
	<div id='wrapper'>
		<h1><%= @language_2.moji_clanci %></h1>
	</div>
	<div class="container articles-content">
		<%= render 'articles/article', obj: @articles %>
		<%= will_paginate @articles %>
	</div>

</body>