<% obj.each do |match| %>
	<tr onclick='location.href="<%= match_path(match) %>"' class="OnlyforWeb">
		<td><%= match.match_date.strftime("%d. %m. %y") %></td>
		<td><%= match.match_date.strftime("%H:%M") %></td>
		<td><%= link_to match.home_team.team.name, team_path(match.home_team.team) %></td>
		<td><%= image_tag match.home_team.team.avatar.url(:logo), :class => "width: 40px;" %></td> <!-- Slika ekipe -->
		<td style="min-width:117px;"><h2><%= "#{match.home_goals} - #{match.away_goals}" %></h2></td>
		<td><%= image_tag match.away_team.team.avatar.url(:logo), :class => "width: 40px;" %></td> <!-- Slika ekipe -->
		<td><%= link_to match.away_team.team.name, team_path(match.away_team.team) %></td>
		<td><%= @tournament.name %></td>
		<td><%= link_to match.away_team.team.team_season.season.name, match_path(match) %></td>
		<td><%= match.stadion.name %></td>
	</tr>
	<tr onclick='location.href="<%= match_path(match) %>"' class="OnlyforHandheld">
		<td><%= match.match_date.strftime("%d. %m. %y") %><br><%= match.match_date.strftime("%H:%M") %></td>
		<td><%= image_tag match.home_team.team.avatar.url(:logo), :class => "width: 40px;" %><br>
		<%= link_to match.home_team.team.name, team_path(match.home_team.team) %></td>
		<td style="min-width:90px;"><h2 style=" font-size: 25px;"><%= "#{match.home_goals+10} - #{match.away_goals+10}" %></h2></td>
		<td><%= image_tag match.away_team.team.avatar.url(:logo), :class => "width: 40px;" %><br><%= link_to match.away_team.team.name, team_path(match.away_team.team) %></td>
	</tr>
<% end %>