<% @stadions.each do |stadion| %>
	<div style="background-image: url(<%= stadion.avatar.url %>);">
		<div class="text-bg">
			<h2><%= stadion.name %></h2>
			<p><%= stadion.address %></p>	
		</div>
	</div>
<% end %>

