<head>
	<title><%= @language_2.home_page %> |<%= @organisation_info.organisation_name %></title>
 	<!-- CSS -->
	<%= stylesheet_link_tag    'normalize.css' %>
	<%= stylesheet_link_tag    'style.css' %>
	<%= stylesheet_link_tag    'http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>
	<%= stylesheet_link_tag    'animate.css' %>

	<!-- JavaScript -->
	<%= javascript_include_tag 'jquery-1.11.1.min.js' %>
	<%= javascript_include_tag 'device.min.js' %>
	<%= javascript_include_tag 'jquery.mb.YTPlayer.js' %>
	<%= javascript_include_tag 'custom.js' %>
	<%= javascript_include_tag 'welcome_transparent_nav.js' %>
	<%= javascript_include_tag 'counting.js' %>
	<!-- API KEY ZA GOOGLE -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEatumiZtC8J7Wz3GpR5ByBLjgn_o_X7U&callback=initMap"
  type="text/javascript"></script>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,700,600,800,900' rel='stylesheet' type='text/css'>
    <meta name="robots" content="noindex,follow" />
</head>

<body class="fadein body-naslovna" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <%= render 'layouts/navigation_naslovna' %>

	<!-- Video Background - PEPSI SNIMAK - https://www.youtube.com/watch?v=jkUcFF4VmO4 -->
	<!-- Video Background - BALF snimak, bez licence - https://www.youtube.com/watch?v=4jiTT-UnM94 - startAt:0, endAt:61 -->
	<!-- Video Background - FUTSAL CC snimak, bez licence - https://www.youtube.com/watch?v=4jiTT-UnM94 - startAt:7, endAt:46 -->
	<!-- mute:true -->
    <section class="big-background">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=4jiTT-UnM94',containment:'body',autoPlay:true, mute:true, startAt:7, endAt:46, opacity:1}"></a>
        
        
        <div class="pattern" id="pattern1"></div>  
         

		<!-- In front of the video, must be before video! -->
		<div class="in-front-of-video">
			<div class="cover">
				<div class="hi">
					
					<!--
					<div class="PCLandscape">
						<div class="row h-padding row-welcome">
							<%= render 'layouts/messages' %>
							<div class="col-md-4 option animated bounceInLeft">
								<h1 class="h1-title" align="right">SPORT.</h1>
							</div>
							<div class="col-md-4 option animated bounceInDown">
								<h1 class="h1-title" align="center">RECREATION.</h1>
							</div>
							<div class="col-md-4 option animated bounceInRight">
								<h1 class="h1-title" align="left">FRIENDSHIP.</h1>
							</div>
						</div>
					</div>-->

					<!-- <div class="PCPortrait"> -->
					<div>
						<div class="h-padding option animated rubberBand">
							<!--<%= render 'layouts/messages' %> -->
							<h1 class="h1-title" align="center"><%= @organisation_info.moto %></h1>
						</div>
					</div>

					<div id="logo-container">
						<%= image_tag @organisation_info.avatar.url(:medium), :class => "logo" %>
					</div>
					<% if !logged_in? %>
						<%= render 'users/login' %>
					<% end %>
				</div>
			</div>
		</div>                                                  
    </section>
    
    <!-- About i Small Background-->
    <div class="wrapper">
		<!-- About -->
	    <section class="about-section">
            <div class="about-section-container">
                <h2 class="about-section-title"><%= @organisation_info.header_above_registration_link %></h2>
                <p><%= @organisation_info.about_your_organisation_above_registration_link %></p>
                <%= link_to @language.meni_registruj_ekipu, registruj_ekipu_path, class:"about-section-btn" %>
            </div>
	    </section>
	        
	    <!-- Brojac igraca, timova, liga, balona -->
		<section id="balf-info" data-type="background" data-speed="10" >
		 	<div class="footer-bg-match"> 
			<!-- Brojaci (COUNTER) za igrace, ligu ..... --> 	
				<div class="row brojaci_wel" style="background: rgba(10, 13, 57, 0.5); height: inherit; margin: 0 auto;">
					<!-- STARA BOJA PREKO VIDEO KLIPA: rgba(22, 32, 195, 0.32) -->
					<!-- Optimizovano za PC -->
					<div class="wel-balf-info OnlyforWeb">
						<div class="col-xs-6 col-sm-3">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_players %></span></h1>
							
								<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_igraca %> </h5>
								<div class="orange-line"></div>
						</div>

						<div class="col-xs-6 col-sm-3">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_teams %></span></h1>
							
					      	<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_timova %> </h5>
					      	<div class="orange-line"></div>
						</div>

						<div class="col-xs-6 col-sm-3">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_stadions %></span></h1>
							
				      		<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_balona %> </h5>
				      		<div class="orange-line"></div>
							
						</div>

						<div class="col-xs-6 col-sm-3">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_leagues %></span></h1>
							
			  				<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_liga %> </h5>		
			  				<div class="orange-line"></div>
						</div>

						<!-- Add the extra clearfix for only the required viewport -->
						<div class="clearfix hidden-sm-up"></div>
					</div>

					<!-- Optimizovano za telefone -->
					<div class="wel-balf-info OnlyforHandheld">
						<div style="width:100%;">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_players %></span></h1>
							
								<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_igraca %> </h5>
								<div class="orange-line"></div>
						</div>

						<div style="width:100%;">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_teams %></span></h1>
							
					      	<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_timova %> </h5>
					      	<div class="orange-line"></div>
						</div>

						<div style="width:100%;">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_stadions %></span></h1>
							
				      		<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_balona %> </h5>
				      		<div class="orange-line"></div>
							
						</div>

						<div style="width:100%;">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_leagues %></span></h1>
							
			  				<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_liga %> </h5>		
			  				<div class="orange-line"></div>
						</div>

						<!-- Add the extra clearfix for only the required viewport -->
						<div class="clearfix hidden-sm-up"></div>
					</div>
				</div>
			</div> 
			<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
		</section>
    </div>

    <!-- Vrednosti -->
	<section id="portfolio" data-type="background" data-speed="10">
	  <article>
	    <a name="portfolio"></a>
	    <!-- page jump -->
	    <div class="container-naslovna" id="portfolio-wrap">
	      <!-- <h3>Vrednosti</h3> -->
	      <!-- Begin portfolio grid -->
	      <div class="row">
	        <div class="col-md-4">
	          <%= image_tag("vrednosti/01_igrac_za_rekreativni3", :alt => "logo", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                <%= @organisation_info.box_1 %>
	              </p>
	            </a>
	          </div>
	        </div>
	        <div class="col-md-4">
	          <%= image_tag("vrednosti/02_rukovanje3.png", :alt => "fair_play", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                <%= @organisation_info.box_2 %>
	              </p>
	            </a>
	          </div>
	        </div>
	        <div class="col-md-4">
	          <%= image_tag("vrednosti/03_balf_zuta_teren3.png", :alt => "baloni", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                <%= @organisation_info.box_3 %>
	              </p>
	            </a>
	          </div>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-md-4">
	          <!--<%= image_tag("vrednosti/04_nagrade_result3.jpg", :alt => "nagrade") %>-->
	          <%= image_tag("vrednosti/04_pehar3.png", :alt => "nagrade", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                <%= @organisation_info.box_4 %>
	              </p>
	            </a>
	          </div>
	        </div>
	        <div class="col-md-4">
	          <!--<%= image_tag("vrednosti/05_sudije_result.png", :alt => "sudije", :width => "80px") %>-->
	          <%= image_tag("vrednosti/05_pistaljka3.png", :alt => "sudije", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                <%= @organisation_info.box_5 %>
	              </p>
	            </a>
	          </div>
	        </div>
	        <div class="col-md-4">
	          <%= image_tag("vrednosti/06_prijavite_se3.png", :alt => "prijavite_se", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                <%= @organisation_info.box_6 %>
	              </p>
	            </a>
	          </div>
	        </div>
	      </div>
	    </div>
	    <!-- /container -->
	  </article>
	</section>
	<!-- close PORTFOLIO -->

    <!--*****************************************************************************************************************************
    * Vesti
    ******************************************************************************************************************************-->
    <% if Article.all.count != 0 %>
		<section id="vesti" data-type="background" data-speed="10" style="background: rgb(246, 250, 251);"><!-- #36507b -->
		  <article>
		    <a name="vesti"></a>
		    <!-- page jump -->
		    <div class="container-naslovna" id="portfolio-wrap">
				<!-- Begin portfolio grid -->
				<div class="container articles-content">
					<%= render 'articles/article', obj: @articles %>
					<%= will_paginate @articles %>
				</div>
		    </div>
		    <!-- /container -->
		  </article>
		</section>
	<% end %>


    <!-- Mapa -->
	<section id="portfolio" data-type="background" data-speed="10" >  
        <div id="map" style="width: 98%; margin-left: 1%; margin-right: 1%; height: 430px; color: black;"></div>
	    <!-- JavaScript for google maps-->
	      <script type="text/javascript">
	        var map;
			/******************************************************************
			* koordinate lokacija
			******************************************************************/ 
	        var marker, i;
	            var locations = [
	              ['Balon Brazil', 44.8147872950479, 20.484832311049104, 8],
	              ['Balon Fortis', 44.790238, 20.368629, 7],
	              ['Balon Restart 2', 44.82403845461999, 20.4212907794863, 6],
	              ['Balon Partizan', 44.79426743838765, 20.424588513560593, 5],
	              ['Balon Zvezda', 44.79295602128656, 20.42232537874952, 4],
	              ['Balon Zlatna Lopta', 44.792818006171736, 20.486114406958222, 3],
	              ['Balon Trudbenik', 44.80676185742872, 20.501043582335114, 2],
	              ['Balon Maximum Effect', 44.771688, 20.483896, 1]
	            ];

	            /******************************************************************
	            * sa scrollwheel-om podesavamo scroll misa da ne zumira mapu
	            * dok scroluje stranu zoom podesava pocetni zum mape 
	            ******************************************************************/
	            var map = new google.maps.Map(document.getElementById('map'), {
	            zoom: 12, 
	            scrollwheel: false,
	            draggable: false,
	            center: new google.maps.LatLng(44.8036, 20.4589),
	            mapTypeId: google.maps.MapTypeId.ROADMAP
	        });


	        var infowindow = new google.maps.InfoWindow();
	           
			/******************************************************************
			*  petlja for uzima iz niza clanove i postavlja koordinate na mapi
			*******************************************************************/
	        var marker, i;

	        for (i = 0; i < locations.length; i++) {  
	          marker = new google.maps.Marker({
	            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
	            map: map,
	            icon:"<%= asset_path @organisation_info.avatar.url(:mapa), :height => "32px"  %>"
	          });

	          /******************************************************************
	          * prelaskom misa na marker prikazuje se info prozor i to se radi 
	          * funkcijom addListener
	          ******************************************************************/ 
	          google.maps.event.addListener(marker, 'click', (function(marker, i) {
	            return function() {
	              infowindow.setContent(locations[i][0]);
	              infowindow.open(map, marker);
	            }
	          })(marker, i));
	        }

	        /******************************************************************
	        * sredjen zoom za mapu kad se klikne pocinje zoom 
	        ******************************************************************/ 
	        /*
            google.maps.event.addListener(map, 'click', function(event){
              this.setOptions({
                scrollwheel:false
              });
            });
            */

	        /******************************************************************
	        * resize-ovanje mape kad se radi responsive stranice
	        ******************************************************************/
			google.maps.event.addDomListener(window, "resize", function() {
				var center = map.getCenter();
				google.maps.event.trigger(map, "resize");
				map.setCenter(center); 
			});
			
	      </script>
	</section>
 
    <!-- *************************************************************
    * Pronadjite nas na socijalnim mrezama (ili SPONZORI)
    ***************************************************************-->
    <!--
    <section class="">
        <div class="small-background-container">
            <div class="social-networks">
				<ul>
				  <li>
				  	<a href="#{}" target="_blank"">
					    <div class='social-item'>
					      <i class=''></i>
					      Sponsor 1
					    </div>
				    </a>
				  </li>
				  <li>
				  	<a href="#" target="_blank">
					    <div class='social-item'>
					      <i class=''></i>
					      Sponsor 2
					    </div>
				    </a>
				  </li>
				  <li>
				    <a href="#" target="_blank">
					    <div class='social-item'>
					      <i class=''></i>
					      Sponsor 3
					    </div>
				    </a>
				  </li>
				  <li>
				  	<a href="#" target="_blank">
					    <div class='social-item'>
					      <i class=''></i>
					      Sponsor 4
					    </div>
				    </a>
				  </li>
				</ul>
			</div>
        </div>
    </section>
    -->

    <!-- Sponzori -->
		<section id="balf-info" data-type="background" data-speed="10" >
		 	<div class="footer-bg-match"> 
			<!-- Brojaci (COUNTER) za igrace, ligu ..... --> 	
				<div class="row brojaci_wel" style="background: rgba(10, 13, 57, 0.5); height: inherit; margin: 0 auto;">
					<!-- STARA BOJA PREKO VIDEO KLIPA: rgba(22, 32, 195, 0.32) -->
					<!-- Optimizovano za PC -->
					<div class="wel-balf-info OnlyforWeb">
						<div class="col-xs-6 col-sm-3">
							<h1 align="center"><span class="" style="display: inline-block;"><%= image_tag @organisation_info.avatar.url(:thumb), :class => "logo" %></span></h1>
							
								<h5 class="counterBoxDetails" align="center"> Sponsor 1 </h5>
								<div class="orange-line"></div>
						</div>

						<div class="col-xs-6 col-sm-3">
							<h1 align="center"><span class="" style="display: inline-block;"><%= image_tag @organisation_info.avatar.url(:thumb), :class => "logo" %></span></h1>
							
					      	<h5 class="counterBoxDetails" align="center"> Sponsor 2 </h5>
					      	<div class="orange-line"></div>
						</div>

						<div class="col-xs-6 col-sm-3">
							<h1 align="center"><span class="" style="display: inline-block;"><%= image_tag @organisation_info.avatar.url(:thumb), :class => "logo" %></span></h1>
							
				      		<h5 class="counterBoxDetails" align="center"> Sponsor 3 </h5>
				      		<div class="orange-line"></div>
							
						</div>

						<div class="col-xs-6 col-sm-3">
							<h1 align="center"><span class="" style="display: inline-block;"><%= image_tag @organisation_info.avatar.url(:thumb), :class => "logo" %></span></h1>
							
			  				<h5 class="counterBoxDetails" align="center"> Sponsor 4 </h5>		
			  				<div class="orange-line"></div>
						</div>

						<!-- Add the extra clearfix for only the required viewport -->
						<div class="clearfix hidden-sm-up"></div>
					</div>

					<!-- Optimizovano za telefone -->
					<div class="wel-balf-info OnlyforHandheld">
						<div style="width:100%;">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_players %></span></h1>
							
								<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_igraca %> </h5>
								<div class="orange-line"></div>
						</div>

						<div style="width:100%;">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_teams %></span></h1>
							
					      	<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_timova %> </h5>
					      	<div class="orange-line"></div>
						</div>

						<div style="width:100%;">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_stadions %></span></h1>
							
				      		<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_balona %> </h5>
				      		<div class="orange-line"></div>
							
						</div>

						<div style="width:100%;">
							<h1 align="center"><span class="counter" style="display: inline-block;"><%= @organisation_info.number_of_leagues %></span></h1>
							
			  				<h5 class="counterBoxDetails" align="center"> <%= @language.brojac_liga %> </h5>		
			  				<div class="orange-line"></div>
						</div>

						<!-- Add the extra clearfix for only the required viewport -->
						<div class="clearfix hidden-sm-up"></div>
					</div>
				</div>
			</div> 
			<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
		</section>

    <!-- Marketing 2 -->
    <!--
	<section id="portfolio" data-type="background" data-speed="10" >
	 <div class="bg-match2">
	  <article>
	    <a name="portfolio"></a>
	    <div class="container-naslovna" id="portfolio-wrap">
	      <div class="row">
	        <div class="col-md-4">
	          <%= image_tag("vrednosti/01_igrac_za_rekreativni3", :alt => "logo", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                Osnovani sa ciljem da se promoviše amaterski sport i druženje.
	              </p>
	            </a>
	          </div>
	        </div>
	        <div class="col-md-4">
	          <%= image_tag("vrednosti/02_rukovanje3.png", :alt => "fair_play", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                Poštuju se pravila strogog FAIR PLAY-a i poštovanja protivnika!
	              </p>
	            </a>
	          </div>
	        </div>
	        <div class="col-md-4">
	          <%= image_tag("vrednosti/03_balf_zuta_teren3.png", :alt => "baloni", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                Igramo u najboljim balonima u gradu, vikendima  u najboljim terminima.
	              </p>
	            </a>
	          </div>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-md-4">
	          <%= image_tag("vrednosti/04_pehar3.png", :alt => "nagrade", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                Obezbedili smo, i ako nije sve u tome,  vredne novčane i robne nagrade kao i pehare za najbolje timove i pojedince.
	              </p>
	            </a>
	          </div>
	        </div>
	        <div class="col-md-4">
	          <%= image_tag("vrednosti/05_pistaljka3.png", :alt => "sudije", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                Obezbedili smo za vas najbolju grupu arbitara  sa višegodišnjim iskustvom u sudjenju turnira i liga malog fudbala, koji su tu da učesnicima pruže fer i korektno sudjenje.
	              </p>
	            </a>
	          </div>
	        </div>
	        <div class="col-md-4">
	          <%= image_tag("vrednosti/06_prijavite_se3.png", :alt => "prijavite_se", :width => "150px") %>
	          <div class="thumbnail">
	            <a target="_blank" href="#">
	              <p>
	                U slučaju da  nemate ekipu, a želeli biste da igrate, prijavite se- naći ćemo vam mesto!
	              </p>
	            </a>
	          </div>
	        </div>
	      </div>
	    </div>
	  </article>
	 </div>
	</section>-->
</body>
