<% obj.each do |match| %>
	<tr onclick='location.href="<%= match_path(match) %>"' class="OnlyforWeb">
		<% if match.match_date != nil %>
			<td><%= match.match_date.strftime("%d. %m. %y") %></td>
			<td><%= match.match_date.strftime("%H:%M") %></td>
		<% else %>
			<td></td>
			<td></td>
		<% end %>
		<% if match.home_team != nil %>
			<% if match.home_team.team != nil %>
				<td><%= link_to match.home_team.team.name, team_path(match.home_team.team) %></td>
				<td><%= image_tag match.home_team.team.avatar.url(:logo), height: "40px" %></td> <!-- Slika ekipe -->
			<% else %>
				<td></td>
				<td></td>
			<% end %>
		<% end %>
		<td style="min-width:117px;"><h2><%= "#{match.home_goals} - #{match.away_goals}" %></h2></td>
		<% if match.away_team != nil %>
			<% if match.away_team.team != nil %>
				<td><%= image_tag match.away_team.team.avatar.url(:logo), height: "40px" %></td> <!-- Slika ekipe -->
				<td><%= link_to match.away_team.team.name, team_path(match.away_team.team) %></td>
			<% else %>
				<td></td>
				<td></td>
			<% end %>
		<% end %>
		<% if match.league != nil %>
			<td><%= link_to match.league.name, league_page_path(match.league) %></td>
		<% else %>
			<td></td>
		<% end %>
		<% if match.away_team != nil %>
			<% if match.away_team.team != nil %>
				<td><%= link_to match.season.name, match_path(match) %></td>
			<% else %>
				<td></td>
			<% end %>
		<% end %>
		<% if match.stadion != nil %>
			<td><%= match.stadion.name %></td>
		<% else %>
			<td></td>
		<% end %>
	</tr>
	<tr onclick='location.href="<%= match_path(match) %>"' class="OnlyforHandheld">
		<% if match.match_date != nil %>
			<td><%= match.match_date.strftime("%d. %m. %y") %><br><%= match.match_date.strftime("%H:%M") %></td>
		<% end %>

		<% if match.home_team != nil %>
			<% if match.home_team.team != nil %>
				<td><%= image_tag match.home_team.team.avatar.url(:logo), height: "40px" %><br>
				<%= link_to match.home_team.team.name, team_path(match.home_team.team) %></td>
			<% else %>
				<td></td>
			<% end %>
		<% end %>
		
		<td style="min-width:90px;"><h2 style="font-size: 18px;"><%= "#{match.home_goals} - #{match.away_goals}" %></h2></td>
		
		<% if match.home_team != nil %>
			<% if match.home_team.team != nil %>
				<td><%= image_tag match.away_team.team.avatar.url(:logo), height: "40px" %><br>
				<%= link_to match.away_team.team.name, team_path(match.away_team.team) %></td>
			<% else %>
				<td></td>
			<% end %>
		<% end %>
		
	</tr>
<% end %>