<head>
  	<title>Dodaj gostujuce igrace|BALF</title>
</head>
<body>
	<div id='wrapper'>
		<h1>Dodaj gostujuce igrace</h1>
	</div>
	<div class="container">
		<%= render 'match_player' %>
	</div>
</body>
