<% obj.each do |player| %>
		<tr onclick='location.href="<%= player_path(player) %>"'> 
			<td><%= image_tag player.avatar.url(:thumb), height: "60" %></td>
			<td><%= player.name %></td>
			<td><%= player.surname %></td>
			<!-- <td><%= player.team.name %></td> -->
			<td><%= PlayerSeason.find_by(:player_id => player.id, :season_id => Season.last.id).expirience %></td>
		</tr>
<% end %>
