<head>
	<!-- Sa current_user.username stampamo username ulogovanog igraca -->
	<title>|<%= @organisation_info.organisation_name %></title> 
</head>
<body>
<div class="bg-match2">
	<div class="balf-gradient-background-transparent">
	<div class="player-profile">
		<div class="player-profile-kolone">
			<div class="box-row">
				<div class="box-cell prva">
					<div class="box-content">
						<div class="player-profile-image-div"><%= image_tag @team.avatar.url(:medium), :class => "player-profile-image" %>
						</div>
						<table class="player-profile-left-table">
							<tr>
								<td><%= @language_2.ime_ekipe %>:</td>
								<td><%= @ime_tima %></td>
							</tr>
							<tr>
								<td><%= @language.nastupa %>:</td>
								<td><%= @broj_odigranih_meceva %></td>
							</tr>
							<tr>
								<td><%= @language.pobeda %>:</td>
								<td><%= @broj_pobeda_tima %></td>
							</tr>
							<tr>
								<td><%= @language.neresenih %>:</td>
								<td><%= @broj_neresenih_tima %></td>
							</tr>
							<tr>
								<td><%= @language.izgubljenih %>:</td>
								<td><%= @broj_izgubljenih_tima %></td>
							</tr>
							
							<tr>
								<td><%= @language_2.procenat_pobeda %>:</td>
								<% if @team_season.matches_played != 0 %>
								<td><%= @procenat_pobeda.round(2) %> %</td>
								<% else %>
								<td> 0 </td>
								<% end %>
							</tr>
							<tr>
								<td><%= @language_2.procenat_neresenih %>:</td>
								<% if @team_season.matches_played != 0 %>
								<td><%= @procenat_neresenih.round(2) %> %</td>
								<% else %>
								<td> 0 </td>
								<% end %>
							</tr>
							<tr>
								<td><%= @language_2.procenat_izgubljenih %>:</td>
								<% if @team_season.matches_played != 0 %>
								<td><%= @procenat_izgubljenih.round(2) %> %</td>
								<% else %>
								<td> 0 </td>
								<% end %>
							</tr>
							<tr>
								<td><%= @language.dato_golova %>:</td>
									<td><%= @team_season[:goals_scored] %></td>
							</tr>
							<tr>
								<td><%= @language.primljeno_golova %>:</td>
									<td><%= @team_season[:goals_received] %></td>
							</tr>
							<tr>
								<td><%= @language_2.suteva %>:</td>
									<td><%= @team_season[:shoots] %></td>
							</tr>
							<tr>
								<td><%= @language.bodova %>:</td>
									<td><%= @team_season[:points] %></td>
							</tr>
							<tr>
								<td>Facebook:</td>
									<td><a href=<%= @team.fb_url %>><%= image_tag("icons/facebook.png", :alt => "facebook", :width => "20px") %></a></td>
							</tr>
							<tr>
								<td>Experience:</td>
								<td><%= @team_season.expirience %></td>
							</tr>
						</table><br>
						<table class="player-profile-left-table">
							<tr>
								<th class="text-align: center"><%= link_to @language_2.team_stats, team_path(@team) %></th>
								<th class="text-align: center"><%= link_to @language_2.team_badges, team_badge_path(@team) %></th>
								<th class="text-align: center"><%= link_to @language_2.igraci, team_player_path(@team) %></th>
							</tr>
						</table>
					</div>
				</div>

				<div class="center">

					<div class="OnlyforWeb">
						<% if @team.team_player %>
						<div class="player-profile-image-div"><%= image_tag @team.team_player.avatar.url(:original), :class => "team-players-profile-image" %></div>
						<% end %>
					</div>
					<div class="OnlyforHandheld">
						<% if @team.team_player %>
						<div class="player-profile-image-div"><%= image_tag @team.team_player.avatar.url(:original), :class => "player-profile-image" %></div>
						<% end %>
					</div>

					 <div class="player-stats-padding">
						<table class="player-stats">
							<tr>
								<th><%= @language_2.slika_igraca %></th>
								<th><%= @language_2.ime %></th>
								<th><%= @language_2.prezime %></th>
								<!-- <th>Ime tima</th> -->
								<th>Experience</th>
							</tr>
							<%= render 'player', obj: @players.sort_by{|e| -(PlayerSeason.find_by(:player_id => e.id, :season_id => Season.last.id)[:expirience])} %>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</body>