<% obj.each do |team_season| %>
	<tr>
		<td><%= link_to team_season.position, team_path(team_season.team) %></td> <!-- Pozicija -->
		<td class="OnlyforWeb"><%= image_tag team_season.team.avatar.url(:logo), :height => "40px" %></td> <!-- Slika ekipe -->
		<td><%= link_to team_season.team.name, team_path(team_season.team) %></td> <!-- Naziv ekipe -->
		<td class="OnlyforWeb"><%= team_season.matches_played %></td> <!-- Odigranih -->
		<td><%= team_season.matches_win %></td>    <!-- Pobeda -->
		<td><%= team_season.matches_draw %></td>   <!-- Neresenih -->
		<td><%= team_season.matches_lose %></td>   <!-- Izgubljenih -->
		<td><%= team_season.goals_scored %></td>   <!-- Dato Golova -->
		<td><%= team_season.goals_received %></td>    <!-- Primljeno Golova -->
		<td class="OnlyforWeb"><%= team_season.goals_scored - team_season.goals_received %></td>   <!-- Gol razlika -->
		<td class="OnlyforWeb"><%= team_season.points %></td>		   <!-- Pts -->
		<td><%= team_season.level %></td> <!-- Level -->
		<td><%= team_season.expirience %></td> <!-- Experience -->
	</tr>
<% end %>