<head>
  <title><%= @language_2.rang_lista %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<div id='wrapper'>
		<h1><%= @language.meni_rang_lista_ekipa %></h1>
	</div>

	<!-- <h3 align="center" style="color:whitesmoke"> Informacije i Statistika</h3> -->
	<div class="center">

		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<th><%= @language.pozicija %></th> <!-- Pozicija -->
				<th class="OnlyforWeb">	</th>
				<th><%= @language.ekipa %></th>
				<th class="OnlyforWeb"><%= @language_2.odigrani_mecevi %></th>   <!-- Odigranih -->
				<th><%= @language.pobeda_skraceno %></th>   <!-- Pobeda -->
				<th><%= @language.neresenih_skraceno %></th>   <!-- Neresenih -->
				<th><%= @language.izgubljenih_skraceno %></th>   <!-- Izgubljenih -->
				<th><%= @language.dato_golova_skraceno %></th>  <!-- Dato Golova -->
				<th><%= @language.primljeno_golova_skraceno %></th>  <!-- Primljeno Golova -->
				<th class="OnlyforWeb"><%= @language.gol_razlika_skraceno %></th>  <!-- Gol razlika -->
				<th class="OnlyforWeb"><%= @language.primljeno_golova_skraceno %></th> <!-- Pts -->
				<th class="OnlyforWeb"><%= @language_2.level %></th> <!-- Level --><th class="OnlyforHandheld">Lvl</th> <!-- Level -->
				<th class="OnlyforWeb"><%= @language_2.experience %></th> <!-- Experience --><th class="OnlyforHandheld">XP</th> <!-- Experience -->
			</tr>
			<% if @team_seasons != nil %>
				<%= render 'teams_rang_list/team', obj: @team_seasons.sort_by{|e| e[:position]} %>
			<% end %>
			</table>
		</div>
	</div>
</body>