<body>
	<%= render 'shared/errors', obj: @player %>
	<div class="main-wrap-team">
		<div class="signup-main">
			<%= form_for(@player, :html => {role: "form"}) do |f| %>
				
				<!-- Player -->
				<div class="signup-padding">
			    	<%= f.text_field :name, class: "polje border1", placeholder: "#{@language_2.unesi_ime_igraca}", autofocus: true %>
			    </div>
			    <div class="signup-padding">
					<%= f.text_field :surname, class: "polje border1", placeholder: "#{@language_2.unesi_prezime_igraca}", autofocus: true %>
				</div>
				<!-- <div class="signup-padding">
					<%= f.text_field :JMBG, class: "polje border1", placeholder: "Unesi JMBG igraca", autofocus: true %>
				</div> -->

				<!-- User details -->
				<%= f.fields_for :user do |user_f| %>
					<div class="signup-padding">
				    	<%= user_f.email_field :email, class: "polje border1", placeholder: "#{@language_2.unesi_email_igraca}", autofocus: true %>
				    </div>
				    <div class="signup-padding">
						<%= user_f.password_field :password, class: "polje border1", placeholder: "#{@language_2.unesi_lozinku_igraca}", autofocus: true %>
					</div>
				<% end %>

				<!-- Player image -->
				<div class="signup-padding">
					<%= f.file_field :avatar %>
				</div>

				<!-- Registration token -->
				<div class>
					<%= @language_2.registracioni_token %>:
				</div>
				<%= f.number_field :player_registration_token, class: "polje border1", placeholder: "#{@language_2.unesi_registracioni_token}", autofocus: true %>	

		 		<div class>
					<div class>
	    				<%= f.submit class: "btn btn-primary btn-lg" %>
	  				</div>
	  			</div>
			<% end %>
		</div>
	</div>
</body>
