<% obj.each do |player| %>
		<tr onclick='location.href="<%= player_path(player) %>"'> 
			<td><%= image_tag player.avatar.url(:thumb) %></td>
			<td><%= player.name %></td>
			<td><%= player.surname %></td>
			<td><%= player.team.name %></td>
		</tr>
<% end %>
