<head>
  	<title><%= @language_2.izmeni_podatke_za_ekipu %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<div id='wrapper'>
		<h1><%= @language_2.podesavanje_igraca %></h1>
	</div>
	<div class="container">
		<%= render 'shared/errors', obj: @player %>
		<div class="main-wrap-team">
			<div class="signup-main">
				<%= form_for(@player, :html => {role: "form"}) do |f| %>
					<!-- Player -->
					<div class="signup-padding">
				    	<%= f.text_field :name, class: "polje border1", placeholder: "#{@language_2.unesi_ime_kapitena}", autofocus: true %>
				    </div>
				    <div class="signup-padding">
						<%= f.text_field :surname, class: "polje border1", placeholder: "#{@language_2.unesi_prezime_kapitena}", autofocus: true %>
					</div>
					<!-- <div class="signup-padding">
						<%= f.text_field :JMBG, class: "polje border1", placeholder: "Unesi JMBG kapitena", autofocus: true %>
					</div> -->

					<!-- Player image -->
					<div class="signup-padding">
						<%= f.file_field :avatar %>
					</div>
			 		<div>
		    				<%= f.submit(@player.new_record? ? "#{@language_2.potvrdi}" : "Update account", class: "btn btn-primary btn-lg") %>
		  			</div>
				<% end %>
			</div>
		</div>
	</div>
</body>
