<head>
  <title><%= @language_2.svi_igraci %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<h1 align="center" class="name_surname_player"> <%= @language_2.svi_igraci %></h1>

	<div class="center">
		 <div class="player-stats-padding">
			<table class="player-stats">
				<%= render 'players/player', obj: @players %>
			</table>
		</div>
	</div>
</body>
