<head>
  <title><%= current_user.username %>|<%= @organisation_info.organisation_name %></title>
  <%= javascript_include_tag 'progressbars.js' %>
</head>
<body>
	<h1 align="center" class="name_surname_player"> <%= @player.name%> <%= @player.surname%></h1>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 center">
				<%= image_tag @player.avatar.url(:medium) %>
			</div>
		</div>

		<!-- <h3 align="center" style="color:whitesmoke"> Informacije i Statistika</h3> -->
	<div class="center">

		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<td><%= @language_2.korisnicko_ime %>:</td>
				<td><%= @player.user.username %></td>
			</tr>
			<tr>
				<td><%= @language_2.ime %>:</td>
				<td><%= @player.name %></td>
			</tr>
			<tr>
				<td><%= @language_2.prezime %>:</td>
				<td><%= @player.surname %></td>
			</tr>
			<tr>
				<td><%= @language_2.email %>:</td>
				<td><%= @player.user.email %></td>
			</tr>
			<tr>
				<td><%= @language_2.datum_rodjenja %>:</td>
				<td><%= @player.birthdate %></td>
			</tr>
			<tr>
				<td><%= @language_2.odigranih_meceva %>:</td>
				<td><%= @player.player_season.matches_played %></td>
			</tr>
			<tr>
				<td><%= @language_2.broj_pobeda %>:</td>
				<td><%= @player.player_season.matches_win %></td>
			</tr>
			<tr>
				<td><%= @language_2.broj_neresenih %>:</td>
				<td><%= @player.player_season.matches_draw %></td>
			</tr>
			<tr>
				<td><%= @language_2.broj_izgubljenih %>:</td>
				<td><%= @player.player_season.matches_lose %></td>
			</tr>
			
			<tr>
				<td><%= @language_2.procenat_pobeda %>:</td>
				<% if @player.player_season.matches_played != nil %>
					<td><%= @player.player_season.matches_win .* 100 ./ (@player.player_season.matches_played) %> %</td>
				<% else %>
					<td> 0 </td>
				<% end %>
			</tr>
			<tr>
				<td><%= @language_2.procenat_neresenih %>:</td>
				<% if @player.player_season.matches_played != nil %>
					<td><%= @player.player_season.matches_draw .* 100 ./ (@player.player_season.matches_played) %> %</td>
				<% else %>
					<td> 0 </td>
				<% end %>
			</tr>
			<tr>
				<td><%= @language_2.procenat_izgubljenih %>:</td>
				<% if @player.player_season.matches_played != nil %>
					<td><%= @player.player_season.matches_lose .* 100 ./ (@player.player_season.matches_played) %> %</td>
				<% else %>
					<td> 0 </td>
				<% end %>
			</tr>
			<tr>
				<td><%= @language_2.golovi %>:</td>
				<!-- Sa [:goals] stampamo atribut iz tabele player_season -->
				<td><%= @player.player_season[:goals] %></td>
			</tr>
			<tr>
				<td><%= @language_2.asistencije %>:</td>
				<td><%= @player.player_season[:assists] %></td>
			</tr>
			<tr>
				<td><%= @language_2.faulovi %>:</td>
				<td><%= @player.player_season.fouls %></td>
			</tr>
			<tr>
				<td><%= @language_2.zuti_kartoni %>:</td>
				<td><%= @player.player_season.yellow_cards %></td>
			</tr>
			<tr>
				<td><%= @language_2.crveni_kartoni %>:</td>
				<td><%= @player.player_season.red_cards %></td>
			</tr>
			<tr>
				<td><%= @language_2.tim %>:</td>
				<% if logged_in? && current_user.player %>
					<td><%= link_to @player.team.name, team_path(current_user.player.team) %></td>
				<% else %>
					<td><%= @player.team.name %></td>
				<% end %>
			</tr>
			<tr>
				<td>.</td>
				<td>.</td>
			</tr>
			</table>
		</div>


		<p> <%= @language_2.golovi %> </p>
		<div class="progress-bar-padding">
			<progress id="experience-bar" max="100" value="<%= @player.player_season[:goals] %>">
			  <div pseudo="-webkit-progress-inner-element">
			    <div pseudo="-webkit-progress-bar">
			      <div pseudo="-webkit-progress-value"> 
			      </div>
			    </div>
			  </div>
			</progress>
		</div>

		<p> <%= @language_2.asistencije %> </p>
		<div class="progress-bar-padding">
			<progress id="experience-bar" max="100" value="<%= @player.player_season[:assists] %>">
			  <div pseudo="-webkit-progress-inner-element">
			    <div pseudo="-webkit-progress-bar">
			      <div pseudo="-webkit-progress-value"> 
			      </div>
			    </div>
			  </div>
			</progress>
		</div>

		<p> <%= @language_2.faulovi %> </p>
		<div class="progress-bar-padding">
			<progress id="experience-bar" max="100" value="<%= @player.player_season.fouls %>">
			  <div pseudo="-webkit-progress-inner-element">
			    <div pseudo="-webkit-progress-bar">
			      <div pseudo="-webkit-progress-value"> 
			      </div>
			    </div>
			  </div>
			</progress>
		</div>

		<p> <%= @language_2.zuti_kartoni %> </p>
		<div class="progress-bar-padding">
			<progress id="experience-bar" max="100" value="<%= @player.player_season.yellow_cards %>">
			  <div pseudo="-webkit-progress-inner-element">
			    <div pseudo="-webkit-progress-bar">
			      <div pseudo="-webkit-progress-value"> 
			      </div>
			    </div>
			  </div>
			</progress>
		</div>

		<p> <%= @language_2.crveni_kartoni %> </p>
		<div class="progress-bar-padding">
			<progress id="experience-bar" max="100" value="<%= @player.player_season.red_cards %>">
			  <div pseudo="-webkit-progress-inner-element">
			    <div pseudo="-webkit-progress-bar">
			      <div pseudo="-webkit-progress-value"> 
			      </div>
			    </div>
			  </div>
			</progress>
		</div>
	</div>
</body>