- if @abstract_models
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th.shrink.model-name= t "admin.table_headers.model_name"
        %th.shrink.last-created= t "admin.table_headers.last_created"
        %th.records= t "admin.table_headers.records"
        %th.shrink.controls
    %tbody
      - @abstract_models.each do |abstract_model|
        - if authorized? :index, abstract_model
          - index_path = index_path(model_name: abstract_model.to_param)
          - row_class = "#{cycle("odd", "even")}#{" link" if index_path} #{abstract_model.param_key}_links"
          %tr{class: row_class, :"data-link" => index_path}
            - last_created = @most_recent_created[abstract_model.model.name]
            - active = last_created.try(:today?)
            %td
              %span.show= link_to capitalize_first_letter(abstract_model.config.label_plural), index_path, class: 'pjax'
            %td
            %td
              - count = @count[abstract_model.model.name]
              - percent = count > 0 ? (@max <= 1 ? count : ((Math.log(count+1) * 100.0) / Math.log(@max+1)).to_i) : -1
              .progress{style: "margin-bottom:0px", class: "progress-#{get_indicator(percent)} #{active && 'active progress-striped'}"  }
                .progress-bar.animate-width-to{:class => "progress-bar-#{get_indicator(percent)}", :'data-animate-length' => ([1.0, percent].max.to_i * 20), :'data-animate-width-to' => "#{[2.0, percent].max.to_i}%", style: "width:2%"}
                  = @count[abstract_model.model.name]
            %td.links
              %ul.inline.list-inline= menu_for :collection, abstract_model, nil, true
- if @auditing_adapter && authorized?(:history_index)
  #block-tables.block
    .content
      %h2= t("admin.actions.history_index.menu")
      = render partial: 'rails_admin/main/dashboard_history'
