<table>
	<% obj.in_groups_of(3, false) do |home_goals| %>
		<tr>
			<% for home_goal in home_goals %>
				<td style="color:white; font-size: 17px;"><%= image_tag("emoticons/soccerball.png", :alt => "gol", height:"20px") %><%= " #{home_goal.player_season.player.name} #{home_goal.player_season.player.surname} '#{home_goal.created_at}" %>&nbsp;&nbsp;</td>
			<% end %>
		</tr>
	<% end %>
</table>
