<% if @match.is_match_finished && (@home_player_seasons_on_match != nil && @away_player_seasons_on_match != nil) %>
	<!-- Nalazenje @max, koji predstavlja veci broj od broja igraca koji su dosli iz jednog i drugog tima -->
	<% if @home_player_seasons_on_match.size >= @away_player_seasons_on_match.size %>
		<% @max = @home_player_seasons_on_match.size %>
	<% elsif @home_player_seasons_on_match.size < @away_player_seasons_on_match.size %>
		<% @max = @away_player_seasons_on_match.size %>	
	<% end %>

	<!-- Stampanje igraca koji su dosli na utakmicu -->
	<% for @obj in 0..@max %>
		<% unless (@home_player_seasons_on_match[@obj] == nil) && (@away_player_seasons_on_match[@obj] == nil) %>
				<% if @home_player_seasons_on_match[@obj] != nil %>	
				<tr>			
					<td><%= link_to "#{@home_player_seasons_on_match[@obj].player.name}", player_path(@home_player_seasons_on_match[@obj].player) %> <%= link_to "#{@home_player_seasons_on_match[@obj].player.surname}", player_path(@home_player_seasons_on_match[@obj].player) %></td>
					<td style="max-width: 30px"><%= Goal.where(:player_season_id => @home_player_seasons_on_match[@obj].id, :match_id => @match.id).count %></td> <!-- Broj golova tog igraca na ovoj utakmici -->
					<td style="max-width: 30px"><%= Assist.where(:player_season_id => @home_player_seasons_on_match[@obj].id, :match_id => @match.id).count %></td> <!-- Broj asistencija tog igraca na ovoj utakmici -->
					<td style="max-width: 30px"><%= YellowCard.where(:player_season_id => @home_player_seasons_on_match[@obj].id, :match_id => @match.id).count %></td> <!-- Broj golova tog igraca na ovoj utakmici -->
					<td style="max-width: 30px"><%= RedCard.where(:player_season_id => @home_player_seasons_on_match[@obj].id, :match_id => @match.id).count %></td> <!-- Broj golova tog igraca na ovoj utakmici -->
				</tr>
				<% end %>
		<% end %>
	<% end %>
<% end %>