<% obj.each do |match| %>
		<tr>
			<td><%= match.home_team.team.name %></td>
			<td>	</td>
			<td><%= match.away_team.team.name %></td>
		</tr>
		<tr>
			<td><%= match.home_goals %></td>
			<td><%= @language.golova %></td>
			<td><%= match.away_goals %></td>
		</tr>
		<tr>
			<td><%= match.home_assists %></td>
			<td><%= @language.asistencija %></td>
			<td><%= match.away_assists %></td>
		</tr>		
		<tr>
			<td><%= match.home_fouls %></td>
			<td><%= @language_2.faulova %></td>
			<td><%= match.away_fouls %></td>
		</tr>		
		<tr>
			<td><%= match.home_yellow_cards %></td>
			<td><%= @language.zutih_kartona %></td>
			<td><%= match.away_yellow_cards %></td>
		</tr>
		<tr>
			<td><%= match.home_yellow_cards %></td>
			<td><%= @language.zutih_kartona %></td>
			<td><%= match.away_yellow_cards %></td>
		</tr>
		<tr>
			<td><%= match.home_red_cards %></td>
			<td><%= @language.crvenih_kartona %></td>
			<td><%= match.away_red_cards %></td>
		</tr>
		<tr>
			<td><%= match.home_shoots %></td>
			<td><%= @language_2.suteva %></td>
			<td><%= match.away_shoots %></td>
		</tr>
		<tr>
			<td><%= match.home_goalkeeper_saves %></td>
			<td>GOAL SAVES</td>
			<td><%= match.away_goalkeeper_saves %></td>
		</tr>
		<tr>
			<td>DELEGATE:</td>
			<td>REFEREE:</td>
			<td><%= @language_2.teren %>:</td>
		</tr>
		<tr>
			<td><%= match.delegate.name %></td>
			<td><%= match.referee.name %></td>
			<td><%= match.stadion.name %></td>
		</tr>
		<!-- Dodati slike... -->
<% end %>
