<div id='wrapper'>
	<% if logged_in? %>
		<% if current_user.player %>
			<h1><%= @team.name %></h1>
		<% end %>
	<% end %>
</div>
<div class="center results-font">

	<div class="OnlyforWeb">
		<h1><%= @language_2.predstojeci_mecevi %></h1>
		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<th><%= @language.datum %></th>
				<th><%= @language.vreme %></th>
				<th><%= @language.domacin %></th>
				<th></th>
				<th><%= @language.rezultat %></th>
				<th></th>
				<th><%= @language.gost %></th>
				<th><%= @language.liga %></th>
				<th><%= @language.sezona %></th>
				<th><%= @language_2.teren %></th>
			</tr>
			<%= render 'results/match', obj: @predstojeci_mecevi.sort_by{|e| e[:match_date]} %>
			</table>
		</div>
	</div>

	<div class="OnlyforWeb">
		<h1><%= @language_2.odigrani_mecevi %></h1>
		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<th><%= @language.datum %></th>
				<th><%= @language.vreme %></th>
				<th><%= @language.domacin %></th>
				<th></th>
				<th><%= @language.rezultat %></th>
				<th></th>
				<th><%= @language.gost %></th>
				<th><%= @language.liga %></th>
				<th><%= @language.sezona %></th>
				<th><%= @language_2.teren %></th>
			</tr>
			<%= render 'results/match', obj: @matches.sort_by{|e| e[:match_date]}.reverse %>
			</table>
		</div>
	</div>

	<div class="OnlyforHandheld">
		 <div class="player-stats-padding">
			<table class="player-stats-match-results">
				<tr>
					<th style="min-width:80px; font-size: 14px;"><%= @language.datum %><br><%= @language.vreme %></th>
					<th style="font-size: 14px"><%= @language.domacin %></th>
					<th style="font-size: 14px"><%= @language.rezultat %></th>
					<th style="font-size: 14px"><%= @language.gost %></th>
				</tr>
				<%= render 'results/match', obj: @predstojeci_mecevi.sort_by{|e| e[:match_date]} %>
			</table>
		</div>
	</div>

	<div class="OnlyforHandheld">
		 <div class="player-stats-padding">
			<table class="player-stats-match-results">
				<tr>
					<th style="min-width:80px; font-size: 14px;"><%= @language.datum %><br><%= @language.vreme %></th>
					<th style="font-size: 14px"><%= @language.domacin %></th>
					<th style="font-size: 14px"><%= @language.rezultat %></th>
					<th style="font-size: 14px"><%= @language.gost %></th>
				</tr>
				<%= render 'results/match', obj: @matches.sort_by{|e| e[:match_date]}.reverse %>
			</table>
		</div>
	</div>

</div>