<!-- Izgled meca za delegate -->
<% if logged_in? && current_user.delegate && (@match.is_match_finished == false || @match.is_match_started == false) %>
<body>
	<div class="bg-match">
	<div style="background-color: rgba(10, 15, 30, 0.85); min-height: inherit;">
	<div id='wrapper'>
		<h1><%= "#{@match.home_team.team.name} - #{@match.away_team.team.name}" %></h1>
	</div>
	<%= render 'layouts/messages' %>
	<div style="padding-bottom: 150px" class="player-stats-padding">
		<table class="player-stats OnlyforWeb">
			<tr>
				<td><%= image_tag @match.home_team.team.avatar.url(:thumb), width:"100px" %></td>
				<td colspan="3"><h1 style="font-size: 65px; color: white;"><%= @match.home_goals %> : <%= @match.away_goals %></h1></td>
				<td><%= image_tag @match.away_team.team.avatar.url(:thumb), width:"100px" %></td>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td>  </td>
				<% end %>
				<td><%= @match.home_team.team.name %></td>
				<td>  </td>
				<td><%= @match.away_team.team.name %></td>
				<% if logged_in? && current_user.delegate %>
					<td>  </td>
				<% end %>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_gol, :action => 'new_home', :controller => 'goals' %></td>
				<% end %>
				<td><%= @match.home_goals %></td>
				<td><%= @language.golova %></td>
				<td><%= @match.away_goals %></td>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_gol, :action => 'new_away', :controller => 'goals' %></td>
				<% end %>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_asistenciju, :action => 'new_home', :controller => 'assists' %></td>
				<% end %>
				<td><%= @match.home_assists %></td>
				<td><%= @language.asistencija %></td>
				<td><%= @match.away_assists %></td>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_asistenciju, :action => 'new_away', :controller => 'assists' %></td>
				<% end %>
			</tr>		
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_faul, :action => 'new_home', :controller => 'fouls' %></td>
				<% end %>
				<td><%= @match.home_fouls %></td>
				<td><%= @language_2.faulova %></td>
				<td><%= @match.away_fouls %></td>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_faul, :action => 'new_away', :controller => 'fouls' %></td>
				<% end %>
			</tr>		
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_zuti_karton, :action => 'new_home', :controller => 'yellow_cards' %></td>
				<% end %>
				<td><%= @match.home_yellow_cards %></td>
				<td><%= @language.zutih_kartona %></td>
				<td><%= @match.away_yellow_cards %></td>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_zuti_karton, :action => 'new_away', :controller => 'yellow_cards' %></td>
				<% end %>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_crveni_karton, :action => 'new_home', :controller => 'red_cards' %></td>
				<% end %>
				<td><%= @match.home_red_cards %></td>
				<td><%= @language.crvenih_kartona %></td>
				<td><%= @match.away_red_cards %></td>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_crveni_karton, :action => 'new_away', :controller => 'red_cards' %></td>
				<% end %>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to 'Dodaj šut', :action => 'new_home', :controller => 'shoots', data: { disable_with: "Molim Vas sacekajte..."} %></td>
				<% end %>
				<td><%= @match.home_shoots %></td>
				<td><%= @language_2.suteva %></td>
				<td><%= @match.away_shoots %></td>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to 'Dodaj šut', :action => 'new_away', :controller => 'shoots', data: { disable_with: "Molim Vas sacekajte..."} %></td>
				<% end %>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_odbranu, :action => 'new_home', :controller => 'goalkeeper_saves' %></td>
				<% end %>
				<td><%= @match.home_goalkeeper_saves %></td>
				<td>ODBRANE</td>
				<td><%= @match.away_goalkeeper_saves %></td>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to @language_2.dodaj_odbranu, :action => 'new_away', :controller => 'goalkeeper_saves' %></td>
				<% end %>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td>  </td>
				<% end %>
				<td>DELEGAT:</td>
				<td>SUDIJA:</td>
				<td><%= @language_2.teren %>:</td>
				<% if logged_in? && current_user.delegate %>
					<td>	</td>
				<% end %>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to 'Izaberi igrače', :action => 'new_home', :controller => 'match_players' %></td>
				<% end %>
				<td><%= @match.delegate.name %></td>
				<td><%= @match.referee.name %></td>
				<td><%= @match.stadion.name %></td>
				<% if logged_in? && current_user.delegate %>
					<td><%= link_to 'Izaberi igrače', :action => 'new_away', :controller => 'match_players' %></td>
				<% end %>
			</tr>
			<% if logged_in? && current_user.delegate %>
			<tr>
				<td><%= button_to 'Staruj meč', change_match_started_match_path, method: :put, class: "match-button-1", data: { confirm: "Potvrdite start meča!"} %></td>
				<td><%= button_to 'Kraj I poluvremena', change_first_half_ended_match_path, method: :put, class: "match-button-1", data: { confirm: "Potvrdite kraj I poluvremena!"} %></td>
				
				<% if (@minut_utakmice > 0) && (@minut_utakmice < 50) %>
					<td>U toku je <%= @minut_utakmice %> minut utakmice.</td>
				<% else %>
					<td>	</td>
				<% end %>

				<td><%= button_to 'Početak II poluvremena', change_second_half_started_match_path, method: :put, class: "match-button-1", data: { confirm: "Potvrdite početak II poluvremena!"} %></td>
				<td><%= button_to 'Kraj meča', change_second_half_ended_match_path, method: :put, class: "match-button-1", data: { confirm: "Potvrdite kraj meča!"} %></td>
			</tr>
			<% end %>
		</table>
		<table class="player-stats OnlyforHandheld player-stats-match">
			<tr>
				<td colspan="2"><%= image_tag @match.home_team.team.avatar.url(:thumb), height:"60px" %></td>
				<td><h1 style="font-size: 30px; color: white;"><%= @match.home_goals %> : <%= @match.away_goals %></h1></td>
				<td colspan="2"><%= image_tag @match.away_team.team.avatar.url(:thumb), height:"60px" %></td>
			</tr>
			<tr>
				<td colspan="2"><%= @match.home_team.team.name %></td>
				<td>  </td>
				<td colspan="2" style="color: white;"><%= @match.away_team.team.name %></td>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Gol', :action => 'new_home', :controller => 'goals' %></td>
				<% end %>
				<td><%= @match.home_goals %></td>
				<td>GOLOVI</td>
				<td><%= @match.away_goals %></td>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Gol', :action => 'new_away', :controller => 'goals' %></td>
				<% end %>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Asist', :action => 'new_home', :controller => 'assists' %></td>
				<% end %>
				<td><%= @match.home_assists %></td>
				<td>ASIST</td>
				<td><%= @match.away_assists %></td>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Asist', :action => 'new_away', :controller => 'assists' %></td>
				<% end %>
			</tr>		
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Faul', :action => 'new_home', :controller => 'fouls' %></td>
				<% end %>
				<td><%= @match.home_fouls %></td>
				<td>FAULOVI</td>
				<td><%= @match.away_fouls %></td>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Faul', :action => 'new_away', :controller => 'fouls' %></td>
				<% end %>
			</tr>		
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Žuti karton', :action => 'new_home', :controller => 'yellow_cards' %></td>
				<% end %>
				<td><%= @match.home_yellow_cards %></td>
				<td>ŽUTI<br>KARTONI</td>
				<td><%= @match.away_yellow_cards %></td>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Žuti karton', :action => 'new_away', :controller => 'yellow_cards' %></td>
				<% end %>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Crveni karton', :action => 'new_home', :controller => 'red_cards' %></td>
				<% end %>
				<td><%= @match.home_red_cards %></td>
				<td>CRVENI<br>KARTONI</td>
				<td><%= @match.away_red_cards %></td>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Crveni karton', :action => 'new_away', :controller => 'red_cards' %></td>
				<% end %>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Šut', :action => 'new_home', :controller => 'shoots' %></td>
				<% end %>
				<td><%= @match.home_shoots %></td>
				<td>ŠUTEVI</td>
				<td><%= @match.away_shoots %></td>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Šut', :action => 'new_away', :controller => 'shoots' %></td>
				<% end %>
			</tr>
			<tr>
				<% if logged_in? && current_user.delegate %>
					<td>+<br><%= link_to 'Odbrana', :action => 'new_home', :controller => 'goalkeeper_saves' %></td>
				<% end %>
				<td><%= @match.home_goalkeeper_saves %></td>
				<td>ODBRANE</td>
				<td><%= @match.away_goalkeeper_saves %></td>
				<% if logged_in? && current_user.delegate %>
					<td style="max-width: 50px; overflow: hidden;">+<br><%= link_to 'Odbrana', :action => 'new_away', :controller => 'goalkeeper_saves' %></td>
				<% end %>
			</tr>
			<tr>
				<td colspan="2">DELEGAT:</td>
				<td>SUDIJA:</td>
				<td colspan="2">BALON:</td>
			</tr>
			<tr>
				<td colspan="2"><%= @match.delegate.name %></td>
				<td><%= @match.referee.name %></td>
				<td colspan="2"><%= @match.stadion.name %></td>
			</tr>
			<tr>
				<td colspan="2" style="max-width: 50px; overflow: hidden;"><%= link_to 'Izaberi igrače', :action => 'new_home', :controller => 'match_players' %></td>
				<td>	</td>
				<td colspan="2" style="max-width: 50px; overflow: hidden;"><%= link_to 'Izaberi igrače', :action => 'new_away', :controller => 'match_players' %></td>
			</tr>


			<% if logged_in? && current_user.delegate %>
			<tr>
				<td colspan="2"><%= button_to 'Startuj meč', change_match_started_match_path, method: :put, class: "match-button-1", data: { confirm: "Potvrdite start meča!"} %></td>
				<td colspan="3"><%= button_to 'Kraj I poluvremena', change_first_half_ended_match_path, method: :put, class: "match-button-1", data: { confirm: "Potvrdite kraj I poluvremena!"} %></td>
			</tr>
			<tr>
				<% if (@minut_utakmice > 0) && (@minut_utakmice < 50) %>
					<td colspan="5">U toku je <%= @minut_utakmice %> minut utakmice.</td>
				<% else %>
					<td>	</td>
				<% end %>
			</tr>
			<tr>
				<td colspan="2"><%= button_to 'Početak II poluvremena', change_second_half_started_match_path, method: :put, class: "match-button-1", data: { confirm: "Potvrdite početak II poluvremena!"} %></td>
				<td colspan="3"><%= button_to 'Kraj meča', change_second_half_ended_match_path, method: :put, class: "match-button-1", data: { confirm: "Potvrdite kraj meča!"} %></td>
			</tr>
			<% end %>
		</table>
	</div>
	</div>
	</div>
</body>
<!-- Izgled meca za igrace -->
<% else %>
<body>
<div class="OnlyforWeb">
	<div class="bg-match">
	<div id='matches-show-wrapper'>
		<% if @match.league != nil %>
			<h1 style="margin-bottom:0;"><%= "#{@match.league.name}" %></h1>
		<% elsif @match.tournament != nil %>
			<h1 style="margin-bottom:0;"><%= "#{@match.tournament.name}" %></h1>
		<% end %>
	</div>
	<section id="" data-type="background" data-speed="10" style="height: 850px">
		<div class="bg-match">
			<div class="flex">
					<div id="top">
						<h2><%= link_to (image_tag @match.home_team.team.avatar.url(:thumb), height:"75px"), team_path(@match.home_team.team) %><br><%= @match.home_team.team.name %></h2>
						<h1><%= @match.home_goals %></h1>
						<div style="min-height: 100px">
							<%= render 'matches/home_goal_score', obj: @home_goals_on_match.sort_by{|e| e[:created_at]} %>
						</div>
					</div>

					<div id="bottom">
						<h2><%= link_to (image_tag @match.away_team.team.avatar.url(:thumb), height:"75px"), team_path(@match.away_team.team) %><br><%= @match.away_team.team.name %>
						</h2>
						<h1><%= @match.away_goals %></h1>
						<div style="min-height: 100px">
							<%= render 'matches/away_goal_score', obj: @away_goals_on_match.sort_by{|e| e[:created_at]} %>
						</div>
					</div>
			</div><div id="blocktop" class="block"></div><div id="blockbottom" class="block"></div>
		</div>
	</section>

	<section id="" data-type="background" data-speed="10" style="background-color: rgba(12, 19, 37, 0.77)">
		<div class="player-stats-padding">
			<table class="player-stats">
				<tr>
					<td><%= image_tag @match.home_team.team.avatar.url(:thumb), height:"80px" %></td>
					<td><h1 style="font-size: 5em; color: white;"><%= @match.home_goals %> : <%= @match.away_goals %></h1></td>
					<td><%= image_tag @match.away_team.team.avatar.url(:thumb), height:"80px" %></td>
				</tr>
				<tr>
					<td><%= @match.home_team.team.name %></td>
					<td>  </td>
					<td><%= @match.away_team.team.name %></td>
				</tr>
				<tr>
					<td><%= @match.home_goals %></td>
					<td>GOLOVI</td>
					<td><%= @match.away_goals %></td>
				</tr>
				<tr>
					<td><%= @match.home_assists %></td>
					<td>ASISTENCIJE</td>
					<td><%= @match.away_assists %></td>
				</tr>		
				<tr>
					<td><%= @match.home_fouls %></td>
					<td>FAULOVI</td>
					<td><%= @match.away_fouls %></td>
				</tr>		
				<tr>
					<td><%= @match.home_yellow_cards %></td>
					<td>ŽUTI KARTONI</td>
					<td><%= @match.away_yellow_cards %></td>
				</tr>
				<tr>
					<td><%= @match.home_red_cards %></td>
					<td>CRVENI KARTONI</td>
					<td><%= @match.away_red_cards %></td>
				</tr>
				<tr>
					<td><%= @match.home_shoots %></td>
					<td>ŠUTEVI</td>
					<td><%= @match.away_shoots %></td>
				</tr>
				<tr>
					<td><%= @match.home_goalkeeper_saves %></td>
					<td>ODBRANE</td>
					<td><%= @match.away_goalkeeper_saves %></td>
				</tr>
				<tr>
					<td>DELEGAT:</td>
					<td>SUDIJA:</td>
					<td>BALON:</td>
				</tr>
				<tr>
					<td><%= @match.delegate.name %></td>
					<td><%= @match.referee.name %></td>
					<td><%= @match.stadion.name %></td>
				</tr>
				<tr>
					<td><%= image_tag @match.delegate.avatar.url(:thumb), width:"100px" %></td>
					<td></td>
					<td><%= image_tag @match.stadion.avatar.url(:thumb), width:"100px" %></td>
				</tr>
			</table>
		</div>
	</section>

	<% if @match.is_match_finished %>
		<section id="" data-type="background" data-speed="10" style="background-color: rgba(12, 19, 37, 0.77)">
		<div class="player-stats-padding">
			<table class="player-stats">
				<tr>
					<td colspan="5"><%= image_tag @match.home_team.team.avatar.url(:thumb), height:"80px" %></td>
					<td colspan="5"><%= image_tag @match.away_team.team.avatar.url(:thumb), height:"80px" %></td>
				</tr>
				<tr>
					<td colspan="5"><%= @match.home_team.team.name %></td>
					<td colspan="5"><%= @match.away_team.team.name %></td>
				</tr>
				<tr>
					<td style="min-width: 23px"><%= image_tag("icons/ball4.png", :alt => "ball", :width => "20px") %></td>
					<td style="min-width: 23px"><%= image_tag("icons/shoe4.png", :alt => "shoe", :width => "20px") %></td>
					<td style="min-width: 23px"><%= image_tag("icons/yellow1.png", :alt => "ball", :width => "20px") %></td>
					<td style="min-width: 23px"><%= image_tag("icons/red1.png", :alt => "shoe", :width => "20px") %></td>
					<td style="max-width: 100px">Igrali</td>
					<td style="max-width: 100px">Igrali</td>
					<td style="min-width: 23px"><%= image_tag("icons/ball4.png", :alt => "ball", :width => "20px") %></td>
					<td style="min-width: 23px"><%= image_tag("icons/shoe4.png", :alt => "shoe", :width => "20px") %></td>
					<td style="min-width: 23px"><%= image_tag("icons/yellow1.png", :alt => "ball", :width => "20px") %></td>
					<td style="min-width: 23px"><%= image_tag("icons/red1.png", :alt => "shoe", :width => "20px") %></td>
				</tr>
				<%= render 'players_on_match' %>
			</table>
		</div>
		</section>
	<% end %>

	</div>
</div>
<div class="OnlyforHandheld">
	<div class="bg-match">
	<div id='matches-show-wrapper'>
		<% if @match.league != nil %>
			<h1 style="margin-bottom:0;"><%= "#{@match.league.name}" %></h1>
		<% elsif @match.tournament != nil %>
			<h1 style="margin-bottom:0;"><%= "#{@match.tournament.name}" %></h1>
		<% end %>
	</div>
	<section id="" data-type="background" data-speed="10" style="height: 550px">
		<div class="bg-match">
			<div class="flex">
					<div id="top" style="padding-top: 30px">
						<h2><%= link_to (image_tag @match.home_team.team.avatar.url(:thumb), height:"60px"), team_path(@match.home_team.team) %><br><span style="font-size: 20px;"><%= @match.home_team.team.name %></span></h2>
						<h1 style="font-size: 40px;"><%= @match.home_goals %></h1>
					</div>

					<div id="bottom" style="padding-top: 30px">
						<h2><%= link_to (image_tag @match.away_team.team.avatar.url(:thumb), height:"60px"), team_path(@match.away_team.team) %><br><span style="font-size: 20px;"><%= @match.away_team.team.name %></span>
						</h2>
						<h1 style="font-size: 40px;"><%= @match.away_goals %></h1>
					</div>
			</div><div id="blocktop" class="block"></div><div id="blockbottom" class="block"></div>
		</div>
	</section>

	<section id="" data-type="background" data-speed="10" style="background-color: rgba(12, 19, 37, 0.77)">
		<div class="player-stats-padding">
			<table class="player-stats">
				<tr>
					<td><%= image_tag @match.home_team.team.avatar.url(:thumb), width:"40px" %></td>
					<td><h1 style="font-size: 35px; color: white;"><%= @match.home_goals %> : <%= @match.away_goals %></h1></td>
					<td><%= image_tag @match.away_team.team.avatar.url(:thumb), width:"40px" %></td>
				</tr>
				<tr>
					<td style="max-width: 90px"><%= @match.home_team.team.name %></td>
					<td>  </td>
					<td style="max-width: 90px; overflow: visible"><%= @match.away_team.team.name %></td>
				</tr>
				<tr>
					<td><%= @match.home_goals %></td>
					<td>GOLOVI</td>
					<td><%= @match.away_goals %></td>
				</tr>
				<tr>
					<td><%= @match.home_assists %></td>
					<td>ASISTENCIJE</td>
					<td><%= @match.away_assists %></td>
				</tr>		
				<tr>
					<td><%= @match.home_fouls %></td>
					<td>FAULOVI</td>
					<td><%= @match.away_fouls %></td>
				</tr>		
				<tr>
					<td><%= @match.home_yellow_cards %></td>
					<td>ŽUTI KARTONI</td>
					<td><%= @match.away_yellow_cards %></td>
				</tr>
				<tr>
					<td><%= @match.home_red_cards %></td>
					<td>CRVENI KARTONI</td>
					<td><%= @match.away_red_cards %></td>
				</tr>
				<tr>
					<td><%= @match.home_shoots %></td>
					<td>ŠUTEVI</td>
					<td><%= @match.away_shoots %></td>
				</tr>
				<tr>
					<td><%= @match.home_goalkeeper_saves %></td>
					<td>ODBRANE</td>
					<td><%= @match.away_goalkeeper_saves %></td>
				</tr>
				<tr>
					<td>DELEGAT:</td>
					<td>SUDIJA:</td>
					<td>BALON:</td>
				</tr>
				<tr>
					<td><%= @match.delegate.name %></td>
					<td><%= @match.referee.name %></td>
					<td><%= @match.stadion.name %></td>
				</tr>
				<tr>
					<td><%= image_tag @match.delegate.avatar.url(:thumb), width:"40px" %></td>
					<td></td>
					<td><%= image_tag @match.stadion.avatar.url(:thumb), width:"40px" %></td>
				</tr>
			</table>
		</div>
	</section>

	<% if @match.is_match_finished %>
		<section id="" data-type="background" data-speed="10" style="background-color: rgba(12, 19, 37, 0.77)">
		<div class="player-stats-padding">
			<table class="player-stats">
				<tr>
					<td colspan="5"><%= image_tag @match.home_team.team.avatar.url(:thumb), width:"40px" %></td>
				</tr>
				<tr>
					<td colspan="5"><%= @match.home_team.team.name %></td>
				</tr>
				<tr>
					<td>Igrali</td>
					<td style="max-width: 23px"><%= image_tag("icons/ball4.png", :alt => "ball", :width => "20px") %></td>
					<td style="max-width: 23px"><%= image_tag("icons/shoe4.png", :alt => "shoe", :width => "20px") %></td>
					<td style="max-width: 23px"><%= image_tag("icons/yellow1.png", :alt => "ball", :width => "20px") %></td>
					<td style="max-width: 23px"><%= image_tag("icons/red1.png", :alt => "shoe", :width => "20px") %></td>
				</tr>
				<%= render 'home_players' %>
			</table>
		</div>

		<div class="player-stats-padding">
			<table class="player-stats">
				<tr>
					<td colspan="5"><%= image_tag @match.away_team.team.avatar.url(:thumb), width:"40px" %></td>
				</tr>
				<tr>
					<td colspan="5"><%= @match.away_team.team.name %></td>
				</tr>
				<tr>
					<td>Igrali</td>
					<td style="max-width: 23px"><%= image_tag("icons/ball4.png", :alt => "ball", :width => "20px") %></td>
					<td style="max-width: 23px"><%= image_tag("icons/shoe4.png", :alt => "shoe", :width => "20px") %></td>
					<td style="max-width: 23px"><%= image_tag("icons/yellow1.png", :alt => "ball", :width => "20px") %></td>
					<td style="max-width: 23px"><%= image_tag("icons/red1.png", :alt => "shoe", :width => "20px") %></td>
				</tr>
				<%= render 'away_players' %>
			</table>
		</div>
		</section>
	<% end %>

	</div>
</div>
</body>
<% end %>