<div class="OnlyforWeb">
	<%= month_calendar events: @matches do |date, matches| %>
	  <h2><%= date.strftime("%d") %></h2>

		<% matches.each do |match| %>
			<%= link_to match_path(match) do %>
				<div style="padding-bottom: 5px;" align="center" onclick='location.href="<%= match_path(match) %>"'>
					<%= image_tag match.home_team.team.avatar.url(:thumb), width:"30px" %> <%= "#{match.home_team.team.name}" %><br>
					<span>vs</span><br>
					<%= image_tag match.away_team.team.avatar.url(:thumb), width:"30px" %> <%= "#{match.away_team.team.name}" %>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>
<div class="OnlyforHandheld">
	<%= month_calendar events: @matches do |date, matches| %>
	  <h2><%= date.strftime("%d") %></h2>

		<% matches.each do |match| %>
			<%= link_to match_path(match) do %>
				<div style="padding-bottom: 5px;" align="center" onclick='location.href="<%= match_path(match) %>"'>
					<%= image_tag match.home_team.team.avatar.url(:thumb), width:"30px" %><br>
					<span>vs</span><br>
					<%= image_tag match.away_team.team.avatar.url(:thumb), width:"30px" %>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>






<!-- Alternativni izgled za "kalendar utakmica" -->

<div id='wrapper'>
	<h1><%= @team.name %></h1>
</div>
<div class="center results-font">
	<div class="OnlyforWeb">
		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<th>Datum</th>
				<th>Vreme</th>
				<th>Domaćin</th>
				<th></th>
				<th>Rezultat</th>
				<th></th>
				<th>Gost</th>
				<th>Liga</th>
				<th>Sezona</th>
				<th>Teren</th>
			</tr>
			<%= render 'results/match', obj: @matches.sort_by{|e| e[:match_date]} %>
			</table>
		</div>
	</div>
	<div class="OnlyforHandheld">
		 <div class="player-stats-padding">
			<table class="player-stats-match-results">
			<tr>
				<th style="min-width:80px; font-size: 14px;">Datum<br>Vreme</th>
				<th style="font-size: 14px">Domaćin</th>
				<th style="font-size: 14px">Rezultat</th>
				<th style="font-size: 14px">Gost</th>
			</tr>
			<%= render 'results/match', obj: @matches.sort_by{|e| e[:match_date]} %>
			</table>
		</div>
	</div>	
</div>