<% for @obj in 0..30 %>
	<% unless (@home_player_seasons_on_match[@obj] == nil) && (@away_player_seasons_on_match[@obj] == nil) %>
		<tr>
			<% if @home_player_seasons_on_match[@obj] != nil %>
				<td><%= @home_player_seasons_on_match[@obj].player.full_name %></td>
			<% else %>
				<td>	</td>
			<% end %>
			<% if @away_player_seasons_on_match[@obj] != nil %>
				<td><%= @away_player_seasons_on_match[@obj].player.full_name %></td>
			<% else %>
				<td>	</td>
			<% end %>
		</tr>
	<% end %>
<% end %>