<!--Ovo je TEXT za sistem za razmenu poruka-->

You have a new message: <%= @subject %>
===============================================

You have received a new message:

-----------------------------------------------
<%= @message.body.html_safe? ? @message.body : strip_tags(@message.body) %>
-----------------------------------------------

Visit <%= root_url %> and go to your inbox for more info.
