<div id='wrapper'>
	<h1><%= @language.meni_sudije %></h1>
</div>

<div class="center">
	 <div class="player-stats-padding">
		<table class="player-stats">
			<tr>
				<th><%= @language_2.slika_sudije %></th>
				<th><%= @language_2.ime %></th>
				<th><%= @language_2.prezime %></th>
			</tr>
			<%= render 'referees/referee', obj: @referees %>
		</table>
	</div>
</div>
