
/******************** show.html.erb ******************/
.conversation-container{
	
	.panel-default{
		width: 45%;
		
		margin: auto;
		margin-top: 2%;
		border-radius: 5px;
		border-color:rgba(12,19,37,0.95);
	    
	}
	.panel-default > .panel-heading {
		background-color:rgba(12,19,37,0.95);
	    color: white;
	    font-size: 1.2em;
	    overflow: hidden;
	}

	.text-muted{
		padding-right: 1%;
	}
	
	.media-body{

	h4{
		color:#555555;
	}
	}
	.send_button{
	    background-color:rgba(12,19,37,0.95);	
		color:white;
		width: 10%;
		border: 1px solid rgba(12,19,37,0.95);
		font-size:14px;
		padding-top: 2px;
		padding-bottom: 2px;
		opacity: 0.9;
		cursor:pointer;
		
		margin-top: 5px;
		float:right;
	
	}
	.send_button:active{
		background-color: rgba(0,0,0,0);
		color: #f9ad1c;

	}
	.form-control{
		height:50%;
		margin-top: 1%;
		border: 1px solid rgba(12,19,37,0.9);
	}
	.ease {
		width: 0px;
		height: 74px;
		background-color: #fbfbfb;
		-webkit-transition: .13s ease;
		-moz-transition: .13s ease;
		-o-transition: .13s ease;
		-ms-transition: .13s ease;
		transition: .13s ease;
	}
	.formcontrol
	.submit:active .ease{
	  width:100%;
	  background-color:#f9ad1c;
	}
}
	

/********************************************/


/* _conversation.html.erb */

table.list-group{
	width: 100%;
	height: 100%;
	td{
 	max-width: 150px;
 	text-decoration: none;
 	text-overflow: ellipsis;
 	white-space: nowrap;
 	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	-webkit-box-shadow: 0 2px 2px -2px #0E1119;
  	-moz-box-shadow: 0 2px 2px -2px #0E1119;
  	box-shadow: 0 2px 2px -2px #0E1119;
	
	/*max-width: 0;
    overflow: hidden;
    
    white-space: nowrap;*/
  	}
  	

	td a {
		text-decoration:none;

	}
	td a:hover{
		color:#f9ad1c;

	}

	th{

		padding-top: 5px;
		padding-bottom:5px;
		padding-right: 10px;
		padding-left: 10px;
	}
	border-radius:10px;

	tr:nth-child(odd) {
	  	background-color: rgba(50, 60, 80, 0.58);
	}

	/* Background-color of the even rows */
	 tr:nth-child(even) {
	  background-color: rgba(20, 24, 31, 0.61);
	}

	 th {
	  background-color: #1F2739;
	}

	 td:first-child {
	  color: #DDD; 
	  font-weight: bold;
	}

	 td:nth-child(2) {
	  color: #F9AD1C;
	  
	  float:left;
	  
	}
	td:nth-child(3) {
	  
	  overflow: hidden;
	}

}

/************ ovo je za levi side bar za inbox trash i sent button-e ************/

.col-sm-3{
	 	li a:hover{
	 	color:#0c1325;
	 		}
		}

/*********************************************************************************/
	



/***********************************/
.startconv {
	color: white;
	background-color: rgba(240, 248, 255, 0.1);
	border-radius: 4px;
	position: relative;
	display: block;
	padding: 10px 15px;
	width: 100%;

}

.startconv a {
	text-decoration: none;
	color:#0c1325;
}
.startconv:hover{
	background:#eeeeee; 
	color:#0c1325;
	text-decoration: none;
}

@media only screen and (max-width: 580px) {
	table.list-group{
		width: 100%;
		height: 100%;
		td{
	 	max-width: 150px;
	 	text-decoration: none;
	 	text-overflow: ellipsis;
	 	white-space: nowrap;
	 	padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 5px;
		-webkit-box-shadow: 0 2px 2px -2px #0E1119;
	  	-moz-box-shadow: 0 2px 2px -2px #0E1119;
	  	box-shadow: 0 2px 2px -2px #0E1119;
		
		/*max-width: 0;
	    overflow: hidden;
	    
	    white-space: nowrap;*/
	  	}
	  	

		td a {
			text-decoration:none;

		}
		td a:hover{
			color:#f9ad1c;

		}

		th{

			padding-top: 3px;
			padding-bottom:3px;
			padding-right: 3px;
			padding-left: 3px;
		}
		border-radius:10px;

		tr:nth-child(odd) {
		  	background-color: rgba(50, 60, 80, 0.58);
		}

		/* Background-color of the even rows */
		 tr:nth-child(even) {
		  background-color: rgba(20, 24, 31, 0.61);
		}

		 th {
		  background-color: #1F2739;
		}

		 td:first-child {
		  color: #DDD; 
		  font-weight: bold;
		}

		 td:nth-child(2) {
		  color: #F9AD1C;
		  float:left;
		}

		td:nth-child(3) {
		  overflow: hidden;
		}
	}

	.conversation-container{
		
		.panel-default{
			width: 90%;
			
			margin: auto;
			margin-top: 2%;
			border-radius: 5px;
			border-color:rgba(12,19,37,0.95);
		    
		}
		.panel-default > .panel-heading {
			background-color:rgba(12,19,37,0.95);
		    color: white;
		    font-size: 1.2em;
		    overflow: hidden;
		}

		.send_button{
		    background-color:rgba(12,19,37,0.95);	
			color:white;
			width: 60px;
			border: 1px solid rgba(12,19,37,0.95);
			font-size:14px;
			padding-top: 2px;
			padding-bottom: 2px;
			opacity: 0.9;
			cursor:pointer;
			
			margin-top: 5px;
			float:right;
		
		}
		.send_button:active{
			background-color: rgba(0,0,0,0);
			color: #f9ad1c;

		}
	}
}

