/****************************************************************************************************************
 * @import
 * CSS biblioteke, fontovi itd.
/****************************************************************************************************************/

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,300,100,500,700&subset=latin,latin-ext);

/* Ubuntu font */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500);

/****************************************************************************************************************
 * PODESAVANJA CSS
/****************************************************************************************************************/
/* Boja navbar-a */
.navbar-default {
    background-color: #0c1325;
    border-color: #0c1325;
}

.navbar {
  z-index: 10;
  font-family: Ubuntu;
}

/* WELCOME strana */
/**************************/
/*  */

/* Vrednosti - pozadina */
#portfolio {
  background: white;
  /*margin-bottom: 210px;*/
}

/* Vrednosti - boja teksta */
.thumbnail a p {
    color: gray;
}

/* Vrednosti - boja kada se predje misem (:hover) */
#portfolio .col-md-4:hover {
    background-color: #f5f5f5 !important;
    color: #FCFCFC;
}


/****************************************************************************************************************
 * TEMA 1: GOLUX 21st century SPORT (Fantasy Futsal - DE Sport - DigitalEra Sport - Fantasy Sport Stats)
/****************************************************************************************************************/

/****************************************************************************************************************
 * TEMA 2: GOLUX druga tema
/****************************************************************************************************************/

/****************************************************************************************************************
 * TEMA 3: Tema za BALF
/****************************************************************************************************************/

/************************************************************************
 * Alerts and Notice
/***********************************************************************/
/*flash*/
.alert-error {
    background-color: #f2dede;
    opacity: 0.6;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    opacity: 0.6;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    opacity: 0.6;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    opacity: 0.6;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

/****************************************************************************************************************
 * BODY
/****************************************************************************************************************/

/****************************************************************************************************************
 * NAV ZA WELCOME
 * (unutar BODY)
/****************************************************************************************************************/

/****************************************************************************************************************
 * NAV GENERALNO
 * (unutar BODY)
/****************************************************************************************************************/

$navbar-collapse: #001b39;
$navbar-default: #001b39;
$navbar-form: #001b39;

$navbar-default-position: fixed;
$navbar-color: yellow;


/* Sirina dropdown menija */
.dropdown-menu {
    max-width: 180px;
}
.dropdown-menu .divider {
    max-width: 170px;
}

/* Dropdown submenu */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    /* Podesavamo da li submenu ide na levo ili na desno */
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:before {
    display: block;
    content: " ";
    /* Strelica da pokazuje na levo */
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: 10px;
}

/*
.dropdown-submenu>a:after {
    display: block;
    content: " ";*/
    /* Strelica da pokazuje na desno */
    /* float: right;*/
    /*width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}*/

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/****************************************************************************************************************
 * FOOTER ZA WELCOME
 * (unutar BODY)
/****************************************************************************************************************/

/****************************************************************************************************************
 * FOOTER GENERALNO
 * (unutar BODY)
/****************************************************************************************************************/

/*******************************************************************************************************/

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #0D0E0D inset; /* #202624 */
    -webkit-text-fill-color: whitesmoke;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: rgba(8, 10, 9, 0.57),0 0 0 50px #0D0E0D inset;
    -webkit-text-fill-color: whitesmoke;
}

/*********************************************************
 * Content
 *--------------------------------------------------------
 * info:Vazi za celu stranicu;
 * 1. Layout:         /layout/application.html.erb
 *    1.1. html
 *    1.2. body
 *    1.3. footer
 *--------------------------------------------------------    
 * info:Naslovna strana, vesti, pravila, kontakt;
 * 2. Home page
 *    2.1. homepage (logo, login)
 *    2.2. vesti (articles)
 *    2.3. pravila
 *    2.4. kontakt
 *--------------------------------------------------------
 * 3. Team sign up:   /teams/new.html.erb
 *--------------------------------------------------------
 * 4. Player profile: /players/show.html.erb
 *--------------------------------------------------------
 * 5. Admin profile
 *--------------------------------------------------------
 * *. Addons(center...)
 ********************************************************/

/*********************************************************
 * info:Vazi za celu stranicu;
 * 1. Layout:         /layout/application.html.erb
 *    1.1. html
 *    1.2. body
 *    1.3. footer
 ********************************************************/

/*--------------------------------------------------------
 * 1.1. html
 *------------------------------------------------------*/
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*--------------------------------------------------------
 * 1.2. body
 *------------------------------------------------------*/
body {
  position: relative;
  margin: 0;
  /*padding-bottom: 6rem;*/
  padding-bottom:60px;   /* Height of the footer */
  min-height: 965px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #F9AD1C;
  /*background-color: #eee;
  background-image: asset-url('emoticons/1.jpg');*/
  /*background-color:#000;*/
  /*background-image:url('bg-intro2.jpg');*/
}

body h1 {
    padding-top: 15px;
    margin-top: 0;
}

a {
  color:#FFF;
}

a:hover {
  color:#A5D5DA;
}

p {
  margin: 0 0 0 0;
  padding-bottom: 10px;
}

.yield-content {
    min-height: 755px;
    background: radial-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 50%), linear-gradient(#0c1325, #337ab7 60%, #0c1325);

    /*background-image:url('bg-intro.jpg');
    background-size: cover;*/
}

.h-padding {
  padding-top: 64px;
  padding-bottom: 44px;
}

.home-articles-padding {
  padding-top: 100px;
  padding-bottom: 120px;
}

.home-padding {
  padding-top: 200px;
  padding-bottom: 70px;
}

/*h1-title on every page*/
.h1-title {
  color:#FFF;
  font-family: 'Roboto Condensed';
  font-size: 3.5em;
  margin-top: 2%;
  padding-top: 20px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1.3px black;
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

/*.content {*/
  /*height: 100%;*/
  /*margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;*/
/*}*/

.content h1 {
  margin-top: 0;
}

.super-gray-text {
  color: #161718;
}

/*--------------------------------------------------------
 * 1.3. footer
 *------------------------------------------------------*/
footer {
  clear:both;
}

.footer {
  position: absolute;
  height:60px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  /*padding: 1rem;*/
  color:#F9AD1C;
  background-color: #080A09;
  /*text-align: center;*/
}

.footer-container {
  position:absolute;
  height: 130px;
  width: 80%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}

.footer-container-ul {
  position:absolute;
  height: 130px;
  width: 80%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}

/*********************************************************
 * info:Naslovna strana, vesti, pravila, kontakt;
 * 2. Home page
 *    2.1. homepage (logo, login)
 *    2.2. vesti (articles)
 *    2.3. pravila
 *    2.4. contact
 ********************************************************/
 
 /*--------------------------------------------------------
 * 2.1. homepage (logo, login, video background...)
 *------------------------------------------------------*/
#logo {
  float: left;
  font-size:1.7em;
  color:#F9AD1C;
  text-transform:uppercase;
  letter-spacing:-1px;
  font-weight:bold;
}

/* login */
.main-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.login-main {
  width: 300px;
  height: 100px;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: rgba(8, 10, 9, 0.44);*/
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.login-main p {
  text-indent: 10px;
}

.login-polje {
  background: rgba(8, 10, 9, 0.57);
  height: 40px;
  text-indent: 10px;
  width: 90%;
  margin-bottom: 2px;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 400;
  border-color: rgba(158, 158, 158, 0.55); /* Boja okvira login polja */
}

.polje {
  /*background: rgba(8, 10, 9, 0.57);*/
  background: rgb(245, 245, 245);
  height: 40px;
  text-indent: 10px;
  width: 100%;
  margin-bottom: 2px;
  color: #212122;
  font-size: 15px;
  font-weight: 400;
}

.contact-text-area {
  background: rgb(245, 245, 245);
  height: 100px;
  text-indent: 10px;
  width: 100%;
  margin-bottom: 2px;
  color: #202021;
  font-size: 15px;
  font-weight: 400;
}

.contact-send-button {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  border: 2px solid #f9ad1c;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #f5f5f5;
  text-shadow: 0 1px 1px rgba(249, 173, 28, 0.1);
  margin: 0;
  text-decoration: none;
  text-align: center;
  background-image: -webkit-linear-gradient(top, #252525, #101010);
}

.border1 {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.border2 {
  -webkit-border-radius: 0px 0 5px 5px;
  -moz-border-radius: 0px 0 5px 5px;
  -ms-border-radius: 0px 0 5px 5px;
  -o-border-radius: 0px 0 5px 5px;
  border-radius: 0px 0 5px 5px;
}


/*********************************************
* Dugme za Login (Lopta koja se okrece)
*********************************************/
.send {
  width: 65px;
  height: 65px;
  background-color: transparent;
  /* -webkit-border-radius: 50%; */
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-color: rgba(181, 181, 181, 0);
  position: absolute;
  top: 20px;
  left: 242px;
  background-image: url("emoticons/soccerball.png");
  background-repeat: no-repeat;
  font-size: 18px;
  color: #F9AD1C;
  font-weight: normal;
  text-shadow: 1px 1px 2px #000;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.send:hover {
  animation: spin 0.4s ease-in-out;
  -webkit-animation: spin 0.4s ease-in-out;
  -moz-animation: spin 0.4s ease-in-out;
  -ms-animation: spin 0.4s ease-in-out;
  -o-animation: spin 0.4s ease-in-out;
  cursor: pointer;
}

@keyframes spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

@-o-keyframes spin {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(360deg);}
}

/********************************************/

.btn-xlarge {
  font-size: 1.7em;
}

.description {
  margin-top: 5px;
}

.listing{
  list-style: none;
  padding-left: 0;
}

.navbar {
  margin:0;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

/* video background */
/* Title and logo go in front of video */
.in-front-of-video {
  position:absolute;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 2;
}

.container {
  position:relative;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  padding-bottom: 20px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------
 * 2.2. vesti
 *-----------------------------------------------------------------------------------------------------------------------------------*/
/* Articles */
/* Transforming of article design articles on news clipping page */
/* Image spread in div on page news*/
.image_article {
  position:relative;
  width:100%;
  max-width: 400px;
  left: 0;
  z-index: 2;
  opacity:0.8;
}

.image_home {
  position:relative;
  height:349px;
  width: auto;
  left: 0;
  z-index: 2;
  opacity:0.6;
}

/* without padding inside every news clipping*/
.col-md-4 {
  padding: 0 0 0 0;
  max-width: 400px;
}

/* content in news clipping*/
.well {
  padding-left:0;
  position:absolute;
  top:0;
  background: rgba(0, 0, 0, .5);
  border: none;
  z-index: 4;
  color: white;
  font-weight: 900;
  height:100%;
  width:100%;
  max-width: 400px;
}

.well-image {
  padding-left:0;
  position:absolute;
  top:0;
  border: none;
  z-index: 4;
  color: white;
  font-weight: 900;
  height:100%;
  width:100%;
  max-width: 400px;
}

.well-image-01 { background: rgba(131,183,57,0.2); }
.well-image-02 { background: rgba(249,173,28,0.2); }
.well-image-03 { background: rgba(165,85,216,0.2); }
.well-image-04 { background: rgba(231,227,228,0.2);}
.well-image-05 { background: rgba(83,161,207,0.2); }
.well-image-06 { background: rgba(238,210,25,0.2); }

.pagination {
  float:left;
  clear:both;  
}

.article-title {
  padding-left:24px;
  font-family: 'Roboto Condensed';
  font-size: 1.4em;
  margin-top: 7%;
  text-shadow: 1px 1px 1.3px black;
  text-transform: uppercase;
}

.aricle-body {
  padding-left:24px;
  position:absolute;
  width:100%;
  max-width: 400px;
  bottom:10px;
  font-size:1.1em;
}

/* line in article*/
hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(225, 225, 225, 0),
                    rgba(225, 225, 225, 0.75), rgba(225, 225, 225, 0));
}

.article_tittle {
  clear:both;
  color:#FFF;
}

/* padding inside article*/
.row {
  padding-left:20%;
  padding-right:20%;
}

/* balf logo on news clipping page  */

.logo {
  display: block;
  position:center;
  margin: 0 auto;
  height: auto !important;
  width:10%;
  min-width:70px;
  /*
  padding-left:40%;
  padding-right:40%;
  z-index: 2;
  */
}

#logo-container {
  padding-bottom:70px;
}

/* 2.4. Contact Kontakt */
.balf-gradient-background {
  /*background: radial-gradient(transparent 50%,rgba(0.3,0,0,.3) 100%),linear-gradient(#11998f,#214ea6 60%,#4225ac);*/
/*  background: radial-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 50%), linear-gradient(#0c1325, #337ab7 60%, #0c1325);
*/  min-height: 755px;
}

.balf-gradient-background-transparent {
    background: radial-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 50%), linear-gradient(rgb(12, 19, 37), rgba(51, 122, 183, 0.95) 60%, rgba(12, 19, 37, 0.98));
    min-height: 755px;
}

/* 2.5 Contact Page */
.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

/************************* Stadioni ****************************/

.stadion-container{
  max-width: 60%;
  margin: 5% auto;
  padding: 20px;
  background-color: rgba(8, 10, 9, 0.44);
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 5px #222;
}

.text-center{
  text-align: center;
  margin-bottom: 1em;
}

.stadion-gallery ul{
  list-style: none;
  padding: 0;
}

.stadion-gallery li{
  display: inline-block;
  float: left;
  width: 28.3333%;
  margin: 2.5%;
  position: relative;
  font-size: 0;
   transition: .25s box-shadow ease-in-out .1s;
}

.stadion-gallery li h4{
  text-align: center;
  font-size: 14px;
}

.stadion-gallery li p{
  text-align: center;
  font-size: 12px;
}

@media only screen and (max-width: 680px) {
  .stadion-gallery li {
    width: 45%;
  }
  .lightbox img {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 480px) {
  .stadion-gallery li {
    width: 100%;
    margin: 2% 0;
  }
}

.stadion-gallery li:hover{
  box-shadow: 0 0 15px #4e5d6a;
}

.stadion-gallery img{
  width: 100%;
}

/*Lighbox CSS*/


.lightbox{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 30px;
  box-sizing: border-box;
}

.lightbox img{
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.lightbox .caption{
  margin: 15px auto;
  width: 50%;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  color: #eee;
}

/***************************************************************/

#text-field {
  height: 150px;
}

/************************** Gallery ****************************/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.home-news-padding {
  padding-top: 100px;
  padding-bottom: 120px;
}

figure.snip1206 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  /*margin: 10px 1%;*/
  /*
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  */
  /*max-width: 33%;*/
  width: 33.333333%;
  color: #000000;
  text-align: center;
}
figure.snip1206 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

figure.snip1206 img {
  -webkit-filter: brightness(0.3);
  /*-webkit-filter: grayscale(70%);
  -webkit-filter: sepia(80%);*/
  /*-webkit-filter: blur(2px);*/
  opacity: 0.9;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

  /*-webkit-filter: brightness(0.4);
  -webkit-filter: sepia(0.3);*/
  /*-webkit-filter: grayscale(70%);
  -webkit-filter: sepia(80%);*/
  /*-webkit-filter: blur(2px);*/
  /*-webkit-filter: blur(2px);*/

figure.snip1206:nth-child(2) img {
  -webkit-filter: grayscale(100%);
}

figure.snip1206:nth-child(4) img {
  -webkit-filter: grayscale(100%);
}

figure.snip1206:nth-child(6) img {
  -webkit-filter: grayscale(100%);
}

figure.snip1206:after {
  /*background: #ffffff;*/
  background: #F9AD1C;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.75;
  -webkit-transform: skew(-45deg) scaleX(0);
  transform: skew(-45deg) scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.snip1206 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
figure.snip1206 h2,
figure.snip1206 p {
  margin: 0;
  width: 100%;
  opacity: 0.9;
  color: whitesmoke;
}
figure.snip1206 h2 {
  padding: 0 30px;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1206 p {
  padding: 0 50px;
  font-size: 1em; /*0.8em*/
  font-weight: 500;
}
figure.snip1206 a {
  /*background: rgba(17, 17, 17, 0.12);*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1206:hover:after,
figure.snip1206.hover:after {
  -webkit-transform: skew(-45deg) scaleX(1);
  transform: skew(-45deg) scaleX(1);
  /*transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
}
figure.snip1206:hover figcaption h2,
figure.snip1206.hover figcaption h2,
figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
  color: #010101;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1206:hover figcaption h2,
figure.snip1206.hover figcaption h2 {
  opacity: 1;
}
figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
  opacity: 0.7;
}

figure.snip1206:hover:nth-child(1) img,
figure.snip1206.hover:nth-child(1) img {
  -webkit-filter: brightness(0.9);
}

figure.snip1206:hover:nth-child(3) img,
figure.snip1206.hover:nth-child(3) img {
  -webkit-filter: brightness(0.9);
}

figure.snip1206:hover:nth-child(5) img,
figure.snip1206.hover:nth-child(5) img {
  -webkit-filter: brightness(0.9);
}

/* Menu Styles */
@media screen and (max-width: 960px) {
  figure.snip1206 {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  figure.snip1206 {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  figure.snip1206 {
    width: 100%;
  }
}




/*********************************************************
 * 3. Team sign up:   /teams/new.html.erb
 *
 ********************************************************/

#signup {
  margin-top: 30;
  margin-right: 10;
  margin-left: 10;
  background-color: black;
  /*color: white;*/
  color:#fff;
  float: right;
}


 /* Signup */
.main-wrap-team{
  width: 100%;
  height: 100%;
  position: relative;
}

 /* Signup */
.main-wrap-footer{
  width: 100%;
  position: relative;
}

.signup-main {
  width: 60%;
  min-width: 280px;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(245, 245, 245, 0.13); /*rgba(8, 10, 9, 0.44);*/
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-layer {
  width: 60%;
  min-width: 280px;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(8, 10, 9, 0.44);
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.signup-main p {
  text-indent: 10px;
}

.signup-padding {
  padding-bottom: 5px;
}

/*********************************************************
 * 4. Player profile: /players/show.html.erb
 *
 ********************************************************/

.name_surname_player{
 text-transform: capitalize;
 color:whitesmoke;
 padding-top: 20px;
 padding-bottom: 20px;
}

/* Responsive name-surname-player */
@media screen and (max-width: 699px) and (min-width: 520px) {
  .name_surname_player{
   font-size: 20px;
  }
}

@media screen and (max-width: 520px) {
  .name_surname_player{
   font-size: 16px;
  }
}

.table_center{
 position: relative;
 left: 50%;
 transform: translate(-50%);
}

#table_player{
  border:1px solid blue;
} 

#table_player td{
 line-height:0;
 padding:7px; 
 border:  1px solid black;
 white-space: nowrap;
 width: 100%; 
}

#table_player tr:nth-child(odd){ 
  background: grey;
}

#table_player tr:nth-child(even){
  background: white;
}

.loginpadding {
  position:relative;
  padding-left:20%;
  padding-right:20%;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

/***************************
* Player stats
***************************/
.player-stats {
  text-align: center;
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  padding-bottom: 50px;

  font-family: Ubuntu;
  font-weight: 250;
}

.player-stats th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #185875;
}

.player-stats a:hover {
  color: #f9ad1c;
  text-decoration: none;
}

.player-stats td, .player-stats th {  
  /*padding-bottom: 2%;
  padding-top: 2%;
  padding-left:2%;*/
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.player-stats th {  
text-align: center;
}

/* Background-color of the odd rows */
.player-stats tr:nth-child(odd) {
  background-color: rgba(50, 60, 80, 0.58);
}

/* Background-color of the even rows */
.player-stats tr:nth-child(even) {
  background-color: rgba(20, 24, 31, 0.61);
}

.player-stats th {
  background-color: #1F2739;
}

.player-stats td:first-child {
  color: #DDD; 
}

.player-stats td:nth-child(2) {
  color: #F9AD1C;
}

/*
.player-stats tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}*/

.player-stats tr:hover {
  background-color: rgba(221, 221, 221, 0.13);
}

.player-stats td:hover {
  /* rgba(221, 221, 221, 0.13); */
  background-color: transparent;
  /*color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;*/
}

.player-stats-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

/***************************
* Player stats
***************************/
.player-stats-match-results {
  text-align: center;
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  padding-bottom: 50px;

  font-family: Ubuntu;
  font-weight: 250;
}

.player-stats-match-results th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #185875;
}

.player-stats-match-results a:hover {
  color: #f9ad1c;
  text-decoration: none;
}

.player-stats-match-results td, .player-stats-match-results th {  
  /*padding-bottom: 2%;
  padding-top: 2%;
  padding-left:2%;*/
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
}

.player-stats-match-results th {  
text-align: center;
}

/* Background-color of the odd rows */
.player-stats-match-results tr:nth-child(odd) {
  background-color: rgba(50, 60, 80, 0.58);
}

/* Background-color of the even rows */
.player-stats-match-results tr:nth-child(even) {
  background-color: rgba(20, 24, 31, 0.61);
}

.player-stats-match-results th {
  background-color: #1F2739;
}

.player-stats-match-results td:first-child {
  color: #DDD; 
}

.player-stats-match-results td:nth-child(2) {
  color: #F9AD1C;
}

/*
.player-stats-match-results tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}*/

.player-stats-match-results tr:hover {
  background-color: rgba(221, 221, 221, 0.13);
}

.player-stats-match-results td:hover {
  /* rgba(221, 221, 221, 0.13); */
  background-color: transparent;
  /*color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;*/
}

.player-stats-match-results-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Responsive for player-stats */

@media (max-width: 800px) {
  .player-stats td:nth-child(4),
  .player-stats th:nth-child(4) {
  /*display: none;*/ /*width: 70%;*/ }
}

@media screen and (max-width: 1150px) and (min-width: 699px) {
  .player-stats {
    text-align: center;
    width: 80%;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 699px) and (min-width: 520px) {
  .player-stats {
    text-align: center;
    width: 80%;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 520px) {
  .player-stats {
    text-align: center;
    width: 90%;
    padding-bottom: 20px;
  }
}


/* Player badges */
.grayscale_badge {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

/*********************************************************
 * 5. Admin profile
 *
 ********************************************************/

/* Admin menu */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.admin-menu {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
  /*background-color: #080A09;*/ /*Black as navbar*/
  /*background-color: #F9AD1C;*/  /*BALF orange color*/
  background-color: #3C3C3C;
}

#responsive-admin-menu {
  float: left;
  width: 200px;
  /*background-color: #080A09;*/ /*Black as navbar*/
  /*background-color: #F9AD1C;*/  /*BALF orange color*/
  background-color: #3C3C3C;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0px;
  min-height: 500px;

}

#content-wrapper {
  width: auto;
  margin-left: 200px;
  background-color: #ffffff;
  height: 100%;
  min-height: 1000px;
  /*padding: 15px;*/
}

#responsive-admin-menu #responsive-menu {
  height: 50px;
  display: none;
  line-height: 50px;
  cursor: pointer;
  color: #ffffff;
  /*color: #080A09;*/
  text-indent: 10px;
}


#responsive-admin-menu #responsive-menu .menuicon {
  color: #ffffff;
  /*color: #080A09;*/
  font-size: 24px;
  position: absolute;
  float: left;
  /*right: 10px;*/
  /*top: 0px;*/
}

#responsive-admin-menu #logo {
  /*background-position: -0px -36px;*/
  width: 174px;
  height: 80px;
  margin: 10px;
  background-image:url('favicon/balf_logo.png');
  background-repeat: no-repeat;
  background-size: 40%;
  /*background: url('../images/balf_logo.png');*/
  /*-webkit-background-size: 146.66667px 25.83333px;
  background-size: 146.66667px 25.83333px;*/
}

/* Menu Styles */
#responsive-admin-menu #menu {
  width: 100%;
}

#responsive-admin-menu #menu a {
  border-bottom: 1px dotted #52535a;
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding: 12px;
  color: #ffffff;
  /*color: #080A09;*/
  position: relative;
  font-weight: 400;
  overflow: hidden;
}

#responsive-admin-menu #menu a:hover {
  color: #52535a;
  background-color:#fcfcfc;
}

#responsive-admin-menu #menu i {
  width: 16px;
  padding-right: 4px;
}

#responsive-admin-menu #menu div {
  display: none;
  width: 100%;
  background-color: #5c5d64;
  overflow: hidden;
}

#responsive-admin-menu #menu div a {
  color: #c0c0c0;
}

#responsive-admin-menu #menu div a:hover {
  color: #888888;
}

#responsive-admin-menu #menu a.submenu:before {
  font-family: FontAwesome;
  content: "\f054";
}

#responsive-admin-menu #menu a.downarrow:before {
  font-family: FontAwesome;
  content: "\f078";
}

#responsive-admin-menu #menu a.submenu:before {
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 17px;
}

/* Menu Styles */
@media screen and (max-width: 960px) {
  #responsive-admin-menu #responsive-menu {
    display: none;
  }
  #responsive-admin-menu #menu a span {
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  #responsive-admin-menu #menu a span {
    display: none;
  }
  #responsive-admin-menu {
    float: left;
    width: 40px;
    position: relative;
  }
  #responsive-admin-menu {
    height: 100%;
  }
  #content-wrapper {
    margin-left: 40px;
  }
  #responsive-admin-menu #menu a.submenu:before {
    font-size: 6px;
    right: 5px;
  }

  #responsive-admin-menu #logo {
    /*background-position: -0px -36px;*/
    /*width: 174px;*/
    height: 40px;
    margin: 3px;
    background-image:url('favicon/balf_logo.png');
    background-repeat: no-repeat;
    background-size: 20%;
    /*background: url('../images/balf_logo.png');*/
    /*-webkit-background-size: 146.66667px 25.83333px;
    background-size: 146.66667px 25.83333px;*/
  }
}

@media screen and (max-width: 480px) {
  #responsive-admin-menu {
    min-height: 50px;
    float: left;
    width: 100%;
    /*background-color: #080A09;*/ /*Black as navbar*/
    /*background-color: #F9AD1C;*/  /*BALF orange color*/
    background-color: #3C3C3C;
    height: auto;
    position: static;
    top: 0;
  }

  #responsive-admin-menu #logo {
    display: none;
  }
  #responsive-admin-menu #menu a span {
    display: inline-block;
  }
  #content-wrapper {
    margin-left: 0;
    padding-top: 60px;
  }
  #responsive-admin-menu #responsive-menu {
    display: block;
  }
  #responsive-admin-menu #menu {
    display: none;
  }
  #responsive-admin-menu #menu a {
  color: #ffffff;
  /*color: #080A09;*/
  }
  #responsive-admin-menu #menu a.submenu:before {
    font-size: 14px;
    right: 15px;
  }
}

@font-face{
  font-family:'FontAwesome';
  src:url('font/fontawesome-webfont.eot?v=3.0.1');
  src:url('font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
  url('font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
  url('font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight:normal;
  font-style:normal }

[class^="icon-"],[class*=" icon-"]{/*font-family:FontAwesome;*/font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0 0;background-repeat:repeat;margin-top:0}.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"]{background-image:none}[class^="icon-"]:before,[class*=" icon-"]:before{text-decoration:inherit;display:inline-block;speak:none}a [class^="icon-"],a [class*=" icon-"]{display:inline-block}.icon-large:before{vertical-align:-10%;font-size:1.3333333333333333em}.btn [class^="icon-"],.nav [class^="icon-"],.btn [class*=" icon-"],.nav [class*=" icon-"]{display:inline}.btn [class^="icon-"].icon-large,.nav [class^="icon-"].icon-large,.btn [class*=" icon-"].icon-large,.nav [class*=" icon-"].icon-large{line-height:.9em}.btn [class^="icon-"].icon-spin,.nav [class^="icon-"].icon-spin,.btn [class*=" icon-"].icon-spin,.nav [class*=" icon-"].icon-spin{display:inline-block}.nav-tabs [class^="icon-"],.nav-pills [class^="icon-"],.nav-tabs [class*=" icon-"],.nav-pills [class*=" icon-"],.nav-tabs [class^="icon-"].icon-large,.nav-pills [class^="icon-"].icon-large,.nav-tabs [class*=" icon-"].icon-large,.nav-pills [class*=" icon-"].icon-large{line-height:.9em}li [class^="icon-"],.nav li [class^="icon-"],li [class*=" icon-"],.nav li [class*=" icon-"]{display:inline-block;width:1.25em;text-align:center}li [class^="icon-"].icon-large,.nav li [class^="icon-"].icon-large,li [class*=" icon-"].icon-large,.nav li [class*=" icon-"].icon-large{width:1.5625em}ul.icons{list-style-type:none;text-indent:-0.75em}ul.icons li [class^="icon-"],ul.icons li [class*=" icon-"]{width:.75em}.icon-muted{color:#eee}.icon-border{border:solid 1px #eee;padding:.2em .25em .15em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.icon-2x{font-size:2em}.icon-2x.icon-border{border-width:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.icon-3x{font-size:3em}.icon-3x.icon-border{border-width:3px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.icon-4x{font-size:4em}.icon-4x.icon-border{border-width:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}.pull-right{float:right}.pull-left{float:left}[class^="icon-"].pull-left,[class*=" icon-"].pull-left{margin-right:.3em}[class^="icon-"].pull-right,[class*=" icon-"].pull-right{margin-left:.3em}.btn [class^="icon-"].pull-left.icon-2x,.btn [class*=" icon-"].pull-left.icon-2x,.btn [class^="icon-"].pull-right.icon-2x,.btn [class*=" icon-"].pull-right.icon-2x{margin-top:.18em}.btn [class^="icon-"].icon-spin.icon-large,.btn [class*=" icon-"].icon-spin.icon-large{line-height:.8em}.btn.btn-small [class^="icon-"].pull-left.icon-2x,.btn.btn-small [class*=" icon-"].pull-left.icon-2x,.btn.btn-small [class^="icon-"].pull-right.icon-2x,.btn.btn-small [class*=" icon-"].pull-right.icon-2x{margin-top:.25em}.btn.btn-large [class^="icon-"],.btn.btn-large [class*=" icon-"]{margin-top:0}.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x,.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-top:.05em}.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x{margin-right:.2em}.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-left:.2em}.icon-spin{display:inline-block;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}@-moz-document url-prefix(){.icon-spin{height:.9em}.btn .icon-spin{height:auto}.icon-spin.icon-large{height:1.25em}.btn .icon-spin.icon-large{height:.75em}}.icon-glass:before{content:"\f000"}.icon-music:before{content:"\f001"}.icon-search:before{content:"\f002"}.icon-envelope:before{content:"\f003"}.icon-heart:before{content:"\f004"}.icon-star:before{content:"\f005"}.icon-star-empty:before{content:"\f006"}.icon-user:before{content:"\f007"}.icon-film:before{content:"\f008"}.icon-th-large:before{content:"\f009"}.icon-th:before{content:"\f00a"}.icon-th-list:before{content:"\f00b"}.icon-ok:before{content:"\f00c"}.icon-remove:before{content:"\f00d"}.icon-zoom-in:before{content:"\f00e"}.icon-zoom-out:before{content:"\f010"}.icon-off:before{content:"\f011"}.icon-signal:before{content:"\f012"}.icon-cog:before{content:"\f013"}.icon-trash:before{content:"\f014"}.icon-home:before{content:"\f015"}.icon-file:before{content:"\f016"}.icon-time:before{content:"\f017"}.icon-road:before{content:"\f018"}.icon-download-alt:before{content:"\f019"}.icon-download:before{content:"\f01a"}.icon-upload:before{content:"\f01b"}.icon-inbox:before{content:"\f01c"}.icon-play-circle:before{content:"\f01d"}.icon-repeat:before{content:"\f01e"}.icon-refresh:before{content:"\f021"}.icon-list-alt:before{content:"\f022"}.icon-lock:before{content:"\f023"}.icon-flag:before{content:"\f024"}.icon-headphones:before{content:"\f025"}.icon-volume-off:before{content:"\f026"}.icon-volume-down:before{content:"\f027"}.icon-volume-up:before{content:"\f028"}.icon-qrcode:before{content:"\f029"}.icon-barcode:before{content:"\f02a"}.icon-tag:before{content:"\f02b"}.icon-tags:before{content:"\f02c"}.icon-book:before{content:"\f02d"}.icon-bookmark:before{content:"\f02e"}.icon-print:before{content:"\f02f"}.icon-camera:before{content:"\f030"}.icon-font:before{content:"\f031"}.icon-bold:before{content:"\f032"}.icon-italic:before{content:"\f033"}.icon-text-height:before{content:"\f034"}.icon-text-width:before{content:"\f035"}.icon-align-left:before{content:"\f036"}.icon-align-center:before{content:"\f037"}.icon-align-right:before{content:"\f038"}.icon-align-justify:before{content:"\f039"}.icon-list:before{content:"\f03a"}.icon-indent-left:before{content:"\f03b"}.icon-indent-right:before{content:"\f03c"}.icon-facetime-video:before{content:"\f03d"}.icon-picture:before{content:"\f03e"}.icon-pencil:before{content:"\f040"}.icon-map-marker:before{content:"\f041"}.icon-adjust:before{content:"\f042"}.icon-tint:before{content:"\f043"}.icon-edit:before{content:"\f044"}.icon-share:before{content:"\f045"}.icon-check:before{content:"\f046"}.icon-move:before{content:"\f047"}.icon-step-backward:before{content:"\f048"}.icon-fast-backward:before{content:"\f049"}.icon-backward:before{content:"\f04a"}.icon-play:before{content:"\f04b"}.icon-pause:before{content:"\f04c"}.icon-stop:before{content:"\f04d"}.icon-forward:before{content:"\f04e"}.icon-fast-forward:before{content:"\f050"}.icon-step-forward:before{content:"\f051"}.icon-eject:before{content:"\f052"}.icon-chevron-left:before{content:"\f053"}.icon-chevron-right:before{content:"\f054"}.icon-plus-sign:before{content:"\f055"}.icon-minus-sign:before{content:"\f056"}.icon-remove-sign:before{content:"\f057"}.icon-ok-sign:before{content:"\f058"}.icon-question-sign:before{content:"\f059"}.icon-info-sign:before{content:"\f05a"}.icon-screenshot:before{content:"\f05b"}.icon-remove-circle:before{content:"\f05c"}.icon-ok-circle:before{content:"\f05d"}.icon-ban-circle:before{content:"\f05e"}.icon-arrow-left:before{content:"\f060"}.icon-arrow-right:before{content:"\f061"}.icon-arrow-up:before{content:"\f062"}.icon-arrow-down:before{content:"\f063"}.icon-share-alt:before{content:"\f064"}.icon-resize-full:before{content:"\f065"}.icon-resize-small:before{content:"\f066"}.icon-plus:before{content:"\f067"}.icon-minus:before{content:"\f068"}.icon-asterisk:before{content:"\f069"}.icon-exclamation-sign:before{content:"\f06a"}.icon-gift:before{content:"\f06b"}.icon-leaf:before{content:"\f06c"}.icon-fire:before{content:"\f06d"}.icon-eye-open:before{content:"\f06e"}.icon-eye-close:before{content:"\f070"}.icon-warning-sign:before{content:"\f071"}.icon-plane:before{content:"\f072"}.icon-calendar:before{content:"\f073"}.icon-random:before{content:"\f074"}.icon-comment:before{content:"\f075"}.icon-magnet:before{content:"\f076"}.icon-chevron-up:before{content:"\f077"}.icon-chevron-down:before{content:"\f078"}.icon-retweet:before{content:"\f079"}.icon-shopping-cart:before{content:"\f07a"}.icon-folder-close:before{content:"\f07b"}.icon-folder-open:before{content:"\f07c"}.icon-resize-vertical:before{content:"\f07d"}.icon-resize-horizontal:before{content:"\f07e"}.icon-bar-chart:before{content:"\f080"}.icon-twitter-sign:before{content:"\f081"}.icon-facebook-sign:before{content:"\f082"}.icon-camera-retro:before{content:"\f083"}.icon-key:before{content:"\f084"}.icon-cogs:before{content:"\f085"}.icon-comments:before{content:"\f086"}.icon-thumbs-up:before{content:"\f087"}.icon-thumbs-down:before{content:"\f088"}.icon-star-half:before{content:"\f089"}.icon-heart-empty:before{content:"\f08a"}.icon-signout:before{content:"\f08b"}.icon-linkedin-sign:before{content:"\f08c"}.icon-pushpin:before{content:"\f08d"}.icon-external-link:before{content:"\f08e"}.icon-signin:before{content:"\f090"}.icon-trophy:before{content:"\f091"}.icon-github-sign:before{content:"\f092"}.icon-upload-alt:before{content:"\f093"}.icon-lemon:before{content:"\f094"}.icon-phone:before{content:"\f095"}.icon-check-empty:before{content:"\f096"}.icon-bookmark-empty:before{content:"\f097"}.icon-phone-sign:before{content:"\f098"}.icon-twitter:before{content:"\f099"}.icon-facebook:before{content:"\f09a"}.icon-github:before{content:"\f09b"}.icon-unlock:before{content:"\f09c"}.icon-credit-card:before{content:"\f09d"}.icon-rss:before{content:"\f09e"}.icon-hdd:before{content:"\f0a0"}.icon-bullhorn:before{content:"\f0a1"}.icon-bell:before{content:"\f0a2"}.icon-certificate:before{content:"\f0a3"}.icon-hand-right:before{content:"\f0a4"}.icon-hand-left:before{content:"\f0a5"}.icon-hand-up:before{content:"\f0a6"}.icon-hand-down:before{content:"\f0a7"}.icon-circle-arrow-left:before{content:"\f0a8"}.icon-circle-arrow-right:before{content:"\f0a9"}.icon-circle-arrow-up:before{content:"\f0aa"}.icon-circle-arrow-down:before{content:"\f0ab"}.icon-globe:before{content:"\f0ac"}.icon-wrench:before{content:"\f0ad"}.icon-tasks:before{content:"\f0ae"}.icon-filter:before{content:"\f0b0"}.icon-briefcase:before{content:"\f0b1"}.icon-fullscreen:before{content:"\f0b2"}.icon-group:before{content:"\f0c0"}.icon-link:before{content:"\f0c1"}.icon-cloud:before{content:"\f0c2"}.icon-beaker:before{content:"\f0c3"}.icon-cut:before{content:"\f0c4"}.icon-copy:before{content:"\f0c5"}.icon-paper-clip:before{content:"\f0c6"}.icon-save:before{content:"\f0c7"}.icon-sign-blank:before{content:"\f0c8"}.icon-reorder:before{content:"\f0c9"}.icon-list-ul:before{content:"\f0ca"}.icon-list-ol:before{content:"\f0cb"}.icon-strikethrough:before{content:"\f0cc"}.icon-underline:before{content:"\f0cd"}.icon-table:before{content:"\f0ce"}.icon-magic:before{content:"\f0d0"}.icon-truck:before{content:"\f0d1"}.icon-pinterest:before{content:"\f0d2"}.icon-pinterest-sign:before{content:"\f0d3"}.icon-google-plus-sign:before{content:"\f0d4"}.icon-google-plus:before{content:"\f0d5"}.icon-money:before{content:"\f0d6"}.icon-caret-down:before{content:"\f0d7"}.icon-caret-up:before{content:"\f0d8"}.icon-caret-left:before{content:"\f0d9"}.icon-caret-right:before{content:"\f0da"}.icon-columns:before{content:"\f0db"}.icon-sort:before{content:"\f0dc"}.icon-sort-down:before{content:"\f0dd"}.icon-sort-up:before{content:"\f0de"}.icon-envelope-alt:before{content:"\f0e0"}.icon-linkedin:before{content:"\f0e1"}.icon-undo:before{content:"\f0e2"}.icon-legal:before{content:"\f0e3"}.icon-dashboard:before{content:"\f0e4"}.icon-comment-alt:before{content:"\f0e5"}.icon-comments-alt:before{content:"\f0e6"}.icon-bolt:before{content:"\f0e7"}.icon-sitemap:before{content:"\f0e8"}.icon-umbrella:before{content:"\f0e9"}.icon-paste:before{content:"\f0ea"}.icon-lightbulb:before{content:"\f0eb"}.icon-exchange:before{content:"\f0ec"}.icon-cloud-download:before{content:"\f0ed"}.icon-cloud-upload:before{content:"\f0ee"}.icon-user-md:before{content:"\f0f0"}.icon-stethoscope:before{content:"\f0f1"}.icon-suitcase:before{content:"\f0f2"}.icon-bell-alt:before{content:"\f0f3"}.icon-coffee:before{content:"\f0f4"}.icon-food:before{content:"\f0f5"}.icon-file-alt:before{content:"\f0f6"}.icon-building:before{content:"\f0f7"}.icon-hospital:before{content:"\f0f8"}.icon-ambulance:before{content:"\f0f9"}.icon-medkit:before{content:"\f0fa"}.icon-fighter-jet:before{content:"\f0fb"}.icon-beer:before{content:"\f0fc"}.icon-h-sign:before{content:"\f0fd"}.icon-plus-sign-alt:before{content:"\f0fe"}.icon-double-angle-left:before{content:"\f100"}.icon-double-angle-right:before{content:"\f101"}.icon-double-angle-up:before{content:"\f102"}.icon-double-angle-down:before{content:"\f103"}.icon-angle-left:before{content:"\f104"}.icon-angle-right:before{content:"\f105"}.icon-angle-up:before{content:"\f106"}.icon-angle-down:before{content:"\f107"}.icon-desktop:before{content:"\f108"}.icon-laptop:before{content:"\f109"}.icon-tablet:before{content:"\f10a"}.icon-mobile-phone:before{content:"\f10b"}.icon-circle-blank:before{content:"\f10c"}.icon-quote-left:before{content:"\f10d"}.icon-quote-right:before{content:"\f10e"}.icon-spinner:before{content:"\f110"}.icon-circle:before{content:"\f111"}.icon-reply:before{content:"\f112"}.icon-github-alt:before{content:"\f113"}.icon-folder-close-alt:before{content:"\f114"}.icon-folder-open-alt:before{content:"\f115"}


/* Ostale stvari koje se ticu admina */
.naslov{
 text-transform: capitalize;
 color:#3C3C3C;
 padding-top: 20px;
 padding-bottom: 20px;
}


/*********************************************************
 * *. Addons(center...)
 *
 ********************************************************/








/***********************************************************
* Home page parallax
*
***********************************************************/
/* body appwelcome */
.fadein {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s
}

.navfixed {
  position: fixed;
  width: 100%;
  z-index: 601;
}

/*Page Transition*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img-thumbnail,
.thumbnail {
  box-shadow: none!important;
}

a.button {
  background-color: transparent;
  border: 2px solid #FFF;
  /*
  color: #FFF;
  padding: 10px 15px;
  border-radius: 0;
  font-size: 16pt;
  margin-top: 50px!important;
  */
}

a.button:hover {
  text-decoration: none;
  color: #FFF;
  background: #F9AD1C;
  -o-transition: color .1s ease-out, background .4s ease-in;
  -ms-transition: color .1s ease-out, background .4s ease-in;
  -moz-transition: color .1s ease-out, background .4s ease-in;
  -webkit-transition: color .1s ease-out, background .4s ease-in;
  /* ...and now override with proper CSS property */
  transition: color .1s ease-out, background .4s ease-in;
}

section h3 {
  position: relative;
  bottom: 30px;
  font-size: 30pt;
  font-style: italic;
}

/* NAV BAR */

.navbar-inverse {
  background: #2C2B31!important;
  border-color: transparent !important;
  padding: 5px;
  padding-bottom: 8px;
}

#navbar ul li {
  position: relative;
  top: 2px;
}

#navbar ul li a:hover {
  background-color: #F9AD1C;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFF!important;
}

.navbar-inverse a.navbar-brand {
  font-family: 'Titillium Web', sans-serif;
  font-size: 24pt;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1.5px rgba(80, 80, 80, .8);
  font-weight: 700;
  color: #F9AD1C!important;
}

/* HERO AREA */

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.list-inline {
  text-align: center;
}

.btn-primary {
  background-color: rgba(117, 158, 193, 0.74); /*rgba(245, 215, 110, 0.59);*/
  border-color: transparent;
}

.btn-primary:hover {
  background-color: rgba(167, 204, 236, 0.75);
  border-color: transparent;
}

/* ABOUT */

@media screen and (min-width: 768px) {
  #about,
  #skills {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

@media screen and (max-width: 768px) {
  #about,
  #skills {
    padding-top: 40px;
  }
}

#about,
#skills {
  font-size: 16pt;
  text-align: center;
}

/* SKILLS */

#skills-wrap {
  padding: 0px 20px;
}

#skills-text {
  letter-spacing: 1px;
  padding-top: 20px;
}

#skills h3 {
  text-decoration: underline;
  /*color: #F9AD1C;*/
}

#skills ul {
  display: inline-block;
  padding-left: 0px!important;
}

#skills ul li {
  text-decoration: none;
  list-style-type: none;
  font-size: 14pt;
  border: 2px solid #FFF;
  margin: 5px 0px;
  padding: 10px 15px;
}

/* PORTFOLIO */

#portfolio-wrap {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  color: white;
}

.thumbnail {
  background: transparent !important;
  border: none !important;
}

.thumbnail a p {
    font-size: 16px;
    padding-top: 20px;
}

.btn-default {
  border: none !important;
  background-color: rgba(245, 215, 110, 0.98);
}

#portfolio a {
  font-size: 12pt;
  font-weight: 200;
  color: #FFF!important;
}

#portfolio h3 {
  color: #F9AD1C;
}

#portfolio a:hover {
  text-decoration: none!important;
}

/*header*/

header#homePage {
  width: 100%;
  height: auto;
  margin: 12% auto;
}

header#homePage ul {
  list-style: none;
  padding-left: 0;
  margin: 0px auto;
  max-width: 450px;
}

header#homePage ul li {
  margin: 15% auto;
  display: inline-block;
  text-decoration: none;
  padding: 2% 6%;
}

section {
  position: relative;
  z-index: 3;
}

/*Footer NE VALJA!!!*/

#footer {
  /*background-color: #090007;*/
  background: radial-gradient(transparent 50%,rgba(0.3,0,0,.3) 100%),linear-gradient(#11998f,#214ea6 60%,#4225ac);
  width: 100%;
  position: relative;
  bottom: 0px;
  z-index: 0;
}

#footer .col-md-3 {
  color: #F9AD1C;
  padding: 55px 0px;
}

#footer .col-md-3 a {
  color: #FFF;
  font-size: 15px;
}

#footer .col-md-3 a:hover {
  color: #f9ad1c;
  text-decoration: none;
}

#footer ul {
  padding-left: 0px!important;
  list-style-type: none;
}

#footer ul li {
    display: inline-block;
    list-style: none;
    margin-right: 35%;
    font-size: 15px;
}

/*TEMPLATE*/

.template {
  padding-top: 10%;
  background-color: #182733;
  color: #FFF;
}

.template img {
  max-width: 500px!important;
  border: 3px solid #2C2B31;
  -webkit-box-shadow: 10px 10px 2px -5px rgba(36, 36, 36, 1);
  -moz-box-shadow: 10px 10px 2px -5px rgba(36, 36, 36, 1);
  box-shadow: 10px 10px 2px -5px rgba(36, 36, 36, 1);
}

/* Footer valja, sa sajta! */

.footer-bg-match {
    /* background: url(match/match.jpg) no-repeat center center fixed; */
    /* height: 100%; */
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
}

.parallax-footer {
  /*background-color: #090007;*/
  /*background: radial-gradient(transparent 50%,rgba(0.3,0,0,.3) 100%),linear-gradient(#2d138d,#4125ac 60%,#5b43b5);*/
  font-family: Ubuntu;
  background: radial-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(#0c1325, #12233c 60%, #0c1325);  width: 100%;
  position: relative; /* Footer goes down */
  height: 160px; /* Footer goes down */
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 0;
  z-index: 10;
}

.parallax-footer .col-md-3 {
  color: #f9ad1c;
  font-size: 0.85em;
  padding-left: 3%;
  padding-right: 3%;
  /*padding: 55px 0px;*/
}

.parallax-footer .col-md-3 a {
  color: #FFF;
  font-size: 15px;
}

.parallax-footer .col-md-3 a:hover {
  color: #f9ad1c;
  text-decoration: none;
}

.parallax-footer ul {
  padding-left: 0px!important;
  list-style-type: none;
}

.parallax-footer ul li {
    display: inline-block;
    list-style: none;
    /*margin-right: 35%;*/
    font-size: 15px;
    width: 100%;
}

#parallax-footer-welcome-pages {
    font-family: Ubuntu;
    font-weight: bold;
    /* background: radial-gradient(rgba(0,0,0,0) 50%,rgba(0,0,0,0.3) 100%),linear-gradient(#0c1325, #12233c 60%, #0c1325); */
    background: white;
    width: 100%;
    position: relative;
    height: 160px;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
}

#parallax-footer-welcome-pages .col-md-3 {
  color: blue;
  /*font-size: 0.85em;*/
  /*padding-left: 3%;*/
  padding-right: 3%;
  /*padding: 55px 0px;*/
}

#parallax-footer-welcome-pages .col-md-3 a {
    color: #2a2525;
    font-family: Ubuntu;
    font-size: 13px;
    /* font-size: medium; */
    font-weight: 300;
}

#parallax-footer-welcome-pages .col-md-3 a:hover {
  color: #111;
  text-decoration: none;
}

#parallax-footer-welcome-pages ul {
  padding-left: 0px!important;
  list-style-type: none;
}

#parallax-footer-welcome-pages ul li {
    display: inline-block;
    list-style: none;
    width: 100%;
    color: #3d566e;
    font-weight: 500;
}

/* Dodatak */
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

/* SECTION BG STYLING */

#home {
  background: url('poster.png') 50% 0 fixed;
  background-size: cover;
  min-height: 600px;
  max-height: 1000px;
  color: #FFF;
}

#about {
  background: #FCFCFC;
}

#skills {
  background: url(http://orig11.deviantart.net/0db9/f/2015/173/0/2/flat_geometry_wallpaper_b_by_charlie_henson-d8ybuth.png) fixed;
  background-size: cover;
  color: #FFF;
}

@media screen and (max-width: 1012px) {
  #portfolio {
    margin-bottom: 1260px;
  }
}

@media screen and (max-width: 995px) {
  #portfolio {
    margin-bottom: -2px;
  }
  footer {
    position: relative;
    text-align: center;
    font-size: 16pt;
  }
  footer ul {
    list-style-position: inside;
  }
}

/*********************************************************
 * 6. Contact page
 *
 ********************************************************/
 /*Map*/
.googlemap {
  padding-right: 20px;
  max-height: 500px;
  z-index: 10;
}
#map_canvas {
  border: 4px solid whitesmoke;
  height: 300px;
  float: left;
  width: 100%;
    
}
.googlemap #map_canvas{
pointer-events: none;
}
.contact-p{
  color: whitesmoke;  
}
.contact-info-location
{
  color: whitesmoke; 
  margin-top: 10px;
  border:3px solid red;
}
.title-contact{
  padding-top: 10px;
  padding-bottom: 10px;
}
.info-contact{
  padding-top: 10px;
  padding-bottom: 10px;
}
.location-info-contact{
  padding-top: 10px;
  padding-bottom: 10px;
}

.h3-title{
  color:#FFF;
  font-family: 'Roboto Condensed';
  /*font-family: 'Hind Guntur', sans-serif;*/
  font-size: 1.5em;
  margin-top: 2%;
  text-shadow: 1px 1px 1.3px black;
  /*text-transform: uppercase;*/
}

.contact-h3-title-left {
  color: #FFF;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 1.5em;
  margin-top: 2%;
  float: right;
  margin-right: 140px;
  text-shadow: 1px 1px 1.3px #1f1b1b;
  /*text-transform: uppercase;*/
}

.contact-h3-title-right {
  color: #FFF;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 1.5em;
  margin-top: 2%;
  float: left;
  margin-left: 140px;
  text-shadow: 1px 1px 1.3px #1f1b1b;
  /*text-transform: uppercase;*/
}

/**************************************************
* progress-bar
**************************************************/
/*
$color-active: #2ecc71;
$color-inactive: #eee;
$color-bg: #34495e;
$color-font: #eee;

@import url(http://fonts.googleapis.com/css?family=Lato:300);

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.progress {
  background: $color-inactive;
  border-radius: 50%;
  position: absolute;
  font-family: 'Lato', sans-serif;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  //box-shadow: 0px 0px 20px rgba(#000, 0.5);
  border: 2px solid $color-bg;
  overflow: hidden;
  &:before {
    content: $progress + "%";
    text-align: center;
    color: $color-font;
    width: 90%;
    height: 90%;
    background: $color-bg;
    position: absolute;
    border-radius: 50%;
    left: 5%;
    top: 5%;
    z-index: 1000;
    //box-shadow: inset 0px 0px 20px rgba(#000, 0.5);
    border: 2px solid $color-bg;
    box-sizing: border-box;
  }
  .hide {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    background: $color-inactive;
    z-index: 200;
    transform-origin: left center;
    $deg: (360 / 100) * $progress;
    transform: rotate($deg + deg);
  }
  .active, .active2 {
    width: 50%;
    height: 100%;
    background: $color-active;
    position: absolute;
    @if $progress > 50 {
      z-index: 300
    }
    left: 50%;
    top: 0;
  }
  @if $progress > 50 {
    .active2 {
      transform-origin: left center;
      $deg: (360 / 100) * ($progress - 50);
      transform: rotate($deg + deg);
    }
  }
}*/

/**************************************************
* progress-bar
**************************************************/

.progress-bar-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

#experience-bar 
{
  /*background-color: blue;*/
  /*border-radius: 2px;
  box-shadow: 0 2px rgba (0,0,0,.25)inset;*/
}

/***************************************************
* Player profile
***************************************************/

@import "compass/css3";

.topper {
  display:block;
  float:left;
  clear:both;
  width:99%;
  max-width:1252px;
  font-family:sans-serif;
  margin-top:30px;
 h1 {
  font-size:1.5em;
   color:#fff;
   background-color:#222;
   padding:10px;
 }
}
.profile-container {
  border:1px solid #ebebeb - 50;
  padding:30px 0;
  @extend .topper;
  margin-top:0;
  @include border-radius(0px 0px 4px 4px);
  .photo {
    width:30%;
    margin-left:2%;
    text-align:center;
    display:block;
    float:left;
    clear:none;
    padding-bottom:30px;
    p {
      font-size:1.4em;
      font-weight:800;
    }
    img {
     /*width:100%;*/
     width:200px; 
    }
  }
  .personal {
    display:block;
    float:left;
    margin-left:1%;
    width:20%;
    div {
     margin:20px 0;
      h3 {
       font-size:1.3em;
        font-weight:600;
      }
      a {
       text-decoration:none;
        color:#64b0f6;
      }
      input[type="submit"] {
       border:0;
        background-color:#64b0f6;
        color:#fff;
        padding:10px 30px;
        @include border-radius(4px);
        margin:10px 0;
        @include box-shadow(0px 15px 5px -10px rgba(20,67,111,.2));
        @include transition(.3s);
      }
      input[type="submit"]:hover {
       @include transition(.3s);
        @include box-shadow(none);
      }
    }
  }
  .points {
   display:block;
    float:left;
    width:45%;
    margin-left:1%;
    text-align:center;
    margin-top:3%;
    h4 {
     font-size:8em;
      font-weight:800;
    }
    p {
     font-weight:600;
      font-size:1.2em;
    }
  }
  .deal {
   display:block;
    float:left;
    width:48%;
    clear:left;
    margin-left:2%;
    h3 {
     font-weight:600;
      color:#fff;
      background-color:#222;
      padding:10px 5px;
    }
    img {
     width:100%; 
    }
  }
  .recent, .bought {
   display:block;
    float:left;
    margin-left:1%;
    width:23%;
    max-height:300px;
    overflow:auto;
    h4 {
     color:#fff;
      background-color:#222;
      padding:10px 5px;
    }
    ul {
     li {
      display:block;
       padding:10px 0;
       padding-left:5px;
       span {
        float:right; 
         margin-right:2px;
       }
     }
      li:nth-child(even) {
       background-color:#ebebeb - 50; 
      }
    }
  }
}

/***************************************************
* Player profile show, 19.06.2016.
* Deli ekran po vertikali na 4 dela
* Skroz leva kolona je predvidjena za sliku i
* osnovne informacije o igracu
***************************************************/

.player-profile {
  /*padding: 10px;*/
}

.player-profile p {
  text-align: center;
  font-weight: bold;
}

.box-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  padding-top: 5px;
}

.box-content a {
  text-decoration: none;
}

.box-content a:hover {
  color: #f9ad1c;
}

.box-content p {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fcf8e3;
}

.box-cell {
  /*margin-bottom: 10px;*/
  
  &.prva {
    /*background-color: rgba(19, 19, 17, 0.5);*/
    background-color: rgba(1, 17, 35, 0.79);
  }

  &.druga {
    /*background-color: #84B2A1;*/
  }

  &.treca {
    /*background-color: #F9EDC7;*/
  }

  &.cetvrta {
    /*background-color: #F9EDC7;*/
  }
}


.badges-box-cell {
  /*margin-bottom: 10px;*/
  
  &.prva {
    /*background-color: rgba(19, 19, 17, 0.5);*/
    background-color: rgba(1, 17, 35, 0.79);
  }

  &.druga {
    /*background-color: #84B2A1;*/
  }

  &.treca {
    /*background-color: #F9EDC7;*/
  }

  &.cetvrta {
    /*background-color: #F9EDC7;*/
  }

  &.peta {
    /*background-color: #F9EDC7;*/
  }
}

@media only screen and (min-width: 720px) {
  .player-profile-kolone {
    display: table;
    width: 100%;
  }

  .box-row {
    display: table-row;
  }

  .box-cell {
    display: table-cell;
    vertical-align: top;

    &.prva {
      border-right: 5px;
      width: 25%;
    }

    &.druga {
      border-left: 5px;
      border-right: 5px;
      width: 25%;
    }

    &.treca {
      border-left: 5px;
      width: 25%;
    }

    &.cetvrta {
      border-left: 5px;
      width: 25%;
    }
  }

  .badges-box-cell {
    display: table-cell;
    vertical-align: top;

    &.prva {
      border-right: 5px;
      width: 20%;
    }

    &.druga {
      border-left: 5px;
      border-right: 5px;
      width: 20%;
    }

    &.treca {
      border-left: 5px;
      width: 20%;
    }

    &.cetvrta {
      border-left: 5px;
      width: 20%;
    }

    &.peta {
      border-left: 5px;
      width: 20%;
    }
  }
}

/* div u kome se nalazi slika */
.player-profile-image-div {
  text-align: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  padding-top: 10px;
  padding-bottom: 50px;
}

/* klasa koja definise css slike */
.player-profile-image {
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.9);
  max-height: 180px;
}

/* klasa koja definise css slike */
.team-players-profile-image {
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.9);
  /*width: 38%;*/
  max-height: 320px;
  margin: 0 auto;
}

.player-profile-left-table {
  font-family: Ubuntu;
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  padding-bottom: 50px;
}

.player-profile-left-table th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #185875;
}

.player-profile-left-table td, .player-profile-left-table th {  
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left:2%;
}

/* Background-color of the odd rows */
.player-profile-left-table tr:nth-child(odd) {
  background-color: rgba(50, 60, 80, 0.58);
}

/* Background-color of the even rows */
.player-profile-left-table tr:nth-child(even) {
  background-color: rgba(20, 24, 31, 0.61);
}

.player-profile-left-table th {
  background-color: #1F2739;
}

.player-profile-left-table td:first-child {
  color: #DDD;
  text-align: left;
  padding-left: 10px;
}

.player-profile-left-table td:nth-child(2) {
  color: #F9AD1C;
}

.player-profile-left-table tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}

/*.player-profile-left-table td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}*/

.player-profile-left-table-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 800px) {
  .player-profile-left-table td:nth-child(4),
  .player-profile-left-table th:nth-child(4) {
  /*display: none;*/ width: 70%; }
}

/**********************************************/
/* Player profile EXPIRIENCE progress circle */
/**********************************************/
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

/* #Canvas Element Circular charts
================================================== */
canvas, video {display: inline-block;}

.player-profile-centered {
    margin: 0 auto;
    text-align: center;
}

/*player-experience-container*/
/*.player-experience-container {
margin: 0;
padding: 0;
list-style: none;
text-align: center;
padding-bottom: 70px;
}*/

.player-experience-container {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.player-experience-container li {
  display: inline-block;
  margin: 0 4% 5px;
  position: relative;
  }

/* Boja procenata */
/* Verzija sa zelenim progres barom */
/*
.circular-stat .digit-label {
color: #eeff24;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
font-size: 3.2em;
text-align: center;
display: inline-block;
position: absolute;
top: 18%;
width: 75%;
left: 9%;
padding: 30px 0 0 30px;
white-space: nowrap;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}*/

/* Verzija sa svetloplavim progress barom */
.circular-stat .digit-label {
    /* color: #306d8c; */
    color: #ff5024;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-size: 1.6em;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 25%;
    width: 75%;
    left: 19%;
    padding: 30px 0 0 30px;
    /* text-shadow: -1px 1px 0px #fff; */
    white-space: nowrap;
    /* overflow: hidden; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Stara verzija sa zelenim progress barom, RUBY kod sa levelom igraca/ekipe ...*/
/*
.circular-stat .text-label {
font-family:"Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
clor: #f9ad1c;
font-size:1.5em;
top: 50%;
left: 21.875%;
width: 56.25%;
padding-top: 6px;
display: inline-block;
position: absolute;
text-align: center;
border-top: 1px solid #999;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}*/

/* Nova verzija sa svetloplavom bojom */
.circular-stat .text-label {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
    /* color: #333; */
    clor: #f9ad1c;
    font-size: 4.5em;
    top: 42%;
    color: white;
    left: 14%;
    width: 36.25%;
    padding-top: 6px;
    display: inline-block;
    position: absolute;
    text-align: center;
    /* border-top: 1px solid #999; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/* Default verzija */
/*
span.text-title {
color:  #444;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
text-align: center;
letter-spacing: -1px;
font-size: 1.3em;
font-weight: 400;
text-shadow: -1px 1px 0px #FFF;
padding: 30px 10px 0 0px;
margin-top: 240px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
z-index: 99999;
display: block;
text-shadow: -1px 1px 0px #fff;
}
*/

/* Verzija sa svetlo plavom, sredjeno */
/* Tekst u kome pise "Level" */
span.text-title {
    color: rgb(249, 173, 28);
    /* font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif; */
    text-align: center;
    letter-spacing: -1px;
    font-size: 1.3em;
    font-weight: 400;
    /* text-shadow: -1px 1px 0px #FFF; */
    padding: 30px 10px 0 0px;
    margin-top: 85px;
    left: 53%;
    /* padding-right: 70px; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    z-index: 9999999;
    position: absolute;
    display: block;
    /* text-shadow: -1px 1px 0px #f9ad1c; */
}

span.text-dates{
font-size: 1.5em;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
color: #999;
text-shadow: -1px 1px 0px #fff;
}

@media only screen and (min-width: 1010px) { 
.stats-container li {margin: 0 2% 5px;}
}
@media only screen and (max-width: 1009px) { 
.stats-container li {margin: 0 -.2em 5px;}
}

/********************************************
 * CSS za player profile GOALS, ASSISTS,
 * MATCHES PLAYED, FOULS, YELLOW CARDS,
 * RED CARDS
/********************************************/
.button {
  /*
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);*/
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 2px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: 2px solid #f9ad1c;
  background-image: -webkit-linear-gradient(top, #252525, #101010);
  color: whitesmoke;
  /*text-shadow: 0 1px 1px white;*/
  margin: 0;
  text-decoration: none;
  text-align: center;

}

/*
.button:hover {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  background: -o-linear-gradient(top, #ffffff, #dcdcdc);
  background: linear-gradient(top, #ffffff, #dcdcdc);
}


.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}*/


input.button, button.button {
  height: 34px;
  cursor: pointer;
}


.button-block {
  display: block;
}

/*
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #EEE;
  border: 1px solid #dddddd;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
}*/


.button-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block;
}



.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 120px;
  line-height: 120px;
  height: 120px;
  padding: 0px;
  border-width: 4px;
  font-size: 36px;
}

/* GOALS */
.button-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: -moz-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: -o-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background-color: #00a1cb;
  border-color: #007998;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}

/*
.button-primary:hover {
  background-color: #00a1cb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, #00c9fe, #008db2);
  background: -moz-linear-gradient(top, #00c9fe, #008db2);
  background: -o-linear-gradient(top, #00c9fe, #008db2);
  background: linear-gradient(top, #00c9fe, #008db2);
}*/
/*
.button-primary:active {
  background: #1495b7;
  color: #005065;
}*/

/* ASSISTS */
.button-action {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: -moz-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: -o-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background-color: #00a1cb;
  border-color: #007998;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}

/*
.button-primary:hover {
  background-color: #00a1cb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, #00c9fe, #008db2);
  background: -moz-linear-gradient(top, #00c9fe, #008db2);
  background: -o-linear-gradient(top, #00c9fe, #008db2);
  background: linear-gradient(top, #00c9fe, #008db2);
}*/
/*
.button-primary:active {
  background: #1495b7;
  color: #005065;
}*/

/* YELLOW CARDS */
.button-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: -moz-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: -o-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background-color: #00a1cb;
  border-color: #007998;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}

/*
.button-primary:hover {
  background-color: #00a1cb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, #00c9fe, #008db2);
  background: -moz-linear-gradient(top, #00c9fe, #008db2);
  background: -o-linear-gradient(top, #00c9fe, #008db2);
  background: linear-gradient(top, #00c9fe, #008db2);
}*/
/*
.button-primary:active {
  background: #1495b7;
  color: #005065;
}*/

/* RED CARDS */
.button-caution {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: -moz-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: -o-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background-color: #00a1cb;
  border-color: #007998;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}

/*
.button-primary:hover {
  background-color: #00a1cb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, #00c9fe, #008db2);
  background: -moz-linear-gradient(top, #00c9fe, #008db2);
  background: -o-linear-gradient(top, #00c9fe, #008db2);
  background: linear-gradient(top, #00c9fe, #008db2);
}*/
/*
.button-primary:active {
  background: #1495b7;
  color: #005065;
}*/

/* MATCHES PLAYED */
.button-royal {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: -moz-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: -o-linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background: linear-gradient(top, rgba(36, 41, 52, 0.25), rgb(36, 41, 52));
  background-color: #00a1cb;
  border-color: #007998;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}

/*
.button-primary:hover {
  background-color: #00a1cb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, #00c9fe, #008db2);
  background: -moz-linear-gradient(top, #00c9fe, #008db2);
  background: -o-linear-gradient(top, #00c9fe, #008db2);
  background: linear-gradient(top, #00c9fe, #008db2);
}*/
/*
.button-primary:active {
  background: #1495b7;
  color: #005065;
}*/



/********************************************/
/********************************************/

/********************************************/
/*Ova je CSS za sistem za razmenu poruka*/
/********************************************/

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-warning;
}

footer {
  margin-top: 2em;
  clear: both;
}

/********************************************/
/********************************************/


/**************************************************************************
 * @media
**************************************************************************/

/* Smartphones start somewhere around here */
@media (min-width: 299px) and (max-width: 374px) {
  /*h1-title on every page*/
  #parallax-footer-welcome-pages {
  /*Sredjuje prelaze*/
      height: 490px;
      padding-top: 15px;
  }
  
  /*footer za sve strane*/
  .parallax-footer {
    height: 490px; /* Footer goes down */

  }
  .h1-title {
    /*Fond naslova*/
    font-size: 2.4em;
  }
  
  .footer-container-ul {
    /*Pomera sav text na sredinu*/
    position: relative;
    text-align: left;
    padding-left: 12%;
    padding-top: 10px;
  }

  .footer-container {
    /*Pomera sav text na sredinu*/
    position: relative;
    text-align: left;
    padding-left: 15%;
    padding-top: 15px;
  }
  
  #parallax-footer-welcome-pages .col-md-3 {
    /*Pomera text na sredinu*/
    padding-left: 15%;
  }
}

@media (min-width: 375px) and (max-width: 449px) {
  /*h1-title on every page*/
  #parallax-footer-welcome-pages {
  /*Sredjuje prelaze*/
      height: 490px;
      padding-top: 15px;
  }
  
  /*footer za sve strane*/
  .parallax-footer {
    height: 490px; /* Footer goes down */

  }
  .h1-title {
    /*Fond naslova*/
    font-size: 2.4em;
  }
  
  .footer-container-ul {
    /*Pomera sav text na sredinu*/
    position: relative;
    text-align: left;
    padding-left: 17%;
    padding-top: 10px;
  }

  .footer-container {
    /*Pomera sav text na sredinu*/
    position: relative;
    text-align: left;
    padding-left: 15%;
    padding-top: 10px;
  }
  
  #parallax-footer-welcome-pages .col-md-3 {
    /*Pomera text na sredinu*/
    padding-left: 15%;
  }
}
/* You might do landscape phones here if your content seems to need it */
@media (min-width: 450px) and (max-width: 1099px) {

  .footer-container-ul {
    /*Pomera sav text na sredinu*/
    position: relative;
    text-align: left;
    padding-left: 15%;
    padding-top: 10px;
  }

  .footer-container {
    /*Pomera sav text na sredinu*/
    position: relative;
    text-align: left;
    padding-left: 15%;
    padding-top: 10px;
  }

  #parallax-footer-welcome-pages {
  /*Sredjuje prelaze*/
      height: 490px;
      padding-top: 15px;
  }

  .parallax-footer {
    height: 490px; /* Footer goes down */

  }
}

/* Starting into tablets somewhere in here */
@media (min-width: 600px) and (max-width: 749px) {

   .footer-container-ul {
    /*Pomera sav text na sredinu*/
    position: relative;
    text-align: left;
    padding-left: 30%;
    padding-top: 10px;
  }

  .footer-container {
    /*Pomera sav text na sredinu*/
    position: relative;
    text-align: left;
    padding-left: 30%;
    padding-top: 10px;
  }

  .parallax-footer {
    height: 490px;
  }

  #parallax-footer-welcome-pages {
  /*Sredjuje prelaze*/
    height: 490px;
    padding-top: 15px;
  }
}

/* Perhaps bigger tablets */
@media (min-width: 750px) and (max-width: 1099px)  {
  /* Sredjuje footer */
  .footer-container {
    position: relative;
    padding-top: 5%;
    text-align: left;
    padding-left: 28%;
    padding-top: 10px;
  }

  .footer-container-ul {
    /*Pomera sav text na sredinu*/
    position: relative;
    padding-top: 5%;
    text-align: left;
    padding-left: 38%;
    padding-top: 10px;
  }

  #parallax-footer-welcome-pages {
  /*Sredjuje prelaze*/
      height: 490px;
      padding-top: 15px;
  }

  #parallax-footer-welcome-pages ul li {
    display: inline-block;
    list-style: none;
    width: 100%;
  }
}

/* Font za prikaz igraca u izboru delegata (za gol, asistenciju itd.)*/
.select-player {
  font-size: 22px;
  color: cornflowerblue;
}

.select-player select{
  width: 100%;
  height: 50px;
}


.add-attribute {
  padding-top: 200px;
}

.add-attribute-btn {
  width: 100%;
}

/* Sredjivanje izgleda za mec na telefonu */
.player-stats-match td:first-child {
    max-width: 90px;
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) and (max-width: 1099px) {
}

/* A bit bigger if you need some adjustments around here */
@media (min-width: 1100px) {
}

/* Widescreens */
@media (min-width: 1500px) {
  .footer-container {
    padding-left: 10%;
  }
}


/* Sakriva neke elemente na PC, tablet i mobilnim
   uredjajima, da bi stali na responsive ekranu*/
@media (min-width:1000px){
  
  .PCPortrait{
    display:none;
  }
  
}

@media (max-width:1000px){

  .PCLandscape{
    display:none;
  }

}


@media (max-width: 750px){

  .contact-h3-title-left {
    float: none;
    margin-right: 0px;
  }

  .contact-h3-title-right {
      float: none;
      margin-left: 0px;
  }

  .contact-form {
    padding: 8px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
      padding: 0px;
  }

}

@media (min-width: 1290px) and (max-width: 1450px) {

  .footer-container-ul {
    width: 90%;
  }

}

/* Sakriva neke elemente na mobilnom,
   da bi stali na responsive ekranu*/
@media (min-width:480px){
  
  .OnlyforHandheld{
    display:none;
  }
  
}

@media (max-width:480px){

  .OnlyforWeb{
    display:none;
  }

}