// Place all the styles related to the Delegates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delegate-matches {
    text-align: center;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    padding-bottom: 50px;
    font-family: Ubuntu;
    font-weight: 250;
}

.delegate-matches th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #185875;
}

.delegate-matches a:hover {
  color: #f9ad1c;
  text-decoration: none;
}

.delegate-matches td, .delegate-matches th {  
  /*padding-bottom: 2%;
  padding-top: 2%;
  padding-left:2%;*/
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.delegate-matches th {  
text-align: center;
}

/* Background-color of the odd rows */
.delegate-matches tr:nth-child(odd) {
  background-color: rgba(50, 60, 80, 0.58);
}

/* Background-color of the even rows */
.delegate-matches tr:nth-child(even) {
  background-color: rgba(20, 24, 31, 0.61);
}

.delegate-matches th {
  background-color: #1F2739;
}

.delegate-matches td:first-child {
  color: #DDD; 
}

.delegate-matches td:nth-child(2) {
  color: #F9AD1C;
}

/*
.delegate-matches tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}*/

.delegate-matches tr:hover {
  background-color: rgba(221, 221, 221, 0.13);
}

.delegate-matches td:hover {
  /* rgba(221, 221, 221, 0.13); */
  background-color: transparent;
  /*color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;*/
}

/* Widescreens */
@media (max-width: 930px) {
	.delegate-matches {
	    width: 90%;
	}

	.delegate-matches td h2 {
	  font-weight: bold;
	  font-size: 19px;
	}
}