// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Wrapper za naslov u matches show */
#matches-show-wrapper {

  h1 {
    /*font-family: 'Work Sans', sans-serif;*/
    font-family: 'Roboto Condensed';
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(12, 19, 37, 0.52); /*rgba(255, 255, 255, 0.07)*/
    color: #fff;
    padding-bottom: 10px;
  }
}

.match-button-1 {
  /*margin:2rem auto;*/
  display: block;
  /*height:50px;*/
  width:100%;
  padding:2px;
  text-decoration: none;
  font-weight:300;
  overflow:hidden;
  border-radius:30px;
  transition: all .2s linear;
  background: -webkit-linear-gradient(-45deg, rgba(51, 121, 182,1) 1%,rgba(25, 43, 64,1) 100%); /* Chrome10+,Safari5.1+ */
  /*svetlo plava: rgba(51, 121, 182,1)*/
  /*tamno plava: rgba(25, 43, 64,1)*/
  
  &:hover {
    background: -webkit-linear-gradient(75deg, rgba(51, 121, 182,1) 1%,rgba(25, 43, 64,1) 100%); /* Chrome10+,Safari5.1+ */
  }
}

.match-button-text {
  height: calc(100% - 1rem);
  display: block;
  border-radius: 28px;
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
  padding: 0.5rem 4rem;
  font-size: 1.7rem;
  color: #fff;
}

/*************************************
* Izgled meca za igrace
*************************************/
@import url("http://fonts.googleapis.com/css?family=Roboto");
/*.bg-match {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}*/

.bg-match {
  background: url("match/match.jpg") no-repeat center center fixed;
  height: 100%;
  overflow: hidden;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
  z-index: 1;
}

.bg-match2 {
  background: url("match/football.jpeg") no-repeat center center fixed;
  height: 100%;
  overflow: hidden;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
  z-index: 1;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: #3f3f3f;
  cursor: hand;
  cursor: pointer;
}
.flex div {
  z-index: 9;
}
.block {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.block a {
  width: 100%;
  height: 100%;
}
/*.block:hover {
  cursor: hand;
  cursor: pointer;
}*/
#blocktop {
  /*background-color: #f9ad1c;*/
  /*background-color: rgba(249, 173, 28, 0.39);*/ /* balf narandzasta polu transparentna */
  background-color: rgba(28, 147, 249, 0.39);
  position: absolute;
  top: 0px;
  left: -50%;
  z-index: 3;
  transform: skew(-22deg);
  -o-transform: skew(-22deg);
  -moz-transform: skew(-22deg);
  -webkit-transform: skew(-22deg);
}

#blockbottom {
  /*background-color: #4b184e;*/
  background-color: rgba(72, 18, 82, 0.42); /* Fenomenalna ljubicasta */
  position: absolute;
  bottom: 0px;
  right: -50%;
  z-index: 2;
  transform: skew(-22deg);
  -o-transform: skew(-22deg);
  -moz-transform: skew(-22deg);
  -webkit-transform: skew(-22deg);
}

#top {
  max-width: 500px;
  overflow: hidden;
}

#bottom {
  max-width: 500px;
  overflow: hidden;
}


/* Slika i naziv kluba */
#top h2{
  /*padding-top: 200px;*/
  font-size: 50px;
  padding-top: 10px;
  color: white;
  text-align: center;
}

#bottom h2{
  /*padding-top: 200px;*/
  font-size: 50px;
  color: white; 
  text-align: center; 
}

/* Rezultat */
#top h1{
  /*padding-top: 200px;*/
  font-size: 100px;
  color: white;
  text-align: center;
}

#bottom h1{
  /*padding-top: 200px;*/
  font-size: 100px;
  color: white;
  text-align: center;
}

#top p {
  color: white;
  font-size: 16px;
}

#bottom p {
  color: white;
  font-size: 16px;
}


/*************************************
* Kalendar
*************************************/
.simple-calendar {
  color: #dddddd;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}

.simple-calendar p {
  font-size: 17px;
}


.calendar-heading {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.calendar-title {
  color: #f9ad1c;
  font-size: 2em;
}

.prev-month {
  background: #eeeeee;
  color: #ccc;
}

.day {
  background: #f5f5f5;
  color: #23517d;
}

.simple-calendar .today {
  background: rgba(249, 173, 28, 0.21);
}

.has-events a {
  color: #a9a9a9;
}

.has-events a:hover {
  color: #f9ad1c;
  text-decoration: none;
}

/************************************/

/* Sakriva neke elemente na mobilnom,
   da bi stali na responsive ekranu*/
@media (min-width:480px){
  
  .OnlyforHandheld{
    display:none;
  }
  
}

@media (max-width:480px){

  .OnlyforWeb{
    display:none;
  }

  .simple-calendar {
    color: #dddddd;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }

  h2, .h2 {
    font-size: 14px;
  }

  .calendar-title {
    color: #f9ad1c;
    font-size: 22px;
  }
}
