

.form-group {
	display: block;
    margin: 0 auto;
    
    width: 45%;


}


@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	
	padding-top:0px;
}


#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	
	left: 50%;
	position: absolute;
  	margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  	display: block;
    margin: 0 auto;
    text-align: center;
}

.feedback-input {
	color:black;
	font-family: Helvetica, Arial, sans-serif;

  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  	padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
/*
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
*/
.form-control{
	border: 1px solid rgba(12,19,37,0.95);
}
textarea.form-control {
    
    height: 250px;


}
.panel .panel-default{
	border-radius:10px;
}
.panel-body {
    padding: 1%;
    overflow: none;
}


.button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	

	width: 45%;
	border: 1px solid rgba(12,19,37,0.95);
	cursor:pointer;
	background-color:rgba(12,19,37,0.95);
	color:white;
	font-size:24px;
	padding-top: 2px;
	padding-bottom: 2px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
  	margin-top:3px;
  	font-weight:700;
  	opacity: 0.9;

}

.button-blue:active{
	background-color: rgba(0,0,0,0);
	color: #f9ad1c;
}
	
.submit:active{
	color:#f9ad1c;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .13s ease;
	-moz-transition: .13s ease;
	-o-transition: .13s ease;
	-ms-transition: .13s ease;
	transition: .13s ease;
}

.submit:active .ease{
  width:100%;
  background-color:#f9ad1c;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.form-group {
	    display: block;
	    margin: 0 auto;
	    width: 90%;
	}

} 





.submitdugme{
	text-align: center;
}

