/********************************************************************
 * Video background 
 ********************************************************************/
.big-background {
    z-index:550;
    text-align:center;
    height:100%;
    min-height:100%;
    position:relative;
    overflow:hidden
}

.big-background .big-background-container {
    width:830px;
    max-width:100%;
    display:inline-block;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}

.big-background-title {
    font-family:'Raleway',sans-serif;
    font-size:78px;
    color:#fff;
    font-weight:300;
    text-transform:uppercase;
    text-align:center;
    margin-bottom:22px;
    padding-top:20px;
    display:inline-block;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position:top center
}

a.big-background-btn {
    font-family:'Lato',sans-serif;
    font-size:13px;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    background:transparent;
    border:2px solid #fff;
    padding:10px 14px;
    cursor:pointer;
    letter-spacing:2px;
    text-align:center;
    display:inline-block;
    -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s background ease;
}

.big-background-btn:hover {
    color:#fff;
    background:rgba(255,255,255,0.20)
}

.big-background-default-image {
    background:url(../images/sunset.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    width:100%;
    height:100%;
    z-index:0;
    backface-visibility:hidden
}


/********************************************************************
 * Social media section
 ********************************************************************/
.about-section {
    font-family: 'Lato',sans-serif;
    color: #7f8c8d;
    background: #fff;
    padding-bottom: 80px;
    padding-top: 80px;
}

.about-section-container {
    text-align: center;
    padding-bottom: 10px;
}

.about-section-container p {
    padding-bottom: 80px;
    width: 70%;
    text-align: justify;
    margin: 0 auto;
}

.about-section-title {
    color: #3d566e;
    font-family: Ubuntu;
    font-weight: bold;
    padding: 0 35px;
    margin-bottom: 22px;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-position: center center;
    text-transform: uppercase;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
}

/********************************************************************
 * Small Video background 
 ********************************************************************/
.small-background-section {
    font-family:'Raleway',sans-serif;
    padding:100px 0;
    position:relative;
    width:100%;
    overflow:hidden
}

.small-background-container {
    position:relative;
    text-align:center
}

.small-background-title {
    z-index:10;
    display:inline-block;
    text-transform:uppercase;
    margin-bottom:20px;
    margin-top: 20px;
    position:relative;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position:top center
}



/********************************************************************
 * socials
 ********************************************************************/
.socials a {
    color:#fff
}

.socials a:hover {
    color:#bdc3c7
}



/********************************************************************
 * @media
 ********************************************************************/

@media screen and (max-width: 768px) {

}






@media (min-width: 300px) and (max-width: 449px)  {
  /* Dugme prijavi ekipu na naslovnoj strani*/
  a.about-section-btn {
    font-size: 25px;
  }

  .big-background-title,#colorize {
    line-height:1
}

  .small-background-title {
    font-size:30px
}
  /* Pozadina za telefon, posto nema videa na telefonu */
  .pattern {
    background-image:url(bg-intro.jpg);
    background-repeat: repeat;
    background-attachment:scroll;
    width:100%;
    height:600px;
    position:absolute;
    top:0;
    left:0; 
  }

  /* Video pozadina */
  .big-background {
      z-index: 550;
      text-align: center;
      height: 600px;
      min-height: 600px;
      position: relative;
      overflow: none;
  }

  .big-background-default-image {
      background: url(../images/sunset.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 600px;
      z-index: 0;
      backface-visibility: hidden;
    }



}

/* You might do landscape phones here if your content seems to need it */
@media (min-width: 450px) and (max-width: 599px) {

   .pattern {

    height:400px;
 
  }
  /* Social networks */
  .small-background-section {
    font-family: 'Raleway',sans-serif;
    padding: 100px 0;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  /* Footer prva kolona */
  #parallax-footer-welcome-pages ul li {
      display: inline-block;
      list-style: none;
      margin-right: 45%;
  }

  /* Video pozadina */
  .big-background {
      z-index: 550;
      text-align: center;
      height: 700px;
      min-height: 700px;
      position: relative;
      overflow: none;
  }

  .big-background-default-image {
      height: 400px;
    }

    .big-background-title {
        font-size:58px
    }

    .small-background-title {
        line-height:1
    }
}
/* Starting into tablets somewhere in here */
@media (min-width: 600px) and (max-width: 749px) {

  .pattern {

    height:400px;
 
  }
  /* Social networks */
  .small-background-section {
    font-family: 'Raleway',sans-serif;
    padding: 100px 0;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  /* Footer prva kolona */
  #parallax-footer-welcome-pages ul li {
      display: inline-block;
      list-style: none;
      margin-right: 45%;
  }

  /* Video pozadina */
  .big-background {
      z-index: 550;
      text-align: center;
      height: 700px;
      min-height: 700px;
      position: relative;
      overflow: none;
  }

  .big-background-default-image {
      height: 400px;
    }

}

/* Perhaps bigger tablets */
@media (min-width: 750px) and (max-width: 899px)  {

    .about-section-title {
    line-height:1
    }

    /* Pozadina za telefon, posto nema videa na telefonu */
  .pattern {
    background-image:url(bg-intro.jpg);
    background-repeat: repeat;
    background-attachment:scroll;
    width:100%;
    height:600px;
    position:absolute;
    top:0;
    left:0; 
  }

  /* Video pozadina */
  .big-background {
      z-index: 550;
      text-align: center;
      height: 600px;
      min-height: 600px;
      position: relative;
      overflow: none;
  }

  .small-background-section {
    font-family: 'Raleway',sans-serif;
    padding: 100px 0;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .big-background-default-image {
      background: url(../images/sunset.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 400px;
      z-index: 0;
      backface-visibility: hidden;
    }

}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
}

/* A bit bigger if you need some adjustments around here */
@media (min-width: 1100px) {
}

/* Widescreens */
@media (min-width: 1500px) {
}

