// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************************************************************************************************************
 * PODESAVANJA CSS
/****************************************************************************************************************/

/* WELCOME strana TEXTOVI */
/**************************/
/*  */
.about-section-title {
  font-family:'Raleway',sans-serif;
  font-size:28px;
  color:#3d566e;
  background:#fff;
}

/* Pronadjite nas na socijalnim mrezama */
.small-background-title {
  font-size: 28px;
  color: #f9ad1c;
  font-weight: 300;
}

.particles {
  font-size: 60px;
  background: rgba(212, 202, 182, 0.12);
  padding: 20px;
  border-radius:15px;
  min-height: 200px;
}

body {
/*    background: radial-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 50%), linear-gradient(#0c1325, #337ab7 60%, #0c1325);
*/
    background-image:url('bg-intro.jpg');
    background-size: cover;
}

/****************************************************************************************************************
 * TEMA 1: GOLUX 21st century SPORT (Fantasy Futsal - DE Sport - DigitalEra Sport - Fantasy Sport Stats)
/****************************************************************************************************************/

/****************************************************************************************************************
 * TEMA 2: GOLUX druga tema
/****************************************************************************************************************/

/****************************************************************************************************************
 * TEMA 3: Tema za BALF
/****************************************************************************************************************/


/****************************************************************************************************************
 * CSS za WELCOME stranu
/****************************************************************************************************************/
.navbar-transparent {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.container {
  position:relative;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  padding-bottom: 0;
}

@media(min-width:767px) {
    .navbar {
        /*padding: 20px 0;*/
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/*****************************************************************************************/

/* Boja slova u meniju */
.navbar-default .navbar-nav > li > a:hover {
    color: #c7c7c7;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #c7c7c7;
    background-color: transparent;
}

/* Boja polja dropdowna kada je oznaceno */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #c7c7c7;
    background-color: transparent;
}

/* Boja slova u dropdown meniju */
.dropdown-menu > li > a {
    color: #eeeeee;
}
.dropdown-menu {
    background-color: rgba(0,0,0,0.85);
}

/*****************************************************************************************/
/*
Tutorial Name: Modernize Your Site: Building a YouTube Video Background 
Author: Samuel Dalusung
*/


/* GENERAL STYLES
================================================== */
html {
    height:100%
}

body {
    font:15px/23px 'Raleway',sans-serif;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%
}


p {
    font-size:20px;
    line-height:140%;
    text-align:center;
    word-wrap: break-word;
}


ul li {
    display:inline-block;
    list-style:none;
}

.wrapper {
    z-index:600;
    position:relative
}

.pattern {
    background-image:url(pattern.png);
   /* background-image:url(bg-intro.jpg);*/
    /*background-size:cover;*/
    background-repeat: repeat;
    background-attachment:scroll;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.divider {
    background-image:url(../images/divider.png);
    display:block;
    width:300px;
    height:35px;
    margin:10px auto
}


#colorize {
    color:#f1c40f;
    font-family:'Lato',sans-serif;
    font-size:40px
}



/* BIG VIDEO BACKGROUND
================================================== */
.big-background {
    z-index:550;
    text-align:center;
    height:100%;
    min-height:100%;
    position:relative;
    overflow:hidden
}

.big-background .big-background-container {
    width:830px;
    max-width:100%;
    display:inline-block;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}

.big-background-title {
    font-family:'Raleway',sans-serif;
    font-size:78px;
    color:#fff;
    font-weight:300;
    text-transform:uppercase;
    text-align:center;
    margin-bottom:22px;
    padding-top:20px;
    display:inline-block;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position:top center
}

a.big-background-btn {
    font-family:'Lato',sans-serif;
    font-size:13px;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    background:transparent;
    border:2px solid #fff;
    padding:10px 14px;
    cursor:pointer;
    letter-spacing:2px;
    text-align:center;
    display:inline-block;
    -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s background ease;
}

.big-background-btn:hover {
    color:#fff;
    background:rgba(255,255,255,0.20)
}

.big-background-default-image {
    /*background:url(../images/sunset.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;*/
    width:100%;
    height:100%;
    z-index:0;
    backface-visibility:hidden
}



/* ABOUT SECTION
================================================== */
.about-section {
    font-family:'Lato',sans-serif;
    color:#7f8c8d;
    background:#fff;
    padding:60px 20px
}

.about-section-container {
    text-align:center;
    padding-bottom:50px
}

.about-section-title {
    padding:0 35px;
    margin-bottom:22px;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position:center center;
    text-transform:uppercase;
    padding-bottom: 30px;
}

/*background: #34495e; Plava boja*/
a.about-section-btn {
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #f5f5f5;
    background: #a94441;
    border: 2px solid #a94441;
    padding: 20px 20px;
    cursor: pointer;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    -webkit-transition: .4s background ease;
    -moz-transition: .4s background ease;
    -o-transition: .4s background ease;
    transition: .4s background ease;
}

.about-section-btn:hover {
    color: #fff;
    background: #34495e;
    border-color: #34495e;
}



/* SMALL VIDEO BACKGROUND 
================================================== */
.small-background-section {
    font-family:'Raleway',sans-serif;
    padding:100px 0;
    position:relative;
    width:100%;
    overflow:hidden
}

.small-background-container {
    position:relative;
    text-align:center
}

.small-background-title {
    z-index:10;
    display:inline-block;
    text-transform:uppercase;
    margin-bottom:20px;
    margin-top: 20px;
    position:relative;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position:top center
}



/* SOCIALS
================================================== */
.socials a {
    color:#fff
}

.socials a:hover {
    color:#bdc3c7
}

/******************************************************************/

/* CSS Animations
================================================== */

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.row-welcome {
  max-width:1680px;
  margin: auto;
}



/******************************************************************/


/* MEDIA QUERIES
================================================== */

@media screen and (max-width: 768px) {
.about-section-title {
    line-height:1
}
}

@media screen and (max-width: 480px) {
.big-background-title {
    font-size:58px
}

.small-background-title {
    line-height:1
}

/*.player{ display: none;}  -> If you want to remove the video bg on a specific viewport w/o plugin*/
}

@media screen and (max-width: 360px) {
.big-background-title,#colorize {
    line-height:1
}
}

@media screen and (max-width: 320px) {
.small-background-title {
    font-size:30px
}
}

/****************************************************************************************************************
 * Ikonice Social Network
 ***************************************************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);

*{box-sizing: border-box;}
/*
html,
body {
  height: 100%;
}
body {
  background: #eee;
}*/
/* .social-networks je nova klasa koja sluzi kao container za unutrasnje klase */
.social-networks {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background: rgba(10, 13, 57, 0.5);
    }

    li {
      position: relative;
      margin: 20px;
      padding: 0;
      /*max-width: 200px;*/
      max-width: 150px;
      min-width: 100px;
      flex: 1 100px;
      /*height: 200px;*/
      height: 150px;
      text-align: center;
      border-radius: 3px;
      border: 2px solid white;
      background: rgba(12, 19, 37, 0.59);
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s ease all, 2s linear transform, 0s linear top, 0s linear left;
        border-radius: 300px;
        background: #fff;
        z-index: 1;
      }
      &:hover {
        &:before {
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: translate(0,0);
          border-radius: 0;
          transition: .5s ease all, .1s linear transform, 0s linear top, 0s linear left;
        }
        .social-item{
          color: slategrey;
        }
      }

      a {
        text-decoration: none;
      }
    }

    .social-item {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase;
      color: #fff;
      z-index: 10;

      .fa {
        font-size: 40px;
        margin-bottom: 10px;
      }
    }

}

/******************************************************************************
 * Vertikalna linija sa desne strane popravljena
 ******************************************************************************/
.row {
    width: 100%;
}
/****************************************************************************************************************/



/* Smartphones start somewhere around here */
@media (min-width: 300px) and (max-width: 449px)  {
  /* Dugme prijavi ekipu na naslovnoj strani*/
  a.about-section-btn {
    font-size: 25px;
  }

  .row {
      padding-left: 10%;
      padding-right: 10%;
      margin-left: inherit;
  }
  .logo_navbar {
    padding-left: 7px;
  }
  

  /* Pozadina za telefon, posto nema videa na telefonu */
  .pattern {
    background-image:url(bg-intro.jpg);background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;


    width:100%;
    height:600px;
    position:absolute;
    top:0;
    left:0; 
  }

  /* Video pozadina */
  .big-background {
      z-index: 550;
      text-align: center;
      height: 600px;
      min-height: 600px;
      position: relative;
      overflow: none;
  }

  .big-background-default-image {
      /*background: url(../images/sunset.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;*/
      width: 100%;
      height: 600px;
      z-index: 0;
      backface-visibility: hidden;
    }

    /* Navbar ne treba da bude transparent za male ekrane */
    .navbar-transparent {
     background-color: #0c1325;
     background: #0c1325;
     border-color: #0c1325;
  }

}

/* You might do landscape phones here if your content seems to need it */
@media (min-width: 450px) and (max-width: 599px) {
  .dropdown-backdrop {
    position: static;
  }

  #pattern1 {
    height: 700px;
  }
  /* Pozadina za telefon, posto nema videa na telefonu */
  .pattern {
    background-image:url(bg-intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    width:100%;
    height:600px;
    position:absolute;
    top:0;
    left:0; 
  }

  .h1-title {
    font-family: Ubuntu;
    font-size: 1.8em;
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1.3px black;
    text-transform: uppercase;
  }
}

/* Starting into tablets somewhere in here */
@media (min-width: 600px) and (max-width: 749px) {

  /* Pozadina za telefon, posto nema videa na telefonu */
  .pattern {
    background-image:url(bg-intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    width:100%;
    height:400px;
    position:absolute;
    top:0;
    left:0; 
  }

  #pattern1 {
    height: 700px;
  }

  .big-background {
    min-height: 700px;
    height: 700px;
  }


  .big-background-default-image {
    height: 400px;
  }

  /* Social networks */
  .small-background-section {
    font-family: 'Raleway',sans-serif;
    padding: 100px 0;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  /* Footer prva kolona */
  #parallax-footer-welcome-pages ul li {
      display: inline-block;
      list-style: none;
      margin-right: 45%;
  }

  .h1-title {
    font-size: 1.9em;
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1.3px black;
    text-transform: uppercase;
  }

}

/* Perhaps bigger tablets */
@media (min-width: 750px) and (max-width: 899px)  {

  .pattern {
    background-image:url(bg-intro.jpg);background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    width:100%;
    height:600px;
    position:absolute;
    top:0;
    left:0; 
  }

  /* Video pozadina */
  .big-background {
      z-index: 550;
      text-align: center;
      height: 600px;
      min-height: 600px;
      position: relative;
      overflow: none;
  }

  .big-background-default-image {
      /*background: url(../images/sunset.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;*/
      width: 100%;
      height: 600px;
      z-index: 0;
      backface-visibility: hidden;
    }

  .col-md-4 {
    max-width: 230px;
  }

  .h1-title {
    font-family: Ubuntu;
    font-size: 1.9em;
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1.3px black;
    text-transform: uppercase;
  }
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) and (max-width: 1099px) {


  .h1-title {
    font-family: Ubuntu;
    font-size: 2.5em;
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1.3px black;
    text-transform: uppercase;
  }
}

/* A bit bigger if you need some adjustments around here */
@media (min-width: 1100px) and (max-width: 1299px) {
  .h1-title {
    font-family: Ubuntu;
    font-size: 2.8em;
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1.3px black;
    text-transform: uppercase;
  }
}

/* Widescreens */
@media (min-width: 1300px) and (max-width: 1499px) {
  .h1-title {
    font-family: Ubuntu;
    font-size: 3.2em;
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1.3px black;
    text-transform: uppercase;
  }
}

/* Widescreens */
@media (min-width: 1500px) and (max-width: 1799px)  {
  .h1-title {
    font-family: Ubuntu;
    font-size: 3.4em;
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1.3px black;
    text-transform: uppercase;
  }
}

/* Widescreens */
@media (min-width: 1800px) {
  .h1-title {
    font-family: Ubuntu;
    font-size: 3.5em;
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1.3px black;
    text-transform: uppercase;
  }
}