// Place all the styles related to the welcome_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Contact */
.contact-container {
    display: flex;
    max-height: 580;
}

.contact-column {
    flex: 1;
    /*background: rgba(23, 27, 23, 0.65);*/
    /* border: 1px solid #e6e6e6; */
    box-sizing: border-box;
}

.contact-column-one {
    order: 1;
}
.contact-column-two {
    order: 2;
}

.contact-form {
    width: 100%;
    min-width: 280px;
    max-width: 550px;
    margin: 0 auto;
    position: static;
    float: none;
    /* margin-right: 20px; */
    margin: 0 auto;
    /* margin-left: 20px; */
    margin-bottom: 20px;
    top: 0;
    bottom: 0;
    /* left: 0; */
    /* right: 0; */
    /* background: rgba(8, 10, 9, 0.44); */
    background: rgba(245, 245, 245, 0.13);
    padding: 20px;
    -webkit-border-radius: 10px;
  /* right: 0; */
  /*background: rgba(8, 10, 9, 0.44);*/
  background: rgba(245, 245, 245, 0.13);
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.contact-h1 {
  color:#FFF;
  /*font-family: 'Roboto Condensed';*/
  font-family: 'Work Sans', sans-serif;
  font-size: 2em;
  padding-top: 20px;
  text-shadow: 1px 1px 1.3px black;
  text-transform: uppercase;
}

 /*Map*/
#map_canvas {
  border: 4px solid whitesmoke;
  height: 300px;
  float: left;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  z-index: 10;
}

.contact p{
  color: whitesmoke;
  font-size: 1em;
  font-family: 'Hind Guntur', sans-serif;  
}

.contact-info-location
{
  color: whitesmoke; 
  margin-top: 10px;
  border:3px solid red;
}

.title-contact{
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-contact{
  padding-top: 10px;
  padding-bottom: 10px;
}

.location-info-contact{
  padding-top: 10px;
  padding-bottom: 10px;
}



/*************************************************************************/

.pos-rel{position:relative;
 
 }

.back-image{
  background-size: cover;
  background-attachment:fixed;
}

.wel-balf-info {
  /*padding-top: 30%;*/
  margin: auto;
}

.brojaci_wel {
  font-family: Ubuntu;
}

.brojaci_wel h5 {
    font-size: 22px;
    color: white;
    padding-bottom: 15px;
}

.brojaci_wel h1 {
  padding-top: 20px;
  font-size: 50px;
  color: #fff;
  font-weight:600;
}

.content-116 .counter{
  font-size: 90px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
}

.content-116 .counterBoxDetails{
  margin-top: 30px;
  color: #fff;
  font-size:22px;
}

.content-116 .orange-line {
    background: #1ccdca;
    height: 1px;
    margin: 0 auto 20px;
    
}
/**** pravljenje red brojaca *****/
.row_klas{
  padding-bottom: 5px;
  height: 250px;
}
/****** Oblikovanje svakog brojaca *****/
.md3_size{
  max-width: 200px;
  max-height: 160px;
  padding-top: 5%;
  padding-bottom: 2%;
  float:left;
}
.md3_size_3{
  margin-left: 50px;
}






/*************************************************************************/

/* Smartphones start somewhere around here */
@media (min-width: 300px) and (max-width: 399px) {
	/* Display block redja jedno ispod drugog */
	.contact-container {
	    display: block;
	    max-height: 580;
	}

}

/* You might do landscape phones here if your content seems to need it */
@media (min-width: 450px) and (max-width: 599px) {
	/* Display block redja jedno ispod drugog */
	.contact-container {
	    display: block;
	    max-height: 580;
	}
}

/* Starting into tablets somewhere in here */
@media (min-width: 600px) and (max-width: 749px) {
	/* Display block redja jedno ispod drugog */
	.contact-container {
	    display: block;
	    max-height: 580;
	}
}

/* Perhaps bigger tablets */
@media (min-width: 750px) and (max-width: 899px) {
	/* Display block redja jedno ispod drugog */
	.contact-container {
	    display: block;
	    max-height: 580;
	}
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
}

/* A bit bigger if you need some adjustments around here */
@media (min-width: 1100px) {
}

/* Widescreens */
@media (min-width: 1500px) {
}

/* Sakriva neke elemente na mobilnom,
   da bi stali na responsive ekranu*/
@media (min-width:480px){
  
  .OnlyforHandheld{
    display:none;
  }
  
}

@media (max-width:480px){

  .OnlyforWeb{
    display:none;
  }

}