<head>
      <title><%= @language.meni_kontakt %>|<%= @organisation_info.organisation_name %></title> 
       <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
       <!-- API KEY ZA GOOGLE -->
       <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEatumiZtC8J7Wz3GpR5ByBLjgn_o_X7U&callback=initMap"
  type="text/javascript"></script>
      <link href="https://fonts.googleapis.com/css?family=Hind+Guntur" rel="stylesheet">
</head>

<div class="balf-gradient-background">

<div id='wrapper'>
  <h1><%= @language.meni_kontakt %></h1>
</div>

<div class="h-padding info-contact contact">
      <p align="center" style="font-size: 20px">For more info, you can contact us:</p>
      <p align="center" style="font-size: 20px"><%= image_tag("icons/phone.png", :alt => "info", :width => "20px") %> <%= @organisation_info.phone_1 %><br>
       <%= image_tag("icons/phone.png", :alt => "info", :width => "20px") %> <%= @organisation_info.phone_2 %></p>
</div>

<!--******************************************************************
*  ONLY FOR WEB (Siroka mapa)
*******************************************************************--> 

<div class="">

  <h3 class="" align="center"><%= @language_2.kontaktirajte_nas_putem_maila %></h3>

  <div class="contact-container">
     
     <div class="contact-column contact-column-one">
        <!-- Email forma -->
        <div class="card-form">
              <div class="card-text">
                <%= render 'mail_form'%>
              </div>
        </div>
     </div>
         
      <!--   
      <div class="contact-column contact-column-two">
          <p class="contact-h3-title-right" align="center">Locations where you can play</p>
          <div class="googlemap col-xs-12" style="z-index: 2;">
              <div id="map" style="width: 95%; max-width: 550px; margin-left: 20px; height: 430px; color: black;"></div>
          </div>
      </div>-->
      
      <!-- Broj telefona -->
      <!--
      <div class="card-phone"> 
        <h3 class="h3-title" align="center">Ili na broj telefona:</h3>
        <h3 class="h3-title" align="center">060/329-19-15</h3>
        <h3 class="h3-title" align="center">069/286-93-42</h3>-->
        <!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbalfliga%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true">
        </iframe> -->
      <!--</div>-->
  </div>
</div>

<!-- Script for google maps-->
<script type="text/javascript">
    var map;
      /******************************************************************
      * koordinate lokacija
      ******************************************************************/ 
  var marker, i;
      var locations = [
        ['Balon Brazil', 44.8147872950479, 20.484832311049104, 8],
        ['Balon Fortis', 44.790238, 20.368629, 7],
        ['Balon Restart 2', 44.82403845461999, 20.4212907794863, 6],
        ['Balon Partizan', 44.79426743838765, 20.424588513560593, 5],
        ['Balon Zvezda', 44.79295602128656, 20.42232537874952, 4],
        ['Balon Zlatna Lopta', 44.792818006171736, 20.486114406958222, 3],
        ['Balon Trudbenik', 44.80676185742872, 20.501043582335114, 2],
        ['Balon Maximum Effect', 44.771688, 20.483896, 1]
      ];

      /******************************************************************
      * sa scrollwheel-om podesavamo scroll misa da ne zumira mapu
      * dok scroluje stranu zoom podesava pocetni zum mape 
      ******************************************************************/
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12, 
      scrollwheel: false,
      draggable: false,
      center: new google.maps.LatLng(44.8036, 20.4589),
      mapTypeId: google.maps.MapTypeId.ROADMAP
  });


  var infowindow = new google.maps.InfoWindow();
     
    /******************************************************************
    *  petlja for uzima iz niza clanove i postavlja koordinate na mapi
    *******************************************************************/ 
  var marker, i;

  for (i = 0; i < locations.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map,
      icon:"<%= asset_path 'balf32x32.png' %>"
    });
    /******************************************************************
    * prelaskom misa na marker prikazuje se info prozor i to se radi 
    * funkcijom addListener
    ******************************************************************/ 
    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
  /******************************************************************
  * sredjen zoom za mapu kad se klikne pocinje zoom 
  ******************************************************************/ 

  /*google.maps.event.addListener(map, 'click', function(event){
    this.setOptions({
      scrollwheel:true
    });
  });*/
  
  /******************************************************************
  * resize-ovanje mape kad se radi responsive stranice
  ******************************************************************/ 
     
   google.maps.event.addDomListener(window, "resize", function() {
   var center = map.getCenter();
   google.maps.event.trigger(map, "resize");
   map.setCenter(center); 
    });
</script>
