<% obj.each do |player_season| %>
	<tr>
		<td><%= link_to player_season[:position], player_path(player_season.player) %></td>
		<td class="OnlyforWeb"><%= image_tag player_season.player.avatar.url(:thumb), :height => "40px" %></td> <!-- Slika igraca -->
		<td><%= link_to "#{player_season.player.name} #{player_season.player.surname}", player_path(player_season.player) %></td>
		<td class="OnlyforWeb"><%= link_to player_season.player.team.name, player_path(player_season.player) %></td>
		<td><%= link_to player_season[:goals], player_path(player_season.player) %></td>
		<td><%= link_to player_season[:assists], player_path(player_season.player) %></td>
		<td><%= link_to player_season[:yellow_cards], player_path(player_season.player) %></td>
		<td><%= link_to player_season[:red_cards], player_path(player_season.player) %></td>
		<td><%= link_to player_season[:matches_played], player_path(player_season.player) %></td>
		<td><%= link_to player_season[:level], player_path(player_season.player) %></td>
		<td><%= link_to player_season[:expirience], player_path(player_season.player) %></td>
	</tr>
<% end %>