<div class="OnlyforWeb">
	<div align="center">
		<iframe src='<%= @rules41 %>' width="780" height="1014" style="border: none; margin-top: 20px;margin-bottom: 20px;"> </iframe>
	</div>
</div>
<div class="OnlyforHandheld">
	<div align="center">
		<iframe src="<%= @rules41 %>" width="100%" height="550px" style="border: none;"></iframe>
	</div>
</div>
