<% obj.each do |player_season| %>
	<tr onclick='location.href="<%= player_path(player_season.player) %>"'>
		<td><%= player_season[:position] %></td>
		<td class="OnlyforWeb"><%= image_tag player_season.player.avatar.url(:thumb), :height => "40", style: "max-width: 60px; overflow: hidden;" %></td> <!-- Slika ekipe -->
		<td><%= link_to "#{player_season.player.name} #{player_season.player.surname}", player_path(player_season.player) %></td>
		<td><%= link_to player_season.player.team.name, team_path(player_season.player.team) %></td>
		<td><%= player_season[:goals] %></td>
		<td><%= player_season[:assists] %></td>
		<td><%= player_season[:yellow_cards] %></td>
		<td><%= player_season[:red_cards] %></td>
		<td><%= player_season[:matches_played] %></td>
	</tr>
<% end %>