<head>
  <title><%= @league.name %>|<%= @organisation_info.organisation_name %></title>
</head>
<body>
	<div id='wrapper'>
		<h1><%= @league.name %></h1>
	</div>
	<div class="center">

		 <div class="player-stats-padding">
			<table class="player-stats">
			<tr>
				<th class="OnlyforWeb"><%= @language.pozicija_skraceno %></th><th class="OnlyforHandheld"><%= @language.pozicija_skraceno %></th>
				<th class="OnlyforWeb"></th>
				<th><%= @language.igrac %></th>
				<th><%= @language.ekipa %></th>
				<th class="OnlyforWeb"><%= @language.golova %></th><th class="OnlyforHandheld"><%= @language.golova_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.asistencija %></th><th class="OnlyforHandheld"><%= @language.asistencija_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.zutih_kartona %></th><th class="OnlyforHandheld"><%= @language.zutih_kartona_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.crvenih_kartona %></th><th class="OnlyforHandheld"><%= @language.crvenih_kartona_skraceno %></th>
				<th class="OnlyforWeb"><%= @language.nastupa %></th><th class="OnlyforHandheld"><%= @language.nastupa_skraceno %></th>
			</tr>
			<% if @player_seasons != nil %>
				<%= render 'stats/player', obj: @player_seasons.sort_by{|e| e[:position]} %>
			<% end %>
			</table>
		</div>
	</div>
</body>