<!-- ****************************************************************************** -->
<!-- Profilna slika u NAVBARu -->
<% if current_user.player %>
  <%= image_tag(current_user.player.avatar.url(:medium), :width => '40px') %>
<% end %>

<!-- ****************************************************************************** -->
<li ><%= link_to @language.meni_registruj_ekipu %>, registruj_ekipu_path %></li>
<!-- ****************************************************************************** -->
