<!-- Specijalan Parallax Footer za sve strane OSIM NASLOVNE -->
<footer class="parallax-footer" data-type="background" data-speed="10">
  <div class="footer-container">
    <div class="col-md-3">
      <ul>
        <li><%= @organisation_info.organisation_name %></li>
            <li><%= link_to @language.meni_vesti, articles_path %></li>
            <li><%= link_to @language.meni_registruj_ekipu, registruj_ekipu_path %></li>
            <li><%= link_to @language.footer_prijavi_se, new_player_path %></li>
            <li><%= link_to @language.footer_novi_delegat, registruj_delegata_path %></li>
            <!--<li><%= link_to "Kontakt", kontakt_path %></li>-->
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><%= @language_2.pratite_nas %></li>
            <li><a href="#{@organisation_info.facebook_link}"><%= image_tag("icons/facebook.png", :alt => "facebook", :width => "20px") %> Facebook </a></li>
            <li><a href="#{@organisation_info.twitter_link}"><%= image_tag("icons/twitter.png", :alt => "facebook", :width => "20px") %> Twitter</a></li>
            <li><a href="#{@organisation_info.pinterest_link}"><%= image_tag("icons/pinterest.png", :alt => "facebook", :width => "20px") %> Pinterest</a></li>
            <li><a href="#{@organisation_info.instagram_link}"><%= image_tag("icons/instagram.png", :alt => "facebook", :width => "20px") %> Instagram </a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><%= @language.meni_kontakt %></li>
            <li><a href=""><%= image_tag("icons/informacije_01.png", :alt => "info", :width => "20px") %> <%= @organisation_info.email_1 %></a></li>
            <li><a href=""><%= image_tag("icons/informacije_02.png", :alt => "marketing", :width => "20px") %> <%= @organisation_info.email_2 %></a></li>
            <!--<li><a href=""><%= image_tag("icons/informacije_03.png", :alt => "zalbe", :width => "20px") %> <%= @organisation_info.email_3 %></a></li>
            <li><a href=""><%= image_tag("icons/informacije_04.png", :alt => "zaposlenje", :width => "20px") %> <%= @organisation_info.email_4 %></a></li>-->
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Web Development</li>
            <!--<li><a href="http://goluxtech.com">&copy; Golux Technology Center</li>-->
            <!--<li><a href=""><%= image_tag("icons/golux.jpg", :alt => "golux", :width => "20px") %><br>Golux<br>Technology<br>Center</li>-->
            <li><a href="http://gtcsport.com">&copy; GTC SPORT</li>
            <!-- <li><a href="#">My Country | Place </a></li> -->
      </ul>
    </div>
  </div>
</footer>