<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>	
		<%= csrf_meta_tags %>

		<!-- jquery i bootstrap su potrebni za responsive menu(navbar) -->
		<%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.3.min.js' %>
		<%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' %>
		<%= javascript_include_tag 'device.min.js' %>
		<!-- favicon iconica-->
		<%= favicon_link_tag 'favicon.ico' %>
		<%= favicon_link_tag @organisation_info.avatar.url(:thumb) %>
    	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    	<!-- johnnyetfgoluks12clicky -->
		<script src="//static.getclicky.com/js" type="text/javascript"></script>
		<script type="text/javascript">try{ clicky.init(101003372); }catch(e){}</script>
	</head>
	<body>
		<%= render 'layouts/navigation' %>
		<div class="yield-content">
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>